/*importa tipografias*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
a,h1,h2,h3,h4,h5,h6,p{
  font-family: "Poppins", sans-serif;
}
$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#97BF41;
$COLOR-title:#0e1b4d;

ion-content{
    --background:rgba(230, 247, 255, 0.8);
}
/*--------------------------------------------------------------
# text 
--------------------------------------------------------------*/
form {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    
  }

  p{
    margin-top: 6%;
    padding-left: 1.5rem;
    color: $COLOR-title;
  }
h4{
  color: $COLOR-title;
  font-size: 20px;
}
  h3{
    color: $COLOR-title;
    font-size: 20px;
    font-weight:bold; 
    text-align: center;
  }
  small{
    color:grey;
}
.coments{
  color: $COLOR-title;
  font-size: 20px;
  font-weight:bold; 
}
/*--------------------------------------------------------------
# inputs 
--------------------------------------------------------------*/
.input-field {
    --border-color: transparent!important;
    --highlight-height: 0;
    border: 2px solid #bebebe;
    border-radius: 4px;
    max-width: 380px;
    width: 100%;
    background-color: #fff;
    margin: 10px 0;
    height: 55px;
    border-radius: 5px;
  }
  
  ion-card{
    background:rgba(169, 195, 207, 0.8) ;
  }
  .auth-time {
    --border-color: transparent!important;
        --highlight-height: 0;
        border: 2px solid #bebebe;
        border-radius: 4px;
        max-width: 380px;
        width: 100%;
        background-color: #fff;
        margin: 10px 0;
        height: 55px;
        border-radius: 5px;
    div.item-inner {
      border-top: none;
      ion-input {
        width: 100px;
        input {
          text-align: right;
        }
      }
    }
    ion-select {
      width: 300px;
    }
  }
  .text-input{
    margin-left: 5%;
  }

  ion-textarea{
    --border-color: transparent!important;
    --highlight-height: 0;
    border: 2px solid #bebebe;
    width: 80%;
    background-color: #fff;
    height: 100px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 20px;
  }

  ion-select {
    --border-color: transparent!important;
    --highlight-height: 0;
    border: 2px solid #bebebe;
    border-radius: 4px;
    max-width: 380px;
    width: 100%;
    background-color: #fff;
    margin: 10px 0;
    height: 55px;
    border-radius: 5px;
  }
  /*--------------------------------------------------------------
# botones 
--------------------------------------------------------------*/
.Btt-guardar{
  margin-top: 5%;
    // --background: #97BF41;
    --background: #0e1b4d;
    color: #fff;
    --border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
 }
 .Btt-Editar{
  margin-top: 5%;
 // --background: #97BF41;
 --background: #0e1b4d;
  color: #fff;
  margin-left: 20%;
  --border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
}
 .Btt-cancelar{
  margin-top: 5%;
  // --background: #97BF41;
  --background: #0e1b4d;
    color: #fff;
    --border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
 }
 .Btt-guardar:hover ,.Btt-cancelar:hover, .Btt-Editar:hover, .Btt-aprobar:hover{
  --background:rgba(113, 201, 241, 0.8);
  color:$COLOR-title;
  --border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
 
}

.Btt-desaprobar:hover{
  --background:rgb(245, 185, 185);
  color:$COLOR-title;
  --border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
}
.Btt-aprobar{
  margin-top: 13%;
  --background: #97BF41;
  color: #fff;
  --border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
}
.Btt-desaprobar{
  --background: rgb(250, 140, 140);
  color: #fff;
  --border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
}
/*--------------------------------------------------------------
# valid
--------------------------------------------------------------*/
ion-input.ng-valid{
    border: 0.2px solid green;
    border-right: 0.2px solid green;
    }
    ion-input.ng-invalid.ng-touched{
    border: 0.2px solid red;
    border-right: 0.2px solid red;
    }
  
    ion-select.ng-valid{
      border: 0.2px solid green;
      border-right: 0.2px solid green;
      }
      ion-select.ng-invalid.ng-touched{
      border: 0.2px solid red;
      border-right: 0.2px solid red;
      }
    .error-message{
      color: #FF0000;
      font-size: 14px;
      ion-icon{
        color: #FF0000;
      font-size: 14px;
      }
    }