<ion-content >
   <div *ngFor="let detail of detailsDoc">
    <p>Llene el siguiente formulario con su aprobación o declinación del proyecto y rellene el espacio de
      comentarios.</p>
  <form [formGroup]="FormEvaluacion" (ngSubmit)="projectValidation(FormEvaluacion.value,detail.projectName)">
      <ion-row>
          <ion-col size-md="6" size-lg="6" size-sm="12" size-xs="12" size-xl="6" class="ion-padding">
              <h4>Seleccione el estado del proyecto.</h4>
              <ion-select interface="popover" formControlName="validate" placeholder="Seleccionar">
                  <ion-select-option value="Aprobado">Aprobado</ion-select-option>
                  <ion-select-option value="Rechazado">Rechazado</ion-select-option>
              </ion-select>
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages1.validate">
                      <div class="error-message"
                          *ngIf="FormEvaluacion.get('validate').hasError(validation.type) && (FormEvaluacion.get('validate').dirty || FormEvaluacion.get('validate').touched) || FormEvaluacion.get('validate').hasError(validation.type) && inputUntouched">
                          <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                      </div>
                  </ng-container>
              </div>
          </ion-col>
          <ion-col size-md="6" size-lg="6" size-sm="12" size-xs="12" size-xl="6" class="ion-padding">
              <h4>Comentarios del estado del proyecto *.</h4>
              <ion-textarea (keypress)="eventHandler($event.keyCode)" formControlName="bodymessage" rows="4"
                  cols="40" placeholder="Comentarios del estado del proyecto"></ion-textarea>
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages1.bodymessage">
                      <div class="error-message"
                          *ngIf="FormEvaluacion.get('bodymessage').hasError(validation.type) && (FormEvaluacion.get('bodymessage').dirty || FormEvaluacion.get('bodymessage').touched) || FormEvaluacion.get('bodymessage').hasError(validation.type) && inputUntouched">
                          <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                      </div>
                  </ng-container>
              </div>
          </ion-col>
      </ion-row>
      <ion-row id="Botones-admin">
          <ion-col class="ion-text-center" size="6">
              <ion-button class="Btt-cancelar" type="submit">
                  Guardar
              </ion-button>
          </ion-col>
          <ion-col class="ion-text-center" size="6">
              <ion-button class="Btt-cancelar" (click)="cerrarModal()">
                  Cancelar
              </ion-button>
          </ion-col>
      </ion-row>
  </form>
   </div>
   
</ion-content>
