<ion-content>
  <ion-item id="item" class="botones">
    <ion-button (click)="cerrarModal()" fill="clear">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-item>
  <iframe width="100%" height="100%" [src]="urlSafe" frameborder="0"></iframe>
</ion-content>
