<ion-content>
  <ion-item id="item" class="botones">
    <ion-button (click)="cerrarModal()" fill="clear">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-item>
  <h3>Gracias por su registro a aire más limpio!</h3>
  <p *ngIf="emailUser"> Le enviamos un correo electrónico de verificación a
    <strong>{{emailUser}}</strong>.
    Si no esta en la bandeja de entrada, es posible que se encuentre en la carpeta de correo no deseado.
  </p>
  <ion-button id="reenviar" (click)="sendEmail()">Reenviar verificación</ion-button>
</ion-content>