$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#97BF41;
$COLOR-title:#0e1b4d;
$COLOR-HOVER-GREEN: #c6dd93;
$red:rgb(245, 185, 185);
/*importa tipografias*/
  @import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
  a,h1,h2,h3,h4,h5,h6,p{
    font-family: "Poppins", sans-serif;
  }

  
/*--------------------------------------------------------------
# bottons Section
--------------------------------------------------------------*/
.botones{

    ion-icon{
        font-size: 30px;
        color: $COLOR-title
    }
    --background: transparent;
}
h3{
    font-size: 20px;
    font-weight: bold;
     text-align: center;
     color: $COLOR-title;
}
p{
    font-size: 18px;
    //font-weight: bold;
     text-align: center;
     color: grey;
}
#reenviar{
    --background: #97BF41;
    width: 60%;
    height: 49px;
    margin-left: 20%;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600; 
}
#reenviar:hover {
    --background: #c6dd93;
   
  }
/*--------------------------------------------------------------
# Change with device Section
--------------------------------------------------------------*/

  @media (min-width: 361px) and (max-width: 479px){
    #reenviar{
        width: 80%;
        margin-left: 10%;
      
    }
  }
  @media (min-width: 240px) and (max-width: 360px){
    #reenviar{
        width: 80%;
        margin-left: 10%;
      
    }
  }