/*importa tipografias*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
a,h1,h2,h3,h4,h5,h6,p{
  font-family: "Poppins", sans-serif;
}
$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#97BF41;
$COLOR-title:#0e1b4d;

ion-content{
  --background: rgba(230, 247, 255, 0.8);
}
/*--------------------------------------------------------------
# text 
--------------------------------------------------------------*/
form {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    
  }
  p{
    color: $COLOR-title;
  }

  h3{
    color: $COLOR-title;
    font-size: 20px;
    font-weight:bold; 
    text-align: center;
  }
  small{
    color:grey;
}
/*--------------------------------------------------------------
# inputs 
--------------------------------------------------------------*/
ion-input {
    --border-color: transparent!important;
    --highlight-height: 0;
    border: 2px solid #bebebe;
    border-radius: 4px;
    max-width: 380px;
    width: 100%;
    background-color: #fff;
    margin: 10px 0;
    height: 55px;
    border-radius: 5px;
  }
  ion-select {
    --border-color: transparent!important;
    --highlight-height: 0;
    border: 2px solid #bebebe;
    border-radius: 4px;
    max-width: 380px;
    width: 100%;
    background-color: #fff;
    margin: 10px 0;
    height: 55px;
    border-radius: 5px;
  }
#columnCounters{
    border-right: 1px solid #22c7fb; 
}

/*--------------------------------------------------------------
# botones 
--------------------------------------------------------------*/
.Btt-guardar{
    --background: #0e1b4d;
    color: #fff;
    --border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
 }
 .Btt-cancelar{
    --background: #0e1b4d;
    color: #fff;
    --border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
 }
 .Btt-guardar:hover ,.Btt-cancelar:hover {
  --background: rgba(113, 201, 241, 0.8);
  color:$COLOR-title;
  --border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
 
}
/*button eye*/
ion-button {
    --background: transparent;
    --box-shadow:none;
    --text-align: end;
  }
  ion-icon{
    color: $COLOR-title;
  }
  /*--------------------------------------------------------------
# valid
--------------------------------------------------------------*/
ion-input.ng-valid{
    border: 0.2px solid green;
    border-right: 0.2px solid green;
    }
    ion-input.ng-invalid.ng-touched{
    border: 0.2px solid red;
    border-right: 0.2px solid red;
    }
  
    ion-select.ng-valid{
      border: 0.2px solid green;
      border-right: 0.2px solid green;
      }
      ion-select.ng-invalid.ng-touched{
      border: 0.2px solid red;
      border-right: 0.2px solid red;
      }
    .error-message{
      color: #FF0000;
      font-size: 14px;
      ion-icon{
        color: #FF0000;
      font-size: 14px;
      }
    }