<ion-content>
    <div id="perfiles">
        <ion-row>
            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4" class="  ion-text-center">
                <h3 class="text-toggle">Editar</h3>
            </ion-col>
            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4" class="  ion-text-center">
                <ion-toggle color="success" checked="{{activateEdit}}" [(ngModel)]="activateEdit">
                </ion-toggle>
            </ion-col>
            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4" class="  ion-text-center">
                <h3 class="text-toggle">No editar</h3>
            </ion-col>
        </ion-row>
        <!-- Formulario para Empresa (Solo carga cuando hizo login Empresa) -->
        <div *ngIf="activateCompanySection">
            <h3>Datos de la empresa</h3>
            <form [formGroup]="UpdatePNatural" (ngSubmit)="saveData(UpdatePNatural.value)">
                <ion-row>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Nit de la empresa</p>
                        <ion-input [readonly]="activateEdit" formControlName="nit"></ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.nit">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('nit').hasError(validation.type) && (UpdatePNatural.get('nit').dirty || UpdatePNatural.get('nit').touched) || UpdatePNatural.get('nit').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>
                                    &nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Nombre de la empresa</p>
                        <ion-input [readonly]="activateEdit" formControlName="companyName"></ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.companyName">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('companyName').hasError(validation.type) && (UpdatePNatural.get('companyName').dirty || UpdatePNatural.get('companyName').touched) || UpdatePNatural.get('companyName').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>
                                    &nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <div *ngIf="activateEdit">
                            <p>Actividad de la empresa</p>
                            <ion-input [readonly]="activateEdit" formControlName="companyActivity"></ion-input>
                        </div>
                        <div *ngIf="!activateEdit">
                            <p>Actividad de la empresa</p>
                            <ion-select formControlName="companyActivity" placeholder="Seleccionar" interface="popover">
                                <ion-select-option *ngFor="let actividad of Actividad">
                                    <h2>{{ actividad }}</h2>
                                </ion-select-option>
                            </ion-select>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.companyActivity">
                                    <div class="error-message"
                                        *ngIf="UpdatePNatural.get('companyActivity').hasError(validation.type) && (UpdatePNatural.get('companyActivity').dirty || UpdatePNatural.get('companyActivity').touched) || UpdatePNatural.get('companyActivity').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </form>
            <h3>Datos de la persona encargada</h3>
        </div>
        <!-- Formulario General -->
        <div class="P.Natural">
            <form [formGroup]="UpdatePNatural" (ngSubmit)="saveData(UpdatePNatural.value)">
                <ion-row>
                    <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                        <p>Nombres</p>
                        <ion-input [readonly]="activateEdit" formControlName="name"></ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.name">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('name').hasError(validation.type) && (UpdatePNatural.get('name').dirty || UpdatePNatural.get('name').touched) || UpdatePNatural.get('name').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>
                                    &nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                        <p>Apellidos</p>
                        <ion-input [readonly]="activateEdit" formControlName="lastName"></ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.lastName">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('lastName').hasError(validation.type) && (UpdatePNatural.get('lastName').dirty || UpdatePNatural.get('lastName').touched) || UpdatePNatural.get('lastName').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>
                                    &nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                        <div *ngIf="activateEdit">
                            <p>Tipo de documento</p>
                            <ion-input [readonly]="activateEdit" formControlName="documentType"></ion-input>
                        </div>
                        <div *ngIf="!activateEdit">
                            <p>Tipo de documento</p>
                            <ion-select formControlName="documentType" placeholder="Seleccionar" interface="popover">
                                <ion-select-option *ngFor="let option of options">
                                    <h2>{{ option }}</h2>
                                </ion-select-option>
                            </ion-select>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.documentType">
                                    <div class="error-message"
                                        *ngIf="UpdatePNatural.get('documentType').hasError(validation.type) && (UpdatePNatural.get('documentType').dirty || UpdatePNatural.get('documentType').touched) || UpdatePNatural.get('documentType').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                    </ion-col>
                    <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                        <p>N° Documento</p>
                        <ion-input [readonly]="activateEdit" formControlName="document"></ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.document">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('document').hasError(validation.type) && (UpdatePNatural.get('document').dirty || UpdatePNatural.get('document').touched) || UpdatePNatural.get('document').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>
                                    &nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                </ion-row>
                    <div *ngIf="activateEdit">
                        <div *ngFor="let data of detallesUSer">
                            <ion-row>
                            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>País</p>
                                <ion-input readonly>{{data.country}}</ion-input>
                            </ion-col>
                            <ion-col id="department" size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>Departamento</p>
                                <ion-input readonly>{{data.department}}</ion-input>
                            </ion-col>
                            <ion-col id="municipality" size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>Municipio</p>
                                <ion-input readonly>{{data.municipality}}</ion-input>
                            </ion-col>
                            </ion-row>
                        </div>
                    </div>
                    <div *ngIf="!activateEdit">
                        <ion-row>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>País</p>
                            <ion-select class="input-field" formControlName="country" placeholder="Seleccionar"
                                (ionChange)="oncountryChange()" interface="popover">
                                <ion-select-option *ngFor="let country of countries" [value]="country">
                                    {{country}}
                                </ion-select-option>
                            </ion-select>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.country">
                                    <div class="error-message"
                                        *ngIf="UpdatePNatural.get('country').hasError(validation.type) && (UpdatePNatural.get('country').dirty || UpdatePNatural.get('country').touched) || UpdatePNatural.get('country').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col id="department" size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Departamento</p>
                            <ion-select class="input-field" formControlName="department" placeholder="Seleccionar"
                                (ionChange)="departmentChange()" interface="popover">
                                <ion-select-option *ngFor="let department of Departmentchoose" [value]="department">
                                    {{department}}</ion-select-option>
                            </ion-select>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.department">
                                    <div class="error-message"
                                        *ngIf="UpdatePNatural.get('department').hasError(validation.type) && (UpdatePNatural.get('department').dirty || UpdatePNatural.get('department').touched) || UpdatePNatural.get('department').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col id="municipality" size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Municipio</p>
                            <ion-select class="input-field" formControlName="municipality" placeholder="Seleccionar"
                                interface="popover">
                                <ion-select-option *ngFor="let municipality of Municipalitychoose"
                                    [value]="municipality">
                                    {{municipality}}</ion-select-option>
                            </ion-select>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.municipality">
                                    <div class="error-message"
                                        *ngIf="UpdatePNatural.get('municipality').hasError(validation.type) && (UpdatePNatural.get('municipality').dirty || UpdatePNatural.get('municipality').touched) || UpdatePNatural.get('municipality').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        </ion-row>
                    </div>

                <ion-row>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Celular</p>
                        <ion-input [readonly]="activateEdit" formControlName="cellPhone"></ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.cellPhone">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('cellPhone').hasError(validation.type) && (UpdatePNatural.get('cellPhone').dirty || UpdatePNatural.get('cellPhone').touched) || UpdatePNatural.get('cellPhone').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>
                                    &nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Teléfono</p>
                        <ion-input [readonly]="activateEdit" formControlName="telephone"></ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.telephone">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('telephone').hasError(validation.type) && (UpdatePNatural.get('telephone').dirty || UpdatePNatural.get('telephone').touched) || UpdatePNatural.get('telephone').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>
                                    &nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Dirección</p>

                        <ion-input [readonly]="activateEdit" (keypress)="eventHandler($event.keyCode)"
                            formControlName="direction">
                        </ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.direction">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('direction').hasError(validation.type) && (UpdatePNatural.get('direction').dirty || UpdatePNatural.get('direction').touched) || UpdatePNatural.get('direction').hasError(validation.type) && inputUntouched ">
                                    <ion-icon name="information-circle-outline"></ion-icon>
                                    &nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col *ngIf="!activateEdit" class="ion-text-center" size="6">
                        <ion-button type="submit" class="Btt-cancelar">
                            Actualizar
                        </ion-button>
                    </ion-col>

                    <ion-col class="ion-text-center" size="6">
                        <ion-button class="Btt-cancelar" (click)="cerrarModal()">
                            Cancelar
                        </ion-button>
                    </ion-col>
                </ion-row>
            </form>


        </div>
    </div>
</ion-content>