$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#97BF41;
$COLOR-title:#0e1b4d;
$COLOR-HOVER-GREEN: #c6dd93;
$red:rgb(245, 185, 185);
/*importa tipografias*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# toolbar Section
--------------------------------------------------------------*/
ion-menu-button {
  color: #fff;
}

.title {
  text-align: center;
  font-size: 28px;
  color: #fff;
  font-weight: bold;
}

ion-toolbar {
  --background: #0e1b4d;
}

ion-content {
  --background: url(/assets/images/back2.jpg) no-repeat top center;
}

/*--------------------------------------------------------------
# calculator Section
--------------------------------------------------------------*/
ion-button {
  --background: transparent;
  --box-shadow: none;
  --text-align: end;
}

ion-icon {
  color: $COLOR-title;
}

/*--------------------------------------------------------------
# contenedor Section
--------------------------------------------------------------*/
#contenedor {
  width: 60%;
  left: 20%;
  margin-top: 2%;
  background: rgba(230, 247, 255, 0.8);
}

form {
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;

}

/*--------------------------------------------------------------
# Inputs Section
--------------------------------------------------------------*/
.input-field {
  --border-color: transparent !important;
  --highlight-height: 0;
  border: 2px solid #bebebe;
  border-radius: 4px;
  max-width: 380px;
  width: 100%;
  background-color: #fff;
  margin: 10px 0;
  height: 55px;
  border-radius: 5px;
}

.precio {
  margin-left: 5%;
}

.auth-time {
  --border-color: transparent !important;
  --highlight-height: 0;
  border: 2px solid #bebebe;
  border-radius: 4px;
  max-width: 380px;
  width: 100%;
  background-color: #fff;
  margin: 10px 0;
  height: 55px;
  border-radius: 5px;

  div.item-inner {
    border-top: none;

    ion-input {
      width: 100px;

      input {
        text-align: right;
      }
    }
  }
}

/*--------------------------------------------------------------
# title Section
--------------------------------------------------------------*/

.datos-aporte {
  font-size: 23px;
  font-weight: bold;
  color: $COLOR-SECUNDARY;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: $COLOR-title;
}

#patrocinar h5 {
  color: $COLOR-title;
  margin-top: 2%;
  //font-weight: 700;
  font-size: 20px;
  text-align: center;
}

p {
  color: $COLOR-title;

}

.info-calculo{
  font-size: 12px;
  font-weight: bold;
  color: $COLOR-title;
}
/*--------------------------------------------------------------
# buttons Section
--------------------------------------------------------------*/
#buttonNext {
  --background: #97BF41;
  width: 40%;
  height: 49px;
  margin-top: 5%;
  margin-left: 30%;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;

  transition: 0.5s;
}

#buttonNext:hover {
  --background: #c6dd93;

}

// #buttonAtras {
//   --background: #97BF41;
//   width: 40%;
//   height: 49px;
//   margin-top: 5%;
//   margin-left: 6%;
//   border-radius: 49px;
//   color: #fff;
//   text-transform: uppercase;
//   font-weight: 600;

//   transition: 0.5s;
// }

// #buttonAtras:hover {
//   --background: #c6dd93;

// }
// #buttonAtras+#buttonNext {
//   margin-left: 40px;
// }

/*--------------------------------------------------------------
# valid
--------------------------------------------------------------*/
// ion-input.ng-valid {
//   border: 2px solid $COLOR-SECUNDARY;
//   border-right: 2px solid $COLOR-SECUNDARY;
// }

// ion-input.ng-invalid.ng-touched {
//   border: 2px solid $red;
//   border-right: 2px solid $red;
// }

.error-message {
  color: #eb4545;
  text-align: center;
  font-size: 14px;

  ion-icon {
    color: #eb4545;
    font-size: 14px;
  }
}

/*--------------------------------------------------------------
# Change with device Section
--------------------------------------------------------------*/
@media (min-width: 1024px)and (max-width: 1350px) {

  // #buttonAtras {
  //   width: 40%;
  //   margin-left: 8%;
  // }

  #buttonNext {
    width: 40%;
  }

  // #buttonAtras+#buttonNext {
  //   margin-left: 20px;
  // }
  // #patrocinar h5{
  //   margin-top: 10%; 
  // }

}

@media (min-width:806px)and (max-width: 1023px) {

  // #buttonAtras {
  //   width: 40%;
  //   margin-left: 8%;
  // }

  #buttonNext {
    width: 40%;
  }

  // #buttonAtras+#buttonNext {
  //   margin-left: 20px;
  // }
  // #patrocinar h5{
  //   margin-top: 10%; 
  // }

}

@media (min-width: 751px) and (max-width: 805px) {

  // #buttonAtras {
  //   width: 40%;
  //   margin-left: 8%;
  // }

  #buttonNext {
    width: 40%;
  }

  // #buttonAtras+#buttonNext {
  //   margin-left: 20px;
  // }
  #contenedor {
    width: 80%;
    left: 8%;

  }

  // #patrocinar h5{
  //   margin-top: 10%; 
  // }
}

@media (min-width: 678px) and (max-width: 750px) {

  // #buttonAtras {
  //   width: 40%;
  //   margin-left: 8%;
  // }

  #buttonNext {
    width: 40%;
  }

  // #buttonAtras+#buttonNext {
  //   margin-left: 20px;
  // }
  #contenedor {
    width: 80%;
    left: 8%;

  }

  // #patrocinar h5{
  //   margin-top: 10%; 
  // }
}

@media (min-width: 647px) and (max-width: 677px) {

  // #buttonAtras {
  //   width: 40%;
  //   margin-left: 8%;
  // }

  #buttonNext {
    width: 40%;
  }

  // #buttonAtras+#buttonNext {
  //   margin-left: 20px;
  // }
  #contenedor {
    width: 80%;
    left: 8%;

  }

  // #patrocinar h5{
  //   margin-top: 10%; 
  // }
}

@media (min-width: 576px) and (max-width: 646px) {


  // #buttonAtras {
  //   width: 40%;
  //   margin-left: 8%;
  // }

  #buttonNext {
    width: 40%;
  }

  // #buttonAtras+#buttonNext {
  //   margin-left: 20px;
  // }
  #contenedor {
    width: 80%;
    left: 8%;

  }

  // #patrocinar h5{
  //   margin-top: 10%; 
  // }
}

@media (min-width: 480px) and (max-width: 575px) {


  // #buttonAtras {
  //   width: 40%;
  //   margin-left: 8%;
  // }

  #buttonNext {
    width: 40%;
  }

  // #buttonAtras+#buttonNext {
  //   margin-left: 20px;
  // }
  #contenedor {
    width: 80%;
    left: 8%;

  }

  .datos-aporte {
    font-size: 17px;
    font-weight: bold;
    color: $COLOR-SECUNDARY;
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
    color: $COLOR-title;
  }

  // #patrocinar h5{
  //   margin-top: 10%; 
  // }


}

@media (min-width: 361px) and (max-width: 479px) {


  // #buttonAtras {
  //   width: 40%;
  //   margin-left: 5%;
  // }

  // #buttonNext {
  //   width: 40%;
  // }

  // #buttonAtras+#buttonNext {
  //   margin-left: 20px;
  // }
  #contenedor {
    width: 90%;
    left: 2%;

  }

  .datos-aporte {
    font-size: 17px;
    font-weight: bold;
    color: $COLOR-SECUNDARY;
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
    color: $COLOR-title;
  }

  #patrocinar h5 {
    // margin-top: 10%;
    font-size: 18px;
  }
  .title {
    font-size: 18px;
  }


}

@media (min-width: 240px) and (max-width: 360px) {

  // #buttonAtras {
  //   width: 40%;
  //   margin-left: 5%;
  // }

  #buttonNext {
    width: 40%;
  }

  // #buttonAtras+#buttonNext {
  //   margin-left: 20px;
  // }

  #contenedor {
    width: 90%;
    left: 2%;

  }

  .title {
    font-size: 16px;
  }

  .datos-aporte {
    font-size: 15px;
    font-weight: bold;
    color: $COLOR-SECUNDARY;
  }

  h3 {
    font-size: 14px;
    font-weight: bold;
    color: $COLOR-title;
  }

  #patrocinar h5 {
    // margin-top: 10%;
    font-size: 16px;
  }

}