<ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">¡Patrocine proyectos!</ion-title>
</ion-toolbar>
<ion-content>
    <section id="patrocinar">
        <h5>Cada peso que aporte, permitirá plantar y/o conservar sumideros de CO<sub>2</sub> para generar aire más
            limpio.</h5>
        <ion-card id="contenedor">
            <form [formGroup]="dataSponsorship" (ngSubmit)="saveData(dataSponsorship.value)">
                <h3>Su huella de carbono es <small class="datos-aporte">{{valueCarbonFoot}}</small> toneladas de
                    CO<sub>2</sub> al año.</h3>
                <h3>Su aporte sería de $ <small class="datos-aporte">{{annualPrice}}</small> pesos anuales que equivalen
                    a
                    <small class="datos-aporte">{{Tree}}</small> árboles.
                </h3>
                <ion-row>
                    <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6" *ngIf="Rol == 'Empresa'">
                        <p>Ingrese la huella de carbono de su empresa o el plan de compensación requerido</p>
                        <!-- <ion-item class="auth-time3">
                            <ion-input disabled="true">{{CalculoHuellaCarbono}}</ion-input>
                            <ion-label>Ton CO2/año</ion-label>
                        </ion-item> -->

                        <ion-item class="auth-time">
                            <ion-input formControlName="carbonfootprint" (keypress)="eventHandler($event.keyCode)"
                                (ionChange)="priceCalculation()"></ion-input>
                            <ion-label>Ton CO<sub>2</sub>/año</ion-label>
                        </ion-item>

                        <!-- <ion-input class="input-field" formControlName="carbonfootprint"
                            (keypress)="eventHandler($event.keyCode)" (ionChange)="priceCalculation()"></ion-input>
                        <ion-label>Ton CO<sub>2</sub>/año</ion-label> -->
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.carbonfootprint">
                                <div class="error-message"
                                    *ngIf="dataSponsorship.get('carbonfootprint').hasError(validation.type) && (dataSponsorship.get('carbonfootprint').dirty || dataSponsorship.get('carbonfootprint').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>
                                    &nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                </ion-row>
                <div *ngIf="!active">
                    <hr color="#97BF41" size=3>
                    <p>Por favor, ingrese sus datos personales.</p>
                    <ion-row>
                        <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                            <p>Nombres</p>
                            <ion-input class="input-field" formControlName="name" placeholder="Nombres"></ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.name">
                                    <div class="error-message"
                                        *ngIf="dataSponsorship.get('name').hasError(validation.type) && (dataSponsorship.get('name').dirty || dataSponsorship.get('name').touched)">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                            <p>Apellidos</p>
                            <ion-input class="input-field" formControlName="lastName" placeholder="Apellidos">
                            </ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.lastName">
                                    <div class="error-message"
                                        *ngIf="dataSponsorship.get('lastName').hasError(validation.type) && (dataSponsorship.get('lastName').dirty || dataSponsorship.get('lastName').touched)">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                            <p>Correo electrónico</p>
                            <ion-input class="input-field" formControlName="email" type="email"
                                placeholder="Correo electrónico"></ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.email">
                                    <div class="error-message"
                                        *ngIf="dataSponsorship.get('email').hasError(validation.type) && (dataSponsorship.get('email').dirty || dataSponsorship.get('email').touched)">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                            <p>Número de celular</p>
                            <ion-input class="input-field" formControlName="cellPhone" placeholder="Número de celular">
                            </ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.cellPhone">
                                    <div class="error-message"
                                        *ngIf="dataSponsorship.get('cellPhone').hasError(validation.type) && (dataSponsorship.get('cellPhone').dirty || dataSponsorship.get('cellPhone').touched)">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
                <ion-row>
                    <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                        <p>Frecuencia del aporte</p>
                        <ion-input class="input-field" readonly formControlName="contributionFrequency"></ion-input>
                    </ion-col>
                    <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                        <p>Valor</p>
                        <ion-input class="input-field" readonly formControlName="amountMoney">
                            <ion-button (click)="priceCalculation()">
                                <ion-icon name="calculator-outline"></ion-icon>
                            </ion-button>
                        </ion-input>
                        <small *ngIf="!active" class="info-calculo">Si ya calculó su huella de carbono, oprima el ícono
                            de calculadora para ver su resultado de aporte mensual</small>
                    </ion-col>
                </ion-row>

                <ion-button id="buttonNext" shape="round" slot="end" type="submit">
                    Finalizar</ion-button>
            </form>
        </ion-card>
    </section>
</ion-content>