/*PEN STYLES*/
$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#97BF41;
$COLOR-title:#0e1b4d;
$COLOR-HOVER-GREEN: #c6dd93;
$red:rgb(245, 185, 185);
/*importa tipografias*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# toolbar Section
--------------------------------------------------------------*/
ion-menu-button {
    color: #fff;
    font-size: 30px;
}

ion-toolbar {
    --background: #0e1b4d;
}

.puntos {
    font-size: 28px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

/*--------------------------------------------------------------
# premios Section
--------------------------------------------------------------*/
h4 {
    font-size: 25px;
    color: grey;
    text-align: center;
}

#premios .pts-align {
    margin-right: 2%;
    font-size: 25px;
    text-align: right;
    color: $COLOR-title;
    font-weight: 600;
}

.premios .icon-box {
    padding: 30px;
    height: 100%;
    margin-top: 10%;
    position: relative;
    overflow: hidden;
    background: #fff;
    //border: 1px solid $COLOR-SECUNDARY;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.3);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}

a {
    text-decoration: none;
}


.premios .description {
    font-size: 16px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: $COLOR-title;
}

.img-icon2 {
    height: 100px;
    width: 100px;
    align-content: center;
    // border-radius: 50px;
}

.premios .icon {
    margin-bottom: 15px;
    text-align: center;
}

#premios .redimir {
    margin-top: 3%;
    --background: #97BF41;
    width: 150px;
    height: 49px;
    color: #fff;
    --border-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
}

#premios .redimir:hover {
    --background: #c6dd93;
}



/*--------------------------------------------------------------
# responsive Section
--------------------------------------------------------------*/
@media (min-width:1023)and (max-width: 1350) {
    
}

@media (min-width:806px)and (max-width: 1023px) {
    .premios .description {
        font-size: 14px;
    }
    #premios .pts-align {
        font-size: 20px;
      
    }
}

@media (min-width: 751px) and (max-width: 805px) {
    .premios .description {
        font-size: 14px;
    }
    #premios .pts-align {
        font-size: 20px;
      
    }
}

@media (min-width: 678px) and (max-width: 750px) {
}

@media (min-width: 647px) and (max-width: 677px) {}

@media (min-width: 576px) and (max-width: 646px) {
    .puntos {
        font-size: 22px;
    }   
    h4 {
        font-size: 22px;
    }
}

@media (min-width: 480px) and (max-width: 575px) {
    .puntos {
        font-size: 20px;
    }   
    h4 {
        font-size: 20px;
    }
    #premios .pts-align {
        text-align: center;
        
    }
    #premios .redimir {
       margin-left: 35%;
    }
}

@media (min-width: 361px) and (max-width: 479px) {
    .puntos {
        font-size: 18px;
    }   
    h4 {
        font-size: 18px;
    }
    #premios .pts-align {
        text-align: center;
        
    }
    #premios .redimir {
       margin-left: 25%;
    }
}

@media (min-width: 240px) and (max-width: 360px) {
    .puntos {
        font-size: 15px;
    }   
    h4 {
        font-size: 18px;
    }
    #premios .pts-align {
        text-align: center;
        
    }
    #premios .redimir {
       margin-left: 20%;
    }
}