<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <h3 class="puntos">Nuestros Beneficios</h3>
</ion-toolbar>
<ion-content>

  <h4>Acumulando puntos puede reclamar uno o varios de los siguientes beneficios</h4>
  <section class="premios" id="premios">
    <ion-row>
      <ion-col size-md="4" size-lg="3" size-sm="6" size-xs="12" size-xl="3">
        <div class="icon-box">
          <div class="icon">
            <img src="../assets/beneficios/termo.png" class="img-icon2">
          </div>
          <ion-row>
            <ion-col size-sm="6" size-xs="12">
              <h3 class="description">Vaso Térmico</h3>
            </ion-col>
            <ion-col size-sm="6" size-xs="12">
              <h3 class="pts-align">25 Pts</h3>
            </ion-col>

          </ion-row>
          <!-- <ion-button class="redimir">Redimir</ion-button> -->
        </div>
      </ion-col>
      <ion-col size-md="4" size-lg="3" size-sm="6" size-xs="12" size-xl="3">
        <div class="icon-box">
          <div class="icon">
            <img src="../assets/beneficios/botella.png" class="img-icon2">
          </div>
          <ion-row>
            <ion-col size-sm="6" size-xs="12">
              <h3 class="description">Termo de agua</h3>
            </ion-col>
            <ion-col size-sm="6" size-xs="12">
              <h3 class="pts-align">15 Pts</h3>
            </ion-col>
          </ion-row>
          <!-- <ion-button class="redimir">Redimir</ion-button> -->
        </div>
      </ion-col>
      <ion-col size-md="4" size-lg="3" size-sm="6" size-xs="12" size-xl="3">
        <div class="icon-box">
          <div class="icon">
            <img src="../assets/beneficios/bolsa.png" class="img-icon2">
          </div>
          <ion-row>
            <ion-col size-sm="6" size-xs="12">
              <h3 class="description">Bolsa de tela</h3>
            </ion-col>
            <ion-col size-sm="6" size-xs="12">
              <h3 class="pts-align">5 Pts</h3>
            </ion-col>
          </ion-row>
          <!-- <ion-button class="redimir">Redimir</ion-button> -->
        </div>
      </ion-col>
      <ion-col size-md="4" size-lg="3" size-sm="6" size-xs="12" size-xl="3">
        <div class="icon-box">
          <div class="icon">
            <img src="../assets/beneficios/cuaderno.png" class="img-icon2">
          </div>
          <ion-row>
            <ion-col size-sm="6" size-xs="12">
              <h3 class="description">Lapicero y libreta</h3>
            </ion-col>
            <ion-col size-sm="6" size-xs="12">
              <h3 class="pts-align">10 Pts</h3>
            </ion-col>
          </ion-row>
          <!-- <ion-button class="redimir">Redimir</ion-button> -->
        </div>
      </ion-col>
      <ion-col size-md="4" size-lg="3" size-sm="6" size-xs="12" size-xl="3">
        <div class="icon-box">
          <div class="icon">
            <img src="../assets/beneficios/cup.png" class="img-icon2">
          </div>
          <ion-row>
            <ion-col size-sm="6" size-xs="12">
              <h3 class="description">Pocillo</h3>
            </ion-col>
            <ion-col size-sm="6" size-xs="12">
              <h3 class="pts-align">10 Pts</h3>
            </ion-col>
          </ion-row>
          <!-- <ion-button class="redimir">Redimir</ion-button> -->
        </div>
      </ion-col>
      <ion-col size-md="4" size-lg="3" size-sm="6" size-xs="12" size-xl="3">
        <div class="icon-box">
          <div class="icon">
            <img src="../assets/beneficios/bolso.png" class="img-icon2">
          </div>
          <ion-row>
            <ion-col size-sm="6" size-xs="12">
              <h3 class="description">Morral</h3>
            </ion-col>
            <ion-col size-sm="6" size-xs="12">
              <h3 class="pts-align">160 Pts</h3>
            </ion-col>
          </ion-row>
          <!-- <ion-button class="redimir">Redimir</ion-button> -->
        </div>
      </ion-col>
      <ion-col size-md="4" size-lg="3" size-sm="6" size-xs="12" size-xl="3">
        <div class="icon-box">
          <div class="icon">
            <img src="../assets/beneficios/ticket.png" class="img-icon2">
          </div>
          <ion-row>
            <ion-col size-sm="6" size-xs="12">
              <h3 class="description">2 entradas a cine</h3>
            </ion-col>
            <ion-col size-sm="6" size-xs="12">
              <h3 class="pts-align">15 Pts</h3>
            </ion-col>
          </ion-row>
          <!-- <ion-button class="redimir">Redimir</ion-button> -->
        </div>
      </ion-col>
      <ion-col size-md="4" size-lg="3" size-sm="6" size-xs="12" size-xl="3">
        <div class="icon-box">
          <div class="icon">
            <img src="../assets/beneficios/planta.png" class="img-icon2">
          </div>
          <ion-row>
            <ion-col size-sm="6" size-xs="12">
              <h3 class="description">Suculenta</h3>
            </ion-col>
            <ion-col size-sm="6" size-xs="12">
              <h3 class="pts-align">10 Pts</h3>
            </ion-col>
          </ion-row>
          <!-- <ion-button class="redimir">Redimir</ion-button> -->
        </div>
      </ion-col>
      <ion-col size-md="4" size-lg="3" size-sm="6" size-xs="12" size-xl="3">
        <div class="icon-box">
          <div class="icon">
            <img src="../assets/beneficios/usb.png" class="img-icon2">
          </div>
          <ion-row>
            <ion-col size-sm="6" size-xs="12">
              <h3 class="description">USB 32 GB</h3>
            </ion-col>
            <ion-col size-sm="6" size-xs="12">
              <h3 class="pts-align">25 Pts</h3>
            </ion-col>
          </ion-row>
          <!-- <ion-button class="redimir">Redimir</ion-button> -->
        </div>
      </ion-col>
      <ion-col size-md="4" size-lg="3" size-sm="6" size-xs="12" size-xl="3">
        <div class="icon-box">
          <div class="icon">
            <img src="../assets/beneficios/bonsai.png" class="img-icon2">
          </div>
          <ion-row>
            <ion-col size-sm="6" size-xs="12">
              <h3 class="description">Bonsai</h3>
            </ion-col>
            <ion-col size-sm="6" size-xs="12">
              <h3 class="pts-align">70 Pts</h3>
            </ion-col>
          </ion-row>
          <!-- <ion-button class="redimir">Redimir</ion-button> -->
        </div>
      </ion-col>
    </ion-row>

  </section>

</ion-content>