<ion-toolbar>
  <ion-buttons slot="start">
    <a href="/intro">
      <ion-icon class="volver" name="arrow-back-outline"></ion-icon>
    </a>
  </ion-buttons>
  <h2>Plan de acción</h2>
</ion-toolbar>
<ion-content>
  <section id="plan" on="scrollToBtt()">
    <div class="blog-card">
      <div id="1" class="meta">
        <div class="icon"><img src="../assets/plan/reformular.png" class="img-menu"></div>
      </div>
      <div class="description">
        <h2>Reformular</h2>
        <p> Sensibilización ambiental. Concienciación de los empleados para modificar hábitos de comportamiento.</p>
      </div>
    </div>
    <div class="blog-card alt">
      <div id="2" class="meta">
        <div class="icon"><img src="../assets/plan/reducir.png" class="img-menu"></div>
      </div>
      <div class="description">
        <h2>Reducir</h2>
        <p> Reducción del consumo eléctrico. Mediante maquinarias eficientes, contadores inteligentes, sistemas de
          control y monitorización y llevando a cabo un uso responsable. </p>
      </div>
    </div>
    <div class="blog-card">
      <div id="3" class="meta">
        <div class="icon"><img src="../assets/plan/revalorizar.png" class="img-menu"></div>
      </div>
      <div class="description">
        <h2>Revalorizar</h2>
        <p> Sistemas de iluminación eficiente. Usar bombillas LED y lámparas fluorescentes de bajo consumo, aprovechar
          la luz natural por medio de sensores de luz y hacer una zonificación eficiente de la luz.</p>
      </div>
    </div>
    <div class="blog-card alt">
      <div class="meta">
        <div class="icon"><img src="../assets/plan/revalorizar2.png" class="img-menu"></div>
      </div>
      <div class="description">
        <h2>Revalorizar</h2>
        <p> Sistemas de climatización eficiente. Instalar paneles solares térmicos, aislar las instalaciones para evitar
          la pérdida de calor e instalar sistemas de climatización que optimicen el consumo energético haciendo un uso
          adecuado de ellos. </p>
      </div>
    </div>
    <div class="blog-card">
      <div id="4" class="meta">
        <div class="icon"><img src="../assets/plan/reemplazar.png" class="img-menu"></div>
      </div>
      <div class="description">
        <h2>Reemplazar</h2>
        <p>Transporte sostenible. Utilizar vehículo eléctrico, transporte público o compartido, practicar teletrabajo,
          no hacer trayectos innecesarios y emplear técnicas de conducción eficiente.</p>
      </div>
    </div>
    <div class="blog-card alt">
      <div id="5" class="meta">
        <div class="icon"><img src="../assets/plan/respetar.png" class="img-menu"></div>
      </div>
      <div class="description">
        <h2>Respetar</h2>
        <p>Consumo responsable. Comprar únicamente aquello que se vaya a utilizar y tener en cuenta la huella de carbono
          que deja el producto comprado. </p>
      </div>
    </div>
    <div class="blog-card">
      <div class="meta">
        <div class="icon"><img src="../assets/plan/reorientar.png" class="img-menu"></div>
      </div>
      <div class="description">
        <h2>Revalorizar</h2>
        <p>Energías renovables. Sustituir fuentes de energía contaminantes por aquellas que minimicen el impacto sobre
          el medio ambiente.</p>
      </div>
    </div>
    <div class="blog-card alt">
      <div id="6" class="meta">
        <div class="icon"><img src="../assets/plan/reorientar2.png" class="img-menu"></div>
      </div>
      <div class="description">
        <h2>Reorientar</h2>
        <p>Economía Circular. Aprovechar los recursos para reducir la entrada de nuevos materiales (Reducir, Reutilizar
          y Reciclar). No usar bolsas plásticas. </p>
      </div>
    </div>
    <div class="blog-card">
      <div class="meta">
        <div class="icon"><img src="../assets/plan/reformular.png" class="img-menu"></div>
      </div>
      <div class="description">
        <h2>Reformular</h2>
        <p>Sistemas de gestión ambiental. Implantar sistemas de gestión ambiental certificados con las normas ISO.</p>
      </div>
    </div>
    <div class="blog-card alt">
      <div class="meta">
        <div class="icon"><img src="../assets/plan/recompensar.png" class="img-menu"></div>
      </div>
      <div class="description">
        <h2>Recompensar</h2>
        <p><br> Plantar árboles ; Cuidar árboles ya sembrados. </p>
      </div>
    </div>
    <div class="blog-card">
      <div id="12">
        <div class="icon"><img src="../assets/plan/refabricar.png" class="img-menu"></div>
      </div>
      <div class="description">
        <h2>Refabricar</h2>
        <p><br> Utilizar termo, evitando el uso de botellas plásticas.</p>
      </div>
    </div>
    <div class="blog-card alt">
      <div id="13" class="meta">
        <div class="icon"><img src="../assets/plan/rediseñar.png" class="img-menu"></div>
      </div>
      <div class="description">
        <h2>Rediseñar</h2>
        <p><br> Consumir productos locales, reduciendo emisiones por transporte. </p>
      </div>
    </div>
    <div class="blog-card">
      <div id="14" class="meta">
        <div class="icon"><img src="../assets/plan/renovar.png" class="img-menu"></div>
      </div>
      <div class="description">
        <h2>Renovar</h2>
        <p>Realizar el certificado de gases; sincronizar; balancear y calibrar las llantas de los vehiculos.</p>
      </div>
    </div>
  </section>
</ion-content>