$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#97BF41;
$COLOR-title:#0e1b4d;
/*importa tipografias*/
  @import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
  a,h1,h2,h3,h4,h5,h6,p{
    font-family: "Poppins", sans-serif;
  }

  ion-content{
    --background:rgba(230, 247, 255, 0.8);
}
h3{
  font-weight: bold;
  font-size: 18px;
  color: $COLOR-title;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.text-input{
  padding-left: 0.5rem;
}
p{
  font-size: 15px;
  color: $COLOR-title;
  margin-top: 1%;
  margin-bottom: 1%; 
}
 /*inputs*/
 ion-input {
    --border-color: transparent!important;
    --highlight-height: 0;
    border: 2px solid #bebebe;
    border-radius: 4px;
    max-width: 380px;
    width: 100%;
    background-color: #fff;
    height: 55px;
    border-radius: 5px;
  }
  /*button eye*/
ion-button {
    --background: transparent;
    --box-shadow:none;
    --text-align: end;
  }
  ion-icon{
    color: $COLOR-title;
  }
  .Btt-guardar{
    background: $COLOR-title;
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
 }
 .Btt-cancelar{
    background: $COLOR-title;
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
 }
 .Btt-guardar:hover ,.Btt-cancelar:hover {
  --background :rgba(113, 201, 241, 0.8);
  color:$COLOR-title;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
 
}
#item{
  background: transparent;
}
 form {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    
  }
  p{
    color: $COLOR-title;
  }
  small{
      color:grey;
  }