<ion-content>
    <section id="register">
        <ion-button (click)="cerrarModal()" fill="clear">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        <ion-card id="contenedor">
            <div id="naturalPerson">
                <ion-card-content *ngFor="let details of detailsDoc">
                    <h3>Información de general</h3>
                    <ion-row>
                        <ion-col size-md="6" size-lg="3" size-sm="6" size-xs="12" size-xl="3">
                            <p>Huella de carbono total</p>
                            <ion-input class="input-field" readonly="true">
                                <ion-label class="text-input">{{details.carbonfootprint}}</ion-label>
                            </ion-input>
                        </ion-col>
                        <ion-col size-md="6" size-lg="2.5" size-sm="6" size-xs="12" size-xl="2.5">
                            <p>Aporte Mensual</p>
                            <ion-input class="input-field" readonly="true">
                                <ion-label class="text-input">{{details.amountMoney}}</ion-label>
                            </ion-input>
                        </ion-col>
                        <ion-col size-md="6" size-lg="2.5" size-sm="6" size-xs="12" size-xl="2.5">
                            <p>Aporte anual </p>
                            <ion-input readonly="true">
                                <ion-label class="text-input">
                                    {{details.annualPrice}}
                                </ion-label>
                            </ion-input>
                        </ion-col>
                        <ion-col size-md="6" size-lg="4" size-sm="6" size-xs="12" size-xl="4">
                            <p>Frecuencia de la contribución</p>
                            <ion-input class="input-field" readonly="true">
                                <ion-label class="text-input">{{details.contributionFrequency}}</ion-label>
                            </ion-input>
                        </ion-col>
                    </ion-row>
                    <h3>Información del patrocinador</h3>
                    <ion-row>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Nombre</p>
                            <ion-input class="input-field" readonly="true">
                                <ion-label class="text-input">{{details.name}}</ion-label>
                            </ion-input>
                        </ion-col>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Apellido</p>
                            <ion-input class="input-field" readonly="true">
                                <ion-label class="text-input">{{details.lastName}}</ion-label>
                            </ion-input>
                        </ion-col>
                        <ion-col id="department" size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Correo electrónico</p>
                            <ion-input class="input-field" readonly="true">
                                <ion-label class="text-input">{{details.user.email}}</ion-label>
                            </ion-input>
                        </ion-col>
                        <ion-col id="municipality" size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Celular</p>
                            <ion-input class="input-field" readonly="true">
                                <ion-label class="text-input">{{details.cellPhone}}</ion-label>
                            </ion-input>
                        </ion-col>
                    </ion-row>
                    <h3>Información de la huella de carbono</h3>
                    <ion-row>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Cálculo de Electricidad</p>
                            <ion-input class="input-field" readonly="true">
                                <ion-label class="text-input">{{details.carbonPorcentages.CalculodeElectricidad}}
                                </ion-label>
                            </ion-input>
                        </ion-col>
                        <ion-col size-md="4" size-lg="4" size-sm="8" size-xs="12" size-xl="4">
                            <p>Cálculo de Alimentación </p>
                            <ion-input class="input-field" readonly="true">
                                <ion-label class="text-input">{{details.carbonPorcentages.CalculodeAlimentacion}}
                                </ion-label>
                            </ion-input>
                        </ion-col>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Cálculo de Transporte Terrestre</p>
                            <ion-input class="input-field" readonly="true">
                                <ion-label class="text-input">{{details.carbonPorcentages.CalculodeTransporteTerrestre}}
                                </ion-label>
                            </ion-input>
                        </ion-col>
                        <ion-col size-md="4" size-lg="4" size-sm="8" size-xs="12" size-xl="4">
                            <p>Cálculo de Transporte Áereo</p>
                            <ion-input class="input-field" readonly="true">
                                <ion-label class="text-input">{{details.carbonPorcentages.CalculodeTransporteAereo}}
                                </ion-label>
                            </ion-input>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </div>
        </ion-card>
    </section>
</ion-content>