<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>

  <!-- ======= Intro Section ======= -->
  <section id="intro">
    <div class="intro-container">
      <img alt="Aire+Limpio" src="../assets/images/logo-blanco.png" class="logo">
      <p>Estrategias proactivas para la mejora de la calidad del aire</p>
      <source *ngFor="let video of items" class="play-btn" (click)="videomodal(video.url)">
      <a routerLink="/login" class="download-btn" *ngIf="!active"> Iniciar sesión</a>
      <a (click)="scrollMovement()" class="btn-get-started">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </a>
    </div>
  </section>
  <!-- End Intro Section -->

  <!-- ======= foot Section =======style="background-color:#e6e6e6;" -->
  <section id="foot" class="foot">
    <h2>Calcule su huella personal de carbono</h2>
    <ion-row>
      <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
        <p>Le permite contabilizar sus emisiones de CO<sub>2</sub> tomando en cuenta las compras de productos y
          servicios, alimentación, actividades recreativas, transportación entre otros.</p>
        <ion-button routerLink="/carbonfootprintform" class="download-btn"> Calcular</ion-button>
      </ion-col>
      <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
        <img alt="Aire+Limpio" src="../assets/iconos/foot.png" class="img-foot">
      </ion-col>
    </ion-row>
  </section><!-- End foot Section -->

  <!-- ======= App Section ======= -->
  <section id="download" class="download ">
    <h2>Descargue nuestra aplicación</h2>
    <ion-row>
      <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
        <img alt="Aire+Limpio" class="img-download" src="../assets/images/app.png">
      </ion-col>
      <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
        <p>Ya está disponible nuestra APP para que este conectado con todo lo que Aire más Limpio tiene para ofrecerle.
        </p>
        <ion-row id="Botones-admin">
          <ion-col class="ion-text-center" size="6">
            <ion-button href="#" target="_blank" class="descargar">
              <ion-icon name="logo-android"></ion-icon> Para Android
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-center" size="6">
            <ion-button class="descargar" (click)="presentToastApple()">
              <ion-icon name="logo-apple"></ion-icon> Para iOS
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </section>
  <!-- End App Section -->

  <!-- ======= Promo Section ======= -->
  <section id="promo" class="promo ">
    <h2>Contribuya en la mejora de la calidad del aire</h2>
    <ion-row>
      <ion-col size-md="3" size-lg="3" size-sm="6" size-xs="12" size-xl="3" *ngIf="!active">
        <a routerLink="/login/registry">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon">
              <ion-icon name="person-add-outline"></ion-icon>
            </div>
            <h4 class="title"><a routerLink="/login/registry">Regístrese</a></h4>
            <p class="description">Cree un usuario y acceda a todos los servicios</p>
          </div>
        </a>
      </ion-col>
      <ion-col s size-md="3" size-lg="3" size-sm="6" size-xs="12" size-xl="3" *ngIf="!active">
        <a (click)="popUp()">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon">
              <ion-icon name="heart-circle-outline"></ion-icon>
            </div>
            <h4 class="title">Aporte Voluntario</h4>
            <p class="description">Ayúdenos a ayudar al medio ambiente</p>
          </div>
        </a>
      </ion-col>
      <ion-col size-md="3" size-lg="3" size-sm="6" size-xs="12" size-xl="3" *ngIf="!active">
        <a routerLink="/projectregistrationform">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon">
              <ion-icon name="add-circle-outline"></ion-icon>
            </div>
            <h4 class="title"><a routerLink="/projectregistrationform">Registre un proyecto</a></h4>
            <p class="description">Agregue un proyecto que ayude a mitigar el CO<sub>2</sub></p>
          </div>
        </a>
      </ion-col>
      <ion-col s size-md="3" size-lg="3" size-sm="6" size-xs="12" size-xl="3" *ngIf="!active">
        <a href="/allprojects">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon">
              <ion-icon name="cash-outline"></ion-icon>
            </div>
            <h4 class="title"><a href="/allprojects">Patrocine un proyecto</a></h4>
            <p class="description">Contribuya a la preservación de bosques</p>
          </div>
        </a>
      </ion-col>

      <!-- INICIADO SESIÓN-->
      <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4" *ngIf="active">
        <a (click)="popUp()">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon">
              <ion-icon name="heart-circle-outline"></ion-icon>
            </div>
            <h4 class="title">Aporte Voluntario</h4>
            <p class="description">Ayúdenos a ayudar al medio ambiente</p>
          </div>
        </a>
      </ion-col>
      <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4" *ngIf="active">
        <a routerLink="/projectregistrationform">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon">
              <ion-icon name="add-circle-outline"></ion-icon>
            </div>
            <h4 class="title"><a routerLink="/projectregistrationform">Registre un proyecto</a></h4>
            <p class="description">Agregue un proyecto que ayude a mitigar el CO<sub>2</sub></p>
          </div>
        </a>
      </ion-col>
      <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4" *ngIf="active">
        <a href="/allprojects">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon">
              <ion-icon name="cash-outline"></ion-icon>
            </div>
            <h4 class="title"><a href="/allprojects">Patrocine un proyecto</a></h4>
            <p class="description">Contribuya a la preservación de bosques</p>
          </div>
        </a>
      </ion-col>
    </ion-row>
  </section>
  <!-- End Promo Section -->

  <!-- ======= team Section ======= -->
  <section id="team" class="team">
    <h2>Beneficios para nuestros patrocinadores</h2>
    <ion-row>
      <ion-col size-md="4" size-lg="2" size-sm="4" size-xs="12" size-xl="2">
        <div class="icon"><img alt="Aire+Limpio" src="../assets/iconos/almacenes.png" class="img-icon2"></div>
        <p class="description">Almaneces de cadena</p>
      </ion-col>
      <ion-col size-md="4" size-lg="2" size-sm="4" size-xs="12" size-xl="2">
        <div class="icon"><img alt="Aire+Limpio" src="../assets/iconos/gasolinera.png" class="img-icon2"></div>
        <p class="description">Gasolineras</p>
      </ion-col>
      <ion-col size-md="4" size-lg="2" size-sm="4" size-xs="12" size-xl="2">
        <div class="icon"><img alt="Aire+Limpio" src="../assets/iconos/hotel.png" class="img-icon2"></div>
        <p class="description">Hoteles</p>
      </ion-col>
      <ion-col size-md="4" size-lg="2" size-sm="4" size-xs="12" size-xl="2">
        <div class="icon"><img alt="Aire+Limpio" src="../assets/iconos/mercado.png" class="img-icon2"></div>
        <p class="description">Supermercados</p>
      </ion-col>
      <ion-col size-md="4" size-lg="2" size-sm="4" size-xs="12" size-xl="2">
        <div class="icon"><img alt="Aire+Limpio" src="../assets/iconos/restaurante.png" class="img-icon2"></div>
        <p class="description">Restaurantes</p>
      </ion-col>
      <ion-col size-md="4" size-lg="2" size-sm="4" size-xs="12" size-xl="2">
        <div class="icon"><img alt="Aire+Limpio" src="../assets/iconos/otros.png" class="img-icon2"></div>
        <p class="description">Otros</p>
      </ion-col>
    </ion-row>
    <ion-button routerLink="/benefits" id="btn-benefits"> Conozcalos</ion-button>
  </section><!-- End Promo Section -->


  <!-- ======= Services Section ======= -->
  <section id="services" class="services ">
    <h2>Servicios</h2>
    <h5>Registrar y patrocinar un proyecto forestal incluye estos servicios</h5>
    <ion-row>
      <ion-col size-md="2" size-lg="2" size-sm="4" size-xs="12" size-xl="2">
        <div class="icon"><img alt="Aire+Limpio" src="../assets/iconos/abono.png" class="img-icon2"></div>
        <p class="description">Abono</p>
      </ion-col>
      <ion-col size-md="2" size-lg="2" size-sm="4" size-xs="12" size-xl="2">
        <div class="icon"><img alt="Aire+Limpio" src="../assets/iconos/riego.png" class="img-icon2"></div>
        <p class="description">Riego</p>
      </ion-col>
      <ion-col size-md="2" size-lg="2" size-sm="4" size-xs="12" size-xl="2">
        <div class="icon"><img alt="Aire+Limpio" src="../assets/iconos/seguir.png" class="img-icon2"></div>
        <p class="description">Control y seguimiento</p>
      </ion-col>
      <ion-col size-md="2" size-lg="2" size-sm="4" size-xs="12" size-xl="2">
        <div class="icon"><img alt="Aire+Limpio" src="../assets/iconos/pesticida.png" class="img-icon2"></div>
        <p class="description">Control de plagas</p>
      </ion-col>
      <ion-col size-md="2" size-lg="2" size-sm="4" size-xs="12" size-xl="2">
        <div class="icon"><img alt="Aire+Limpio" src="../assets/iconos/fuego.png" class="img-icon2"></div>
        <p class="description">Líneas corta fuegos</p>
      </ion-col>
      <ion-col size-md="2" size-lg="2" size-sm="4" size-xs="12" size-xl="2">
        <div class="icon"><img alt="Aire+Limpio" src="../assets/iconos/cortar.png" class="img-icon2"></div>
        <p class="description">Poda de árboles</p>
      </ion-col>
    </ion-row>

  </section><!-- End Services Section -->

  <!-- ======= PQR Section ======= -->
  <section id="app" class="app ">
    <h2>Peticiones, quejas, reclamos y sugerencias</h2>
    <form [formGroup]="FormContactanos" (ngSubmit)="sendEmail(FormContactanos.value)">
      <ion-row>
        <ion-col size-md="6" size-lg="6" size-sm="12" size-xs="12" size-xl="6" class="ion-padding">
          <h4>Llene de manera respetuosa el formulario de PQRS de Aire+limpio.</h4>
          <ion-input formControlName="email" type="email" placeholder="Correo electrónico" class="email-text">
          </ion-input>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message"
                *ngIf="FormContactanos.get('email').hasError(validation.type) && (FormContactanos.get('email').dirty || FormContactanos.get('email').touched) || FormContactanos.get('email').hasError(validation.type) && inputUntouched">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>
          <ion-textarea (keypress)="eventHandler($event.keyCode)" formControlName="bodymessage" rows="4" cols="40"
            placeholder="¿Cuál es el motivo de la consulta?"></ion-textarea>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.bodymessage">
              <div class="error-message"
                *ngIf="FormContactanos.get('bodymessage').hasError(validation.type) && (FormContactanos.get('bodymessage').dirty || FormContactanos.get('bodymessage').touched) || FormContactanos.get('bodymessage').hasError(validation.type) && inputUntouched">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
              </div>
            </ng-container>
          </div>
          <ion-button id="bttSubmitContactanos" shape="round" expand="full" type="submit">Enviar</ion-button>
        </ion-col>
        <ion-col size-md="6" size-lg="6" size-sm="12" size-xs="12" size-xl="6">
          <img alt="Aire+Limpio" class="img-pqr" src="../assets/images/pqr.svg">
        </ion-col>
      </ion-row>
    </form>
  </section>



  <!-- ======= Footer Section ======= -->
  <section id="footer" class="footer">
    <div class="footer-top">
      <ion-row>
        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
          <h3>Aire más limpio</h3>
          <p>Estrategias proactivas para la mejora de la calidad del aire</p>
          <h3>Redes sociales</h3>
          <div class="social-links">
            <a rel="noopener noreferrer" href="https://twitter.com/AireLimpio10R" class="twitter" target="_blank">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
            <a rel="noopener noreferrer" href="https://www.facebook.com/Airelimpio-108310761031281" class="facebook"
              target="_blank">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
            <a rel="noopener noreferrer" href="https://www.instagram.com/airelimpio10r/" class="instagram"
              target="_blank">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </div>
        </ion-col>
        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
          <h3>Contacto</h3>
          <p>
            Universidad de santander <br>
            Calle 70 N° 55-210, Bucaramanga, Santander<br>
            Colombia
          </p>
        </ion-col>
        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
          <p>
            <strong>Teléfono:</strong> (+57) 3219413463 / (+57) 3106955069<br><br>
            <strong>Email:</strong> 10airelimpio@gmail.com <br>wpardaveudes@gmail.com<br>
          </p>
        </ion-col>
      </ion-row>
    </div>
  </section>
  <!-- End Footer Section -->
</ion-content>