.section-with-bg {
  background-color: #f6f7fd;
}

/*importa tipografias*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#97BF41;
$COLOR-title:#0e1b4d;

/*menuuu*/
ion-toolbar {
  --background: #0e1b4d;
}

.wrapper {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

// ion-header {
//   background: rgba($COLOR-title,0.4);
//   width:auto;
//   position: fixed;
//   z-index: 10;
// }
ion-menu-button {
  color: #fff;
  font-size: 30px;
}

.logo {
  width: 25%;
  height: 30%;
  align-content: center;
  margin-bottom: 2%;

}

#intro {
  width: 100%;
  height: 100vh;
  background: url(/assets/images/principal.jpg) top center;

  background-size: cover;
  overflow: hidden;
  position: relative;
}

#intro:before {
  content: "";
  background: rgba(6, 12, 34, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .intro-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 90px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#intro p {
  color: #ebebeb;
  font-weight: 700;
  font-size: 20px;
  text-shadow: 1px 1px 2px #000;
}

#intro .download-btn {
  display: inline-block;
  //margin-left: 43%;
  margin-top: 2%;
  //margin-bottom: 5%;
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 22px;
  border-radius: 50px;
  border: 2px solid #fff;
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  line-height: 1;
  box-shadow: 0px 0px 60px 0px rgba(255, 255, 255, 0.6);
  font-size: 18px;
}

#intro .download-btn:hover {
  background: none;
  color: #fff;
}

#intro a {
  color: #fff;
  text-decoration: none;
}

#intro .play-btn {
  width: 94px;
  height: 94px;
  box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
  background: radial-gradient($COLOR-title 50%, rgba(167, 209, 248, 0.5) 52%);
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: 2%;
  cursor: pointer;
}

#intro .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#intro .play-btn:before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid $COLOR-title;
  top: -15%;
  left: -15%;
  background: rgba(255, 222, 89, 0);
}

#intro .play-btn:hover::after {
  border-left: 15px solid $COLOR-title;
  transform: scale(20);
}

#intro .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

#intro .btn-get-started {
  font-size: 46px;
  color: #fff;
  cursor: pointer;
}


@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# udes Section
--------------------------------------------------------------*/

#video {
  top: 90px;
}

// #video .video-box  {
//   width: 100%;
//   height: 50vh;
//   background: url(/assets/images/udes-verde.jpg) no-repeat;

//   background-size: cover;
//   overflow: hidden;
//   position: relative;
// }
.videoPlayer {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#video h2 {
  font-size: 30px;
  color: $COLOR-title;
  font-weight: bold;
  text-align: center;
  margin-top: 10%;
}

#video p {
  text-align: center;
  font-size: 18px;
  color: grey;
}

/*--------------------------------------------------------------
# Promo Section
--------------------------------------------------------------*/
// #promo{
//   //margin-top: 10%;
// }
.promo h2 {
  font-size: 30px;
  color: $COLOR-title;
  font-weight: bold;
  text-align: center;
  margin-top: 5%;
}

.promo ion-icon {
  font-size: 40px;
  color: $COLOR-SECUNDARY;
}

.promo .icon-box {
  padding: 30px;
  height: 100%;
  margin-top: 10%;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.3);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

a {
  text-decoration: none;
}

.promo .icon-box::before {
  content: '';
  position: absolute;
  background: white;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.promo .icon-box:hover::before {
  background: #a9b7ef;
  top: 0;
  border-radius: 0px;
}

.promo .icon {
  margin-bottom: 15px;
  text-align: center;
}

.promo .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
  color: $COLOR-title;
}

.promo .title a {
  //color: #7eac39;
  color: $COLOR-title;
  text-decoration: none;
  text-align: center;
}

.promo .description {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: center;
  color: grey;
}

.promo .icon-box:hover .title a,
.promo .icon-box:hover .description,
.promo .icon-box:hover .icon ion-icon {
  color: $COLOR-title;
}

/*--------------------------------------------------------------
# download Section
--------------------------------------------------------------*/
#download{
  margin-top: 8%;
}
.img-download {
  width: 60%;
  height: 40vh;
  margin-left: 20%;
}

.download h2 {
  font-size: 30px;
  color: $COLOR-title;
  font-weight: bold;
  text-align: center;
}

.download p {
  margin-top: 8%;
  text-align: center;
  font-size: 18px;
  color: grey;
  margin-left: 10%;
}

#download .descargar {
  --background: #97BF41;
  width: 60%;
  height: 49px;
  --border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: 0.5s;
  margin-left: 20%;
  margin-top: 15%;
}

#download .descargar:hover {
  --background: #c6dd93;
}

/*--------------------------------------------------------------
# Foot Section
--------------------------------------------------------------*/
#foot {
  margin-top: 5%;
}

.foot h2 {
  font-size: 30px;
  color: $COLOR-title;
  font-weight: bold;
  text-align: center;
  margin-top: 5%;
}

.foot p {
  margin-top: 8%;
  text-align: center;
  font-size: 18px;
  color: grey;
}

.img-foot {
  width: 60%;
  height: 40vh;
  margin-left: 20%;
}

#foot .download-btn {
  --background: #97BF41;
  width: 30%;
  height: 49px;
  --border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: 0.5s;
  margin-left: 38%;
}

#foot .download-btn:hover {
  --background: #c6dd93;
}

#foot a {
  color: #fff;
  text-decoration: none;
}

#foot .download-btn ion-icon {
  font-size: 20px;
  position: absolute;
  left: 18px;
  top: 8.5px;
}


/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
#services {
  //background: url(/assets/images/mountain2.png) no-repeat;
  margin-bottom: 0%;
  margin-top: 5%;
}

.services h2 {
  font-size: 30px;
  color: $COLOR-title;
  font-weight: bold;
  text-align: center;
}

.services h5 {
  font-size: 20px;
  color: grey;
  text-align: center;
  margin-bottom: 5%;
}

.img-icon2 {
  height: 100px;
  width: 100px;
  align-content: center;
  border-radius: 50px;
}

.services .icon {
  margin-bottom: 15px;
  text-align: center;
}

.services .img-icon2:hover {
  box-shadow: 0px 0px 60px 0px rgba(123, 152, 233, 0.6);
  border-radius: 50px;
}

.services .description {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: center;
  color: $COLOR-title
}

/*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/
#team {
  margin-bottom: 5%;
  margin-top: 5%;
}

#team h2 {
  font-size: 30px;
  color: $COLOR-title;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5%;
}

.img-icon2 {
  height: 100px;
  width: 100px;
  align-content: center;
  border-radius: 50px;
}

#team .icon {
  margin-bottom: 15px;
  text-align: center;
}

#team .img-icon2:hover {
  box-shadow: 0px 0px 60px 0px rgba(123, 152, 233, 0.6);
  border-radius: 50px;
}

#team .description {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: center;
  color: $COLOR-title
}
#btn-benefits {
  --background: #97BF41;
  width: 15%;
  height: 49px;
  --border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: 0.5s;
  margin-left: 42%;
}

#btn-benefits:hover {
  --background: #c6dd93;
}


/*--------------------------------------------------------------
# App Section
--------------------------------------------------------------*/
#app {
  margin-top: 10%;
}

.app h2 {
  font-size: 30px;
  color: $COLOR-title;
  font-weight: bold;
  text-align: center;
  //margin-top: 25%;
}

.app h4 {
  font-size: 18px;
  color: grey;
  text-align: justify;
  //margin-top: 25%;
}

.email-text {
  margin-top: 5%;
  --border-color: transparent !important;
  --highlight-height: 0;
  border: 2px solid #bebebe;
  width: 60%;
  background-color: #fff;
  height: 55px;
  border-radius: 5px;
}

ion-textarea {
  --border-color: transparent !important;
  --highlight-height: 0;
  border: 2px solid #bebebe;
  width: 80%;
  background-color: #fff;
  height: 100px;
  margin-top: 5%;
  border-radius: 5px;
}

#bttSubmitContactanos {
  --background: #97BF41;
  width: 150px;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: 0.5s;
}

#bttSubmitContactanos:hover {
  --background: #c6dd93;
}

/*--------------------------------------------------------------
# valid
--------------------------------------------------------------*/
ion-input.ng-valid {
  border: 0.2px solid green;
  border-right: 0.2px solid green;
}

ion-input.ng-invalid.ng-touched {
  border: 0.2px solid red;
  border-right: 0.2px solid red;
}

ion-textarea.ng-valid {
  border: 0.2px solid green;
  border-right: 0.2px solid green;
}

ion-textarea.ng-invalid.ng-touched {
  border: 0.2px solid red;
  border-right: 0.2px solid red;
}

.error-message {
  color: #FF0000;
}

/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: $COLOR-title;
}

#footer .footer-top .social-links a {
  font-size: 36px;
  display: inline-block;
  color: #fff;
  margin-right: 25px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  color: $COLOR-SECUNDARY;
  text-decoration: none;
}

#footer strong,
h3 {
  color: $COLOR-SECUNDARY;
  font-weight: bold;
}

#footer p {
  color: #fff;
}

/*--------------------------------------------------------------
# Change with device Section
--------------------------------------------------------------*/

@media (max-width: 1350px) {
  .logo {
    width: 25%;
    height: 20%;
  }
  #team{
    margin-top: 8%;
  }
}

@media (min-width: 1024px) {
  #intro {
    background-attachment: fixed;
  }

}

@media (min-width:806px)and (max-width: 1023px) {
  #intro .intro-container {
    top: 5px;
  }
  #team{
    margin-top: 8%;
  }
  #btn-benefits{
    width: 20%;
    margin-left: 40%;
  }
  .logo {
    width: 30%;
    height: 20%;
  }

  #intro p {
    font-size: 22px;
    margin-top: 2%;
  }

  .email-text {
    width: 80%;
  }

  ion-textarea {
    width: 100%;

  }

  .services h2 {
    font-size: 25px;
  }

  #team h2 {
    font-size: 25px;
  }

  .promo h2 {
    font-size: 25px;
  }

  .app h2 {
    font-size: 25px;
  }

  .download h2 {
    font-size: 25px;

  }

  .img-pqr {
    margin-top: 13%;
  }

  .download p {
    font-size: 16px;
    margin-left: 0%;
  }

  #download .descargar {
    width: 100%;
    margin-left: 0%;
    font-size: 16px;
  }

  .img-download {
    width: 100%;
    height: 40vh;
    margin-left: 0%;
  }
}

@media (min-width: 751px) and (max-width: 805px) {
  #app .download-btn {
    margin-left: 5%;
    margin-top: 5%;
  }
  #btn-benefits{
    width: 20%;
    margin-left: 40%;
  }
  #team{
    margin-top: 8%;
  }
  #video h2 {
    font-size: 20px;
    margin-top: 10%;
  }

  #video p {
    font-size: 16px;
  }

  #foot h2 {
    font-size: 25px;
    margin-top: 10%;
  }

  #foot p {
    font-size: 16px;
  }

  .email-text {
    width: 80%;
  }

  ion-textarea {
    width: 100%;

  }

  .logo {
    width: 33%;
    height: 15%;
    // margin-top: 8%;
  }

  #intro p {
    font-size: 22px;
    margin-top: 2%;
  }

  .services h5 {
    font-size: 20px;
    margin-bottom: 2%;
  }

  .services .description {
    font-size: 18px;
    margin-bottom: 0;
  }

  .services h2 {
    font-size: 25px;
  }

  #team h2 {
    font-size: 25px;
  }

  .promo h2 {
    font-size: 25px;
  }

  .app h2 {
    font-size: 25px;
  }

  .download h2 {
    font-size: 25px;

  }

  .img-pqr {
    margin-top: 18%;
  }

  .download p {
    font-size: 16px;
    margin-left: 0%;
  }

  #download .descargar {
    width: 100%;
    margin-left: 0%;
    font-size: 15px;
  }

  .img-download {
    width: 100%;
    height: 40vh;
    margin-left: 0%;
  }
}

@media (min-width: 678px) and (max-width: 750px) {
  .logo {
    width: 30%;
    height: 15%;
    //margin-top: 8%;
  }
  #team{
    margin-top: 8%;
  }
  #btn-benefits{
    width: 20%;
    margin-left: 40%;
  }
  #video h2 {
    font-size: 20px;
    margin-top: 10%;
  }

  #video p {
    font-size: 16px;
  }

  #foot h2 {
    font-size: 25px;
    margin-top: 10%;
  }

  #foot p {
    font-size: 16px;
  }

  #intro p {
    font-size: 22px;
    margin-top: 2%;
  }

  .app h2 {
    font-size: 25px;
  }

  .services h5 {
    font-size: 20px;
    margin-bottom: 2%;
  }

  .services .description {
    font-size: 18px;
    margin-bottom: 0;
  }

  .services h2 {
    font-size: 25px;
  }

  #team h2 {
    font-size: 25px;
  }

  .promo h2 {
    font-size: 25px;
  }

  .download h2 {
    font-size: 25px;

  }

  .download p {
    font-size: 16px;
    margin-left: 0%;
  }

  #download .descargar {
    width: 100%;
    margin-left: 0%;
    font-size: 13px;
  }

  .img-download {
    width: 100%;
    height: 40vh;
    margin-left: 0%;
  }
}

@media (min-width: 647px) and (max-width: 677px) {
  #app .download-btn {
    margin-left: 2%;
    margin-top: 5%;
  }
  #btn-benefits{
    width: 24%;
    margin-left: 38%;
  }
  #team{
    margin-top: 8%;
  }
  #video h2 {
    font-size: 25px;
    margin-top: 10%;
  }

  .promo h2 {
    font-size: 25px;
  }

  #team h2 {
    font-size: 25px;
  }

  #video p {
    font-size: 16px;
  }

  #foot h2 {
    font-size: 25px;
    margin-top: 10%;
  }

  #foot p {
    font-size: 16px;
  }

  .app h2 {
    font-size: 25px;
  }

  .logo {
    width: 25%;
    height: 15%;
    // margin-top: 8%;
  }

  #intro p {
    font-size: 22px;
    margin-top: 2%;
  }

  .services h2 {
    font-size: 25px;
  }

  .services h5 {
    font-size: 20px;
    margin-bottom: 2%;
  }

  .services .description {
    font-size: 18px;
    margin-bottom: 0;
  }

  #intro h5 {
    font-size: 22px;
  }

  .download h2 {
    font-size: 25px;

  }

  .download p {
    font-size: 16px;
    margin-left: 0%;
  }

  #download .descargar {
    width: 100%;
    margin-left: 0%;
    font-size: 12px;
  }

  .img-download {
    width: 100%;
    height: 40vh;
    margin-left: 0%;
  }
}

@media (min-width: 576px) and (max-width: 646px) {
  #app .download-btn {
    margin-left: 1%;
    margin-top: 3%;
  }
#btn-benefits{
  margin-left: 38%;
  width: 24%;
}
#team{
  margin-top: 15%;
}
  #app .download-btn+.download-btn {
    margin-left: 3px;
  }

  #video h2 {
    font-size: 25px;
    margin-top: 10%;
  }

  #video p {
    font-size: 14px;
  }

  #foot h2 {
    font-size: 25px;
    margin-top: 10%;
  }

  #foot p {
    font-size: 14px;
  }

  .promo h2 {
    font-size: 25px;
  }

  #team h2 {
    font-size: 25px;
  }

  .services h2 {
    font-size: 25px;
  }

  .app h2 {
    margin-top: 10%;
    font-size: 25px;
  }

  .logo {
    width: 30%;
    height: 15%;
    //margin-top: 8%;
  }

  #intro p {
    font-size: 22px;
    margin-top: 2%;
  }

  #foot .download-btn {
    width: 50%;
    margin-left: 20%;
  }

  #team .team-btn {
    margin-left: 43%;
    margin-top: 5%;
    margin-bottom: 5%;

  }

  .download h2 {
    font-size: 25px;

  }

  .download p {
    font-size: 16px;
    margin-left: 0%;
  }

  #download .descargar {
    width: 100%;
    margin-left: 0%;
    font-size: 10px;
  }

  .img-download {
    width: 100%;
    height: 40vh;
    margin-left: 0%;
  }
}

@media (min-width: 480px) and (max-width: 575px) {
  .logo {
    width: 30%;
    height: 15%;
    //margin-top: 15%;
  }
  #btn-benefits{
    width: 28%;
    margin-left: 36%;
  }
  #intro p {
    margin-top: 2%;
    font-size: 22px;
  }
  #team{
    margin-top: 15%;
  }
  .email-text {
    width: 60%;
  }

  ion-textarea {
    width: 90%;

  }

  .app h2 {
    font-size: 25px;
    margin-top: 3%;
  }

  .services h5 {
    font-size: 18px;
    margin-bottom: 2%;
  }


  .team h2 {
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  #team .team-btn {
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 5%;

  }

  .download h2 {
    font-size: 30px;

  }

  .download p {
    font-size: 18px;
    margin-left: 0%;
  }

  #download .descargar {
    width: 90%;
    margin-left: 0%;
  }

  .img-download {
    width: 80%;
    height: 40vh;
    margin-left: 5%;
  }
}

@media (min-width: 361px) and (max-width: 479px) {
  .logo {
    width: 33%;
    height: 15%;
    //margin-top: 15%;
  }

  #intro p {
    margin-top: 2%;
    font-size: 22px;
  }

  .email-text {
    width: 80%;
  }

  ion-textarea {
    width: 90%;

  }

  .app h2 {
    font-size: 25px;
    margin-top: 3%;
  }


  .services h5 {
    font-size: 18px;
    margin-bottom: 2%;
  }

  #btn-benefits {
    width: 40%;
    height: 49px;
    margin-left: 30%;
    font-size: 14px;
  }

  #foot .download-btn {
    width: 60%;
    height: 49px;
    margin-left: 20%;
    font-size: 14px;
    font-size: 18px;
  }

  .team h2 {
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  #download{
    margin-top: 15%;
  }
  #services{
    margin-top: 15%;
  }
  #team{
    margin-top: 15%;
  }
  #team .team-btn {
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 5%;

  }

  .download h2 {
    font-size: 30px;

  }

  .download p {
    font-size: 18px;
    margin-left: 0%;
  }

  #download .descargar {
    width: 100%;
    margin-left: 0%;
  }

  .img-download {
    width: 100%;
    height: 40vh;
    margin-left: 0%;
  }
}

@media (min-width: 240px) and (max-width: 360px) {
  .logo {
    width: 30%;
    height: 10%;
  }

  #intro p {
    margin-top: 2%;
    font-size: 20px;
  }

  .app h4 {
    font-size: 16px;
  }

  .email-text {
    width: 100%;
  }

  ion-textarea {
    width: 100%;

  }
  #download{
    margin-top: 15%;
  }
  #services{
    margin-top: 15%;
  }
  #team{
    margin-top: 15%;
  }
  .app h2 {
    font-size: 25px;
    margin-top: 3%;
  }

  #btn-benefits {
    width: 60%;
    height: 49px;
    margin-left: 20%;
    font-size: 14px;
  }

  .services h5 {
    font-size: 18px;
    margin-bottom: 2%;
  }

  #foot .download-btn {
    width: 60%;
    height: 49px;
    margin-left: 20%;
    font-size: 18px;
  }

  .team h2 {
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  #team .team-btn {
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 5%;

  }

  .download h2 {
    font-size: 30px;

  }

  .download p {
    font-size: 18px;
    margin-left: 0%;
  }

  #download .descargar {
    font-size: 10px;
    width: 100%;
    margin-left: 0%;
  }

  .img-download {
    width: 100%;
    height: 40vh;
    margin-left: 0%;
  }
}

@media (orientation: landscape) {
  .logo {
    width: 20%;
    height: 23%;
  }

  // #intro h5 {
  //   font-size: 18px;
  // }
}