<ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Registro de usuarios</ion-title>
</ion-toolbar>
<ion-content>
    <section id="register">
        <ion-card id="contenedor">
            <ion-segment class="tabs" [(ngModel)]="selectTabs">
                <ion-segment-button value="naturalPerson">
                    <ion-label>Personas</ion-label>
                </ion-segment-button>
                <ion-segment-button value="business">
                    <ion-label>Empresas</ion-label>
                </ion-segment-button>
            </ion-segment>
            <div id="naturalPerson" *ngIf="selectTabs== 'naturalPerson'">
                <ion-card-content>
                    <form [formGroup]="RegistryPNatural" (ngSubmit)="saveDataPNatural(RegistryPNatural.value)">
                        <ion-row>
                            <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                <p>Nombres</p>
                                <ion-input formControlName="name" placeholder="Nombres"></ion-input>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.name">
                                        <div class="error-message"
                                            *ngIf="RegistryPNatural.get('name').hasError(validation.type) && (RegistryPNatural.get('name').dirty || RegistryPNatural.get('name').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                            <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                <p>Apellidos</p>
                                <ion-input formControlName="lastName" placeholder="Apellidos"></ion-input>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.lastName">
                                        <div class="error-message"
                                            *ngIf="RegistryPNatural.get('lastName').hasError(validation.type) && (RegistryPNatural.get('lastName').dirty || RegistryPNatural.get('lastName').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                <p>Correo electrónico</p>
                                <ion-input (keypress)="Event($event.keyCode)" (click)="presentToast1()"
                                    formControlName="email" type="email" placeholder="Correo electrónico"></ion-input>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.email">
                                        <div class="error-message"
                                            *ngIf="RegistryPNatural.get('email').hasError(validation.type) && (RegistryPNatural.get('email').dirty || RegistryPNatural.get('email').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                            <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                <p>Número de celular</p>
                                <ion-input formControlName="cellPhone" placeholder="Número de celular"></ion-input>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.cellPhone">
                                        <div class="error-message"
                                            *ngIf="RegistryPNatural.get('cellPhone').hasError(validation.type) && (RegistryPNatural.get('cellPhone').dirty || RegistryPNatural.get('cellPhone').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                        </ion-row>
                        <div formGroupName="passwordRetry">
                            <ion-row>
                                <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                    <!-- se utiliza un boton para cambiar el tipo de text de Password a text -->
                                    <p>Contraseña</p>
                                    <ion-input formControlName="password" [type]="hide1 ? 'text' : 'password'"
                                        placeholder="Contraseña">
                                        <ion-button (click)="hide1 = !hide1">
                                            <ion-icon [name]="hide1 ? 'eye-off' : 'eye'"></ion-icon>
                                        </ion-button>
                                    </ion-input>
                                    <small>
                                        Debe contener al menos 6 caracteres (Una mayúscula, una minúscula y un número)
                                    </small>
                                    <div class="validation-errors">
                                        <ng-container *ngFor="let validation of validation_messages.password">
                                            <div class="error-message"
                                                *ngIf="RegistryPNatural.get('passwordRetry').get('password').hasError(validation.type) && (RegistryPNatural.get('passwordRetry').get('password').dirty || RegistryPNatural.get('passwordRetry').get('password').touched)">
                                                <ion-icon name="information-circle-outline"></ion-icon>
                                                &nbsp;{{validation.message}}
                                            </div>
                                        </ng-container>
                                    </div>
                                </ion-col>
                                <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                    <p>Confirmar Contraseña</p>
                                    <ion-input formControlName="passwordConfirmation"
                                        [type]="hide2 ? 'text' : 'password'" type="password"
                                        placeholder="Confirmar contraseña" (keypress)="eventHandlerP($event.keyCode)">
                                        <ion-button (click)="hide2 = !hide2">
                                            <ion-icon [name]="hide2 ? 'eye-off' : 'eye'"></ion-icon>
                                        </ion-button>
                                    </ion-input>
                                    <div class="validation-errors">
                                        <ng-container
                                            *ngFor="let validation of validation_messages.passwordConfirmation">
                                            <div class="error-message"
                                                *ngIf="RegistryPNatural.get('passwordRetry').get('passwordConfirmation').hasError(validation.type) && (RegistryPNatural.get('passwordRetry').get('passwordConfirmation').dirty || RegistryPNatural.get('passwordRetry').get('passwordConfirmation').touched)">
                                                <ion-icon name="information-circle-outline"></ion-icon>
                                                &nbsp;{{validation.message}}
                                            </div>
                                        </ng-container>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </div>
                        <ion-checkbox formControlName="termsAndConditions"></ion-checkbox>
                        <a target="_blank" rel="noopener noreferrer"
                            href="https://firebasestorage.googleapis.com/v0/b/database-1a5ff.appspot.com/o/terminos%20y%20condiciones%20%20Aire%2Blimpio%3D10R.pdf?alt=media&token=1dead8f2-d4b2-4513-86dd-130e328fea84">
                            He
                            leído y acepto los términos y condiciones</a>
                        <br> <br>
                        <ion-button id="send" shape="round" expand="full" type="submit"
                            [disabled]="!RegistryPNatural.valid" expand="full">Registrar</ion-button>
                        <hr>
                        <p class="link">¿Ya tiene una cuenta?
                            <a routerLink="/login">Inicie Sesión</a>
                        </p>
                        <br>

                    </form>
                </ion-card-content>
            </div>
            <div id="business" *ngIf="selectTabs== 'business'">
                <ion-card-content>
                    <form [formGroup]="RegistryBusiness" (ngSubmit)="saveDataEmpresa(RegistryBusiness.value)">
                        <h3>Datos de la empresa</h3>
                        <ion-row>
                            <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                <p>Nit</p>
                                <ion-input formControlName="nit" placeholder="Nit"></ion-input>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.nit">
                                        <div class="error-message"
                                            *ngIf="RegistryBusiness.get('nit').hasError(validation.type) && (RegistryBusiness.get('nit').dirty || RegistryBusiness.get('nit').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                            <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                <p>Nombre de la empresa</p>
                                <ion-input formControlName="companyName" placeholder="Nombre de la empresa"></ion-input>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.companyName">
                                        <div class="error-message"
                                            *ngIf="RegistryBusiness.get('companyName').hasError(validation.type) && (RegistryBusiness.get('companyName').dirty || RegistryBusiness.get('companyName').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                <p>Actividad económica</p>
                                <ion-select formControlName="companyActivity" placeholder="Seleccionar"
                                    interface="popover">
                                    <ion-select-option *ngFor="let actividad of Actividad">
                                        <h2>{{ actividad }}</h2>
                                    </ion-select-option>
                                </ion-select>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.companyActivity">
                                        <div class="error-message"
                                            *ngIf="RegistryBusiness.get('companyActivity').hasError(validation.type) && (RegistryBusiness.get('companyActivity').dirty || RegistryBusiness.get('companyActivity').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                            <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                <p>Dirección</p>
                                <ion-input formControlName="direction" placeholder="Dirección"></ion-input>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.direction">
                                        <div class="error-message"
                                            *ngIf="RegistryBusiness.get('direction').hasError(validation.type) && (RegistryBusiness.get('direction').dirty || RegistryBusiness.get('direction').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                        </ion-row>
                        <h3>Datos de la persona encargada</h3>
                        <ion-row>
                            <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                <p>Nombres</p>
                                <ion-input formControlName="name" placeholder="Nombres"></ion-input>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.name">
                                        <div class="error-message"
                                            *ngIf="RegistryBusiness.get('name').hasError(validation.type) && (RegistryBusiness.get('name').dirty || RegistryBusiness.get('name').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                            <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                <p>Apellidos</p>
                                <ion-input formControlName="lastName" placeholder="Apellidos"></ion-input>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.lastName">
                                        <div class="error-message"
                                            *ngIf="RegistryBusiness.get('lastName').hasError(validation.type) && (RegistryBusiness.get('lastName').dirty || RegistryBusiness.get('lastName').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                <p>Tipo de documento</p>
                                <ion-select formControlName="documentType" placeholder="Seleccionar"
                                    interface="popover">
                                    <ion-select-option *ngFor="let option of options">
                                        <h2>{{ option }}</h2>
                                    </ion-select-option>
                                </ion-select>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.documentType">
                                        <div class="error-message"
                                            *ngIf="RegistryBusiness.get('documentType').hasError(validation.type) && (RegistryBusiness.get('documentType').dirty || RegistryBusiness.get('documentType').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                            <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                <p>N° Documento</p>
                                <ion-input formControlName="document" placeholder="Ingrese su documento"></ion-input>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.document">
                                        <div class="error-message"
                                            *ngIf="RegistryBusiness.get('document').hasError(validation.type) && (RegistryBusiness.get('document').dirty || RegistryBusiness.get('document').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                <p>Correo electrónico</p>
                                <ion-input (keypress)="Event($event.keyCode)" (click)="presentToast1()"
                                    formControlName="email" type="email" placeholder="Correo electrónico"></ion-input>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.email">
                                        <div class="error-message"
                                            *ngIf="RegistryBusiness.get('email').hasError(validation.type) && (RegistryBusiness.get('email').dirty || RegistryBusiness.get('email').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                            <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                <p>Número de celular</p>
                                <ion-input formControlName="cellPhone" placeholder="Número de celular"></ion-input>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.cellPhone">
                                        <div class="error-message"
                                            *ngIf="RegistryBusiness.get('cellPhone').hasError(validation.type) && (RegistryBusiness.get('cellPhone').dirty || RegistryBusiness.get('cellPhone').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                        </ion-row>
                        <div formGroupName="passwordRetry">
                            <ion-row>
                                <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                    <!-- se utiliza un boton para cambiar el tipo de text de Password a text -->
                                    <p>Contraseña</p>
                                    <ion-input formControlName="password" [type]="hide1 ? 'text' : 'password'"
                                        placeholder="Contraseña">
                                        <ion-button (click)="hide1 = !hide1">
                                            <ion-icon [name]="hide1 ? 'eye-off' : 'eye'"></ion-icon>
                                        </ion-button>
                                    </ion-input>
                                    <small>
                                        Debe contener al menos 6 caracteres (Una mayúscula, una minúscula y un número)
                                    </small>
                                    <div class="validation-errors">
                                        <ng-container *ngFor="let validation of validation_messages.password">
                                            <div class="error-message"
                                                *ngIf="RegistryBusiness.get('passwordRetry').get('password').hasError(validation.type) && (RegistryBusiness.get('passwordRetry').get('password').dirty || RegistryBusiness.get('passwordRetry').get('password').touched)">
                                                <ion-icon name="information-circle-outline"></ion-icon>
                                                &nbsp;{{validation.message}}
                                            </div>
                                        </ng-container>
                                    </div>
                                </ion-col>
                                <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                    <p>Confirmar Contraseña</p>
                                    <ion-input formControlName="passwordConfirmation"
                                        [type]="hide2 ? 'text' : 'password'" type="password"
                                        placeholder="Confirmar contraseña">
                                        <ion-button (click)="hide2 = !hide2">
                                            <ion-icon [name]="hide2 ? 'eye-off' : 'eye'"></ion-icon>
                                        </ion-button>
                                    </ion-input>
                                    <div class="validation-errors">
                                        <ng-container
                                            *ngFor="let validation of validation_messages.passwordConfirmation">
                                            <div class="error-message"
                                                *ngIf="RegistryBusiness.get('passwordRetry').get('passwordConfirmation').hasError(validation.type) && (RegistryBusiness.get('passwordRetry').get('passwordConfirmation').dirty || RegistryBusiness.get('passwordRetry').get('passwordConfirmation').touched)">
                                                <ion-icon name="information-circle-outline"></ion-icon>
                                                &nbsp;{{validation.message}}
                                            </div>
                                        </ng-container>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </div>
                        <ion-checkbox formControlName="termsAndConditions" type="checkbox"></ion-checkbox>
                        <a target="_blank" rel="noopener noreferrer"
                            href="https://firebasestorage.googleapis.com/v0/b/database-1a5ff.appspot.com/o/terminos%20y%20condiciones%20%20Aire%2Blimpio%3D10R.pdf?alt=media&token=1dead8f2-d4b2-4513-86dd-130e328fea84">
                            He leído y acepto los términos y condiciones</a>
                        <br> <br>
                        <ion-button id="send" shape="round" expand="full" type="submit"
                            [disabled]="!RegistryBusiness.valid" (keypress)="eventHandlerB($event.keyCode)"
                            expand="full">Registrar</ion-button>
                        <hr>
                        <p class="link">¿Ya tiene una cuenta?
                            <a routerLink="/login">Inicie Sesión</a>
                        </p>
                        <br>
                    </form>
                </ion-card-content>
            </div>
        </ion-card>
    </section>
</ion-content>