$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#97BF41;
$COLOR-title:#0e1b4d;
$COLOR-HOVER-GREEN: #c6dd93;
$red:rgb(245, 185, 185);
/*importa tipografias*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# toolbar Section
--------------------------------------------------------------*/
ion-menu-button {
  color: #fff;
}

ion-toolbar {
  --background: #0e1b4d;
}

/*--------------------------------------------------------------
# Inputs Section
--------------------------------------------------------------*/
ion-input {
  --border-color: transparent !important;
  --highlight-height: 0;
  border: 2px solid #bebebe;
  border-radius: 4px;
  max-width: 380px;
  width: 100%;
  background-color: #fff;
  margin: 10px 0;
  height: 55px;
  border-radius: 5px;
}

ion-select {
  --border-color: transparent !important;
  --highlight-height: 0;
  border: 2px solid #bebebe;
  border-radius: 4px;
  max-width: 380px;
  width: 100%;
  background-color: #fff;
  margin: 10px 0;
  height: 55px;
  border-radius: 5px;
}

/*--------------------------------------------------------------
# Bottons Section
--------------------------------------------------------------*/
#send {
  --background: #97BF41;
  width: 60%;
  height: 49px;
  margin-left: 20%;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;

  transition: 0.5s;
}

#send:hover {
  --background: #c6dd93;

}

/*--------------------------------------------------------------
# titles Section
--------------------------------------------------------------*/
h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: $COLOR-title;
  margin-top: 2%;
  margin-bottom: 5%;
}

ion-label {
  font-size: 18px;
  //font-weight: bold;
  text-align: center;
  color: $COLOR-title;
}

.title {
  text-align: center;
  font-size: 28px;
  color: #fff;
  font-weight: bold;
}

p {
  color: $COLOR-title;
}

/*--------------------------------------------------------------
# button eye Section
--------------------------------------------------------------*/
ion-button {
  --background: transparent;
  --box-shadow: none;
  --text-align: end;
}

ion-icon {
  color: $COLOR-title;
}

.link {
  text-align: center;
}

.tabs {
  margin-bottom: 3%;
  margin-top: 1%;
}

#contenedor {
  width: 60%;
  left: 20%;
  background: rgba(230, 247, 255, 0.8);
}

form {
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;

}


/*--------------------------------------------------------------
# valid
--------------------------------------------------------------*/
ion-input.ng-valid {
  border: 2px solid $COLOR-SECUNDARY;
  border-right: 2px solid $COLOR-SECUNDARY;
}

ion-input.ng-invalid.ng-touched {
  border: 2px solid $red;
  border-right: 2px solid $red;
}

ion-select.ng-invalid.ng-touched {
  border: 0.2px solid $red;
  border-right: 0.2px solid $red;
}

.error-message {
  color: #eb4545;
  text-align: center;
  font-size: 14px;

  ion-icon {
    color: #eb4545;
    font-size: 14px;
  }
}

ion-content {
  --background: url(/assets/images/back2.jpg) no-repeat top center;
}

/*--------------------------------------------------------------
# Change with device Section
--------------------------------------------------------------*/
@media (min-width:806px)and (max-width: 1023px) {
  #contenedor {
    width: 80%;
    left: 8%;
  }

  .title {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
  }

  ion-label {
    font-size: 14px;
    text-align: center;
  }
}

@media (min-width: 751px) and (max-width: 805px) {
  #contenedor {
    width: 100%;
    left: 0%;
    margin-left: 0;
  }

  .title {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
  }

  ion-label {
    font-size: 14px;
    text-align: center;
  }
}

@media (min-width: 678px) and (max-width: 750px) {
  #contenedor {
    width: 100%;
    left: 0%;
    margin-left: 0;
  }

  .title {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
  }

  ion-label {
    font-size: 14px;
    text-align: center;
  }
}

@media (min-width: 647px) and (max-width: 677px) {
  #contenedor {
    width: 100%;
    left: 0%;
    margin-left: 0;
  }

  .title {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
  }

  ion-label {
    font-size: 14px;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 646px) {
  #contenedor {
    width: 100%;
    left: 0%;
    margin-left: 0;
  }

  .title {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
  }

  ion-label {
    font-size: 14px;
    text-align: center;
  }
}

@media (min-width: 480px) and (max-width: 575px) {
  #contenedor {
    width: 80%;
    left: 8%;
    //margin-left: 0;
  }

  .title {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
  }

  ion-label {
    font-size: 14px;
    text-align: center;
  }
}

@media (min-width: 361px) and (max-width: 479px) {
  #contenedor {
    width: 100%;
    left: 0%;
    margin-left: 0;
  }

  .title {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
  }

  ion-label {
    font-size: 14px;
    text-align: center;
  }
}

@media (min-width: 240px) and (max-width: 360px) {
  #contenedor {
    width: 100%;
    left: 0%;
    margin-left: 0;
  }

  .title {
    font-size: 15px;
  }

  h3 {
    font-size: 15px;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
  }

  ion-label {
    font-size: 14px;
    text-align: center;
  }
}