$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#97BF41;
$COLOR-title:#0e1b4d;
$COLOR-HOVER-GREEN: #c6dd93;
$red:rgb(245, 185, 185);
/*importa tipografias*/
  @import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
  a,h1,h2,h3,h4,h5,h6,p{
    font-family: "Poppins", sans-serif;
  }

  /*--------------------------------------------------------------
  # toolbar Section
  --------------------------------------------------------------*/
  ion-menu-button {
    color: #fff;
    font-size: 30px;
  }
  ion-content{
    --background: url(/assets/images/back2.jpg) top center;
  }
  ion-toolbar {
    --background: #0e1b4d;
  }
  .title {
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  #contenedor{
    width: 80%;
    left: 10%;
    // height: 100%;
    background: rgba(230, 247, 255, 0.8);
  }
  
  form {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    
  }
  /*--------------------------------------------------------------
  # buttons Section
  --------------------------------------------------------------*/
  #button {
    --background: #97BF41;
    width: 20%;
    height: 49px;
    margin-left: 40%;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
  
    transition: 0.5s;
  }
  #button:hover {
    --background: #c6dd93;
   
  }
  #send {
    display: inline-block;
           margin-left: 30%;
            margin-top: 2%;
            //margin-bottom: 5%;
            width: 20%;
            height: 40px;
            text-align: center;
            color: #fff;
            position: relative;
            background: $COLOR-SECUNDARY;
            border-radius: 50px;
           
            transition: all ease-in-out 0.3s;
            font-weight: 500;
        
            font-size: 18px;
  }
  #send:hover {
    background: #c6dd93;
  }
#send + #send {
  margin-left: 40px;
}
    /*--------------------------------------------------------------
  # inputs Section
  --------------------------------------------------------------*/

  .Tree-input{
      --border-color: transparent!important;
      --highlight-height: 0;
      border: 2px solid #bebebe;
      width: 100%;
      background-color: #fff;
      margin: 10px 0;
      height: 80px;
      border-radius: 5px;
  }
  .input-field {
    --border-color: transparent!important;
    --highlight-height: 0;
    border: 2px solid #bebebe;

    max-width: 380px;
    width: 100%;
    background-color: #fff;
    margin: 10px 0;
    height: 55px;
    border-radius: 5px;
  }
  
a{
  text-decoration: none;
}
.auth-time {
  --border-color: transparent!important;
      --highlight-height: 0;
      border: 2px solid #bebebe;

      max-width: 380px;
      width: 100%;
      background-color: #fff;
      margin: 10px 0;
      height: 55px;
      border-radius: 5px;
  div.item-inner {
    border-top: none;
    ion-input {
      width: 100px;
      input {
        text-align: right;
      }
    }
  }
  ion-select {
    width: 300px;
  }
}
/*--------------------------------------------------------------
  # title Section
  --------------------------------------------------------------*/
h3{
  font-size: 20px;
  font-weight: bold;
   text-align: center;
   color: $COLOR-title;
   margin-top: 2%;
   margin-bottom: 5%;
}
.text-input{
  font-size: 16px;
  //font-weight: bold;
   text-align: center;
   color: $COLOR-title;
   margin-left: 5%;
}
.text-input2{
  font-size: 14px;
  margin-left: 5%;
  //font-weight: bold;
  //  text-align: center;
   color: $COLOR-title;
}

p{
  color: $COLOR-title;
}

#Project-details h2 {
  //color: #0e1b4d;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

#Project-details h5 {
  color: #fff;
  //font-weight: 700;
  font-size: 20px;
  text-align: center;
}

// .galeria{
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

// .galeria:hover{
//   transform: scale(1.1);
// }
 /*--------------------------------------------------------------
# Change with device Section
--------------------------------------------------------------*/
@media (min-width:806px )and (max-width: 1023px) {
  .title{
    font-size: 20px;
  }
  #button {
    width: 20%;
    margin-left: 40%;

  }
  #contenedor{
    width: 90%;
    left: 4%;
  }
  #send {
            width: 40%;
            font-size: 18px;
            margin-left: 10%;
            margin-top: 5%;
  }

 #send + #send {
    margin-left: 10px;
  }
}
@media (min-width: 751px) and (max-width: 805px){
  .title{
    font-size: 20px;
  }
  #button {
    width: 30%;
    margin-left: 35%;

  }
  #contenedor{
    width: 100%;
     left: 0%;
     margin-left: 0;
  }
  #send {
            width: 40%;
            font-size: 18px;
            margin-left: 10%;
            margin-top: 5%;
  }

 #send + #send {
    margin-left: 10px;
  }
}
@media (min-width: 678px) and (max-width: 750px){
  .title{
    font-size: 20px;
  }
  #button {
    width: 30%;
    margin-left: 35%;

  }
  #contenedor{
    width: 100%;
     left: 0%;
     margin-left: 0;
  }
  #send {
            width: 40%;
            font-size: 18px;
            margin-left: 10%;
            margin-top: 5%;
  }

 #send + #send {
    margin-left: 10px;
  }
}
@media (min-width: 647px) and (max-width: 677px){
  .title{
    font-size: 20px;
  }
  #button {
    width: 30%;
    margin-left: 35%;

  }
  #contenedor{
    width: 100%;
     left: 0%;
     margin-left: 0;
  }
  #send {
            width: 40%;
            font-size: 18px;
            margin-left: 10%;
            margin-top: 5%;
  }

 #send + #send {
    margin-left: 10px;
  }
}
@media (min-width: 576px) and (max-width: 646px){
  .title{
    font-size: 20px;
  }
  #button {
    width: 30%;
    margin-left: 35%;

  }
  #contenedor{
    width: 100%;
     left: 0%;
     margin-left: 0;
  }
  #send {
            width: 40%;
            font-size: 18px;
            margin-left: 10%;
            margin-top: 5%;
  }

 #send + #send {
    margin-left: 10px;
  }
}
@media (min-width: 480px) and (max-width: 575px){
  .title{
    font-size: 20px;
  }
  #button {
    width: 30%;
    margin-left: 35%;

  }
  #contenedor{
    width: 100%;
     left: 0%;
     margin-left: 0;
  }
  #send {
            width: 40%;
            font-size: 18px;
            margin-left: 10%;
            margin-top: 5%;
  }

 #send + #send {
    margin-left: 10px;
  }
}
@media (min-width: 361px) and (max-width: 479px){
  .title{
    font-size: 15px;
  }
  #contenedor{
    width: 100%;
     left: 0%;
     margin-left: 0;
  }
  #send {
            width: 40%;
            font-size: 18px;
            margin-left: 10%;
            margin-top: 5%;
  }

 #send + #send {
    margin-left: 10px;
  }
}
@media (min-width: 240px) and (max-width: 360px){
  .title{
    font-size: 15px;
  }
  #contenedor{
    width: 100%;
     left: 0%;
     margin-left: 0;
  }
  #send {
    width: auto;
            font-size: 18px;
            margin-left: 5%;
            margin-top: 5%;
            padding: 8px 24px 10px 24px;
  }

 #send + #send {
    margin-left: 15px;
  }

}
