<ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Detalles del proyecto</ion-title>
</ion-toolbar>
<ion-content>
    <section id="Project-details">
        <ion-card id="contenedor">
            <h3>Galería de fotos</h3>
            <ion-button id="button" shape="round" expand="full" type="submit" expand="full" (click)="popUpGalery()">Ver
                galería</ion-button>

            <div id="details">
                <form *ngFor="let details of detailsDoc">
                    <h3>Información General</h3>
                    <ion-row>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Nombre del proyecto</p>
                            <ion-input class="input-field" disabled="true">
                                <ion-label class="text-input">{{details.projectName}}</ion-label>
                            </ion-input>
                        </ion-col>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Tipo de proyecto</p>
                            <ion-input class="input-field" disabled="true">
                                <ion-label class="text-input">{{details.projectType}}</ion-label>
                            </ion-input>
                        </ion-col>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Tipo de bosque</p>
                            <ion-input class="input-field" disabled="true">
                                <ion-label class="text-input">{{details.forestType}}</ion-label>
                            </ion-input>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Área del bosque en hectáreas(Ha)</p>
                            <ion-input class="input-field" disabled="true">
                                <ion-label class="text-input">{{details.forestArea}}</ion-label>
                            </ion-input>
                        </ion-col>
                        <ion-col size-md="8" size-lg="8" size-sm="8" size-xs="12" size-xl="8">
                            <p>Especie predominante de árboles&nbsp;</p>
                            <ion-textarea readonly="true" class="Tree-input" disabled="true">
                                <ion-textarea readonly="true" rows="4" cols="40" class="text-input2">
                                    {{details.treeSpecies}}
                                </ion-textarea>
                            </ion-textarea>
                        </ion-col>

                    </ion-row>
                    <ion-row>
                        <ion-col size-md="6" size-lg="3" size-sm="6" size-xs="12" size-xl="3">
                            <p>Altura promedio de los árboles&nbsp; &nbsp; &nbsp; &nbsp; </p>
                            <ion-input class="input-field" disabled="true">
                                <ion-label class="text-input">{{details.treeSize}}</ion-label>
                            </ion-input>
                        </ion-col>
                        <ion-col size-md="6" size-lg="3" size-sm="6" size-xs="12" size-xl="3">
                            <p>Diámetro de los árboles</p>
                            <ion-input class="input-field" disabled="true">
                                <ion-label class="text-input">{{details.treeDiameter}}</ion-label>
                            </ion-input>
                        </ion-col>
                        <ion-col size-md="6" size-lg="3" size-sm="6" size-xs="12" size-xl="3">
                            <p>Edad del bosque</p>
                            <ion-input class="input-field" disabled="true">
                                <ion-label class="text-input">{{details.treeAge}}</ion-label>
                            </ion-input>
                        </ion-col>
                        <ion-col size-md="6" size-lg="3" size-sm="6" size-xs="12" size-xl="3">
                            <p>Temperatura </p>
                            <ion-item class="auth-time">
                                <ion-input disabled="true">
                                    <ion-label class="text-input">{{details.temperature}}
                                        {{details.typeTemperature}}</ion-label>
                                </ion-input>
                                <ion-select disabled="true">
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <h3>Ubicación</h3>
                    <ion-row>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>País</p>
                            <ion-input class="input-field" disabled="true">
                                <ion-label class="text-input">{{details.country}}</ion-label>
                            </ion-input>
                        </ion-col>
                        <ion-col id="department" size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Departamento</p>
                            <ion-input class="input-field" disabled="true">
                                <ion-label class="text-input">{{details.department}}</ion-label>
                            </ion-input>
                        </ion-col>
                        <ion-col id="municipality" size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Municipio</p>
                            <ion-input class="input-field" disabled="true">
                                <ion-label class="text-input">{{details.municipality}}</ion-label>
                            </ion-input>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Zona</p>
                            <ion-input class="input-field" disabled="true">
                                <ion-label class="text-input">{{details.zone}}</ion-label>
                            </ion-input>
                        </ion-col>
                        <ion-col size-md="4" size-lg="4" size-sm="8" size-xs="12" size-xl="4">
                            <p>Altura sobre el nivel del mar</p>
                            <ion-input class="input-field" disabled="true">
                                <ion-label class="text-input">{{details.msnm}}</ion-label>
                            </ion-input>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <a routerLink="/carbonfootprintform" id="send" expand="full" type="submit"
                            expand="full">Patrocinar</a>
                        <a id="send" expand="full"
                            type="submit" expand="full" (click)="popUp()">Donar</a>
                    </ion-row>
                </form>
            </div>

        </ion-card>
    </section>
</ion-content>