$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#97BF41;
$COLOR-title:#0e1b4d;
$COLOR-HOVER-GREEN: #c6dd93;
$red:rgb(245, 185, 185);
/*importa tipografias*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ion-header {
  background: rgba($COLOR-title, 0.4);
  width: auto;
  position: fixed;
  z-index: 10;
}

ion-menu-button {
  color: #fff;
  font-size: 40px;
}

/*--------------------------------------------------------------
# Backgrounds Section
--------------------------------------------------------------*/
.cero {
  --background: url(/assets/huella/world2.jpg) no-repeat center center / cover;
}

.first {
  --background: url(/assets/huella/power2.jpg) no-repeat center center / cover;
}

.second {
  --background: url(/assets/huella/farm2.jpg) no-repeat center center / cover;
}

.third {
  --background: url(/assets/huella/Logistics2.png) no-repeat center center / cover;
}

.four {
  --background: url(/assets/huella/plane2.jpg) no-repeat center center / cover;
}

.five {
  --background: url(/assets/huella/world2.jpg) no-repeat center center / cover;
}

/*--------------------------------------------------------------
# intro huella Section
--------------------------------------------------------------*/

#header-tittle-intro h2 {
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  color: #fff;
}

#header-tittle-intro h3 {
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  margin-top: 5%;
  color: #fff;
}

#huella-btn {
  width: auto;
  height: auto;
  font-size: 20px;
  color: #fff;
  --box-shadow: 0 0 29px 0 rgba(255, 255, 255, 0.3);
  --background: transparent;
  margin-left: 40%;
  margin-top: 5%;

}

/*--------------------------------------------------------------
# electricidad Section
--------------------------------------------------------------*/
#header-tittle h2 {
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  color: #fff;
  font-weight: bold;
}

#header-tittle h3 {
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  // margin-top:10%;
  color: #fff;
  font-weight: bold;
}

#answer {
  margin-top: 5%;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

#si {
  font-size: 30px;
  text-shadow: 1px 1px 2px #000;
  margin-left: 35%;
}

#Nose {
  font-size: 30px;
  text-shadow: 1px 1px 2px #000;
  margin-left: 22%;
}

#ElectricidadDisabled {
  margin-top: 5%;
}


#text {
  margin-top: 5%;
  // margin-left: 35%;
  text-shadow: 1px 1px 2px #000;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

#text2 {
  margin-top: 5%;
  // margin-left: 35%;
  // text-shadow: 1px 1px 2px #000;
  font-size: 20px;
  text-align: center;
  color: $COLOR-title;
}

#contenedor {
  width: 80%;
  left: 10%;
  // height: 100%;
  background: rgba(230, 247, 255, 0.8);
}

.input {
  --border-color: transparent !important;
  --highlight-height: 0;
  border: 2px solid #bebebe;
  margin-left: 20%;
  width: 60%;
  margin-top: 1%;
  background-color: #fff;
  //margin: 10px 0;
  height: 55px;
  border-radius: 5px;
}

/*--------------------------------------------------------------
# comida Section
--------------------------------------------------------------*/
#food-text {
  font-size: 20px;
  font-weight: bold;
  //margin-left: 45%;
  text-align: center;
  color: $COLOR-title;
  margin-top: 2%;
  margin-bottom: 5%;
}

#subtext {
  font-size: 20px;
}

.input-dieta {
  --border-color: transparent !important;
  --highlight-height: 0;
  border: 2px solid #bebebe;
  margin-left: 40%;
  //position: relative;
  width: 20%;

  margin-top: 1%;
  background-color: #fff;
  //margin: 10px 0;
  height: 55px;
  border-radius: 5px;
}

.auth-time {
  --border-color: transparent !important;
  --highlight-height: 0;
  border: 2px solid #bebebe;
  max-width: 380px;
  width: 100%;
  background-color: #fff;
  //margin: 10px 0;
  height: 55px;
  border-radius: 5px;

  div.item-inner {
    border-top: none;

    ion-input {
      width: 100px;

      input {
        text-align: right;
      }
    }
  }

  ion-label {
    margin: 10px 0;
  }
}

#consumo {
  font-size: 30px;
  text-shadow: 1px 1px 2px #000;
  margin-left: 20%;
}

#tipoDieta {
  margin-top: 5%;
}

#Miconsumo {
  margin-top: 5%;
  background: rgba(230, 247, 255, 0.8);
  width: 60%;
  margin-left: 22%;
  border-radius: 5px;
}

/*--------------------------------------------------------------
# Bottons
--------------------------------------------------------------*/

#button {
  --background: #97BF41;
  width: 20%;
  height: 49px;
  margin-top: 5%;
  margin-left: 40%;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;

  transition: 0.5s;
}

#button:hover {
  --background: #c6dd93;

}

#buttonAtras2 {
  --background: #97BF41;
  width: 20%;
  height: 49px;
  margin-top: 5%;
  margin-left: 30%;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;

  transition: 0.5s;
}

#buttonAtras2:hover {
  --background: #c6dd93;

}

#buttonNext2 {
  --background: #97BF41;
  width: 20%;
  height: 49px;
  margin-top: 5%;
  margin-left: 17%;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;

  transition: 0.5s;
}

#buttonNext2:hover {
  --background: #c6dd93;

}

#buttonAtras2+#buttonNext2 {
  margin-left: 80px;
}

#buttonAtras {
  --background: #97BF41;
  width: 20%;
  height: 49px;
  margin-top: 5%;
  margin-left: 30%;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;

  transition: 0.5s;
}

#buttonAtras:hover {
  --background: #c6dd93;

}

#buttonNext {
  --background: #97BF41;
  width: 20%;
  height: 49px;
  margin-top: 5%;
  margin-left: 30%;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;

  transition: 0.5s;
}

#buttonNext:hover {
  --background: #c6dd93;

}

#buttonAtras+#buttonNext {
  margin-left: 40px;
}

/*--------------------------------------------------------------
# transporte Section
--------------------------------------------------------------*/
.text-trans {
  margin-top: 5%;
  margin-left: 35%;
  text-shadow: 1px 1px 2px #000;
  font-size: 20px;
  color: #fff;
}

#ChooseVehi {
  --border-color: transparent !important;
  --highlight-height: 0;
  border: 2px solid #bebebe;
  margin-left: 40%;
  width: 20%;
  margin-bottom: 3%;
  margin-top: 3%;
  background-color: #fff;
  //margin: 10px 0;
  height: 55px;
  border-radius: 5px;
}

#text-transporte {
  margin-top: 5%;
  // margin-left: 35%;
  // text-shadow: 1px 1px 2px #000;
  font-size: 20px;
  text-align: center;
  color: $COLOR-title;
}

#movilidad {
  text-shadow: 1px 1px 2px #000;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

#subtext2 {
  font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
}


.auth-time2 {
  --border-color: transparent !important;
  --highlight-height: 0;
  border: 2px solid #bebebe;
  max-width: 380px;
  margin-left: 30%;
  width: 40%;
  background-color: #fff;
  //margin: 10px 0;
  height: 55px;
  border-radius: 5px;

  div.item-inner {
    border-top: none;

    ion-input {
      width: 100px;

      input {
        text-align: right;
      }
    }
  }

  ion-label {
    margin: 10px 0;
  }
}

.auth-time4 {
  --border-color: transparent !important;
  --highlight-height: 0;
  border: 2px solid #bebebe;
  max-width: 380px;
  margin-left: 27%;
  width: 40%;
  background-color: #fff;
  //margin: 10px 0;
  height: 55px;
  border-radius: 5px;

  div.item-inner {
    border-top: none;

    ion-input {
      width: 100px;

      input {
        text-align: right;
      }
    }
  }

  ion-label {
    margin: 10px 0;
  }
}

ion-checkbox {
  --border-radius: 30px;
  --size: 25px;
  margin-left: 40%;
}

/*--------------------------------------------------------------
# avión Section
--------------------------------------------------------------*/

#header-tittle-plane h2 {
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  color: #fff;
  font-weight: bold;
}
.input2 {
  --border-color: transparent !important;
  --highlight-height: 0;
  border: 2px solid #bebebe;
  margin-top: 3%;
  background-color: #fff;
  //margin: 10px 0;
  height: 55px;
  border-radius: 5px;
}

#header-tittle-plane h3 {
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  margin-top: 8%;
  color: #fff;
  font-weight: bold;
}

#ViajoAvion {
  font-size: 30px;
  text-shadow: 1px 1px 2px #000;
  margin-left: 35%;
}

#NoviajoAvion {
  font-size: 30px;
  text-shadow: 1px 1px 2px #000;
  margin-left: 20%;
}

#viajesCheck {
  margin-top: 5%;
  background: rgba(230, 247, 255, 0.8);
  width: 60%;
  margin-left: 22%;
  border-radius: 5px;
}

/*--------------------------------------------------------------
# valid
--------------------------------------------------------------*/

.error-message {
  color: #eb4545;
  text-align: center;
  font-size: 14px;

  ion-icon {
    color: #eb4545;
    font-size: 14px;
  }
}

/*--------------------------------------------------------------
# bar progress Section
--------------------------------------------------------------*/
#main-container {
  background: rgba(230, 247, 255, 0.8);
  width: 80%;
  margin-left: 12%;
  border-radius: 5px;
}

.Result-text2 {
  font-size: 25px;
  text-align: center;
  //text-shadow: 1px 1px 2px #000;
  margin-top: 8%;
  color: #000;
  font-weight: bold;
}

// h3 {
//   font-size: 20px;
//   color: $COLOR-title;
//   font-weight: bold;
//   text-align: center;
// }
.progress-outer {
  width: 100%;
  margin: 10px 2%;
  padding: 3px;
  margin-top: 5%;
  //text-align: center;
  background-color: #f4f4f4;
  //border: 1px solid black;
  color: #fff;
  border-radius: 20px;
}

.progress-electricidad {

  white-space: nowrap;
  overflow: hidden;
  padding: 9px;
  border-radius: 20px;
  background-color: #e6e600;
}

.progress-alimentos {

  white-space: nowrap;
  overflow: hidden;
  padding: 9px;
  border-radius: 20px;
  background-color: #ff5050;
}

.progress-terrestre {

  white-space: nowrap;
  overflow: hidden;
  padding: 9px;
  border-radius: 20px;
  background-color: #86592d;
}

.progress-aereo {

  white-space: nowrap;
  overflow: hidden;
  padding: 9px;
  border-radius: 20px;
  background-color: #0066ff;
}

/*--------------------------------------------------------------
# resultado Section
--------------------------------------------------------------*/
.Result-text {
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  margin-top: 8%;
  color: #fff;
  font-weight: bold;
}

.auth-time3 {
  --border-color: transparent !important;
  --highlight-height: 0;
  border: 2px solid #bebebe;
  width: 40%;
  margin-left: 33%;
  //width: 100%;
  background-color: #fff;
  //margin: 10px 0;
  height: 55px;
  border-radius: 5px;

  div.item-inner {
    border-top: none;

    ion-input {
      width: 100px;

      input {
        text-align: right;
      }
    }
  }
}

#fin {
  height: auto;
}

/*--------------------------------------------------------------
# general ítems
--------------------------------------------------------------*/



h4 {
  text-shadow: 1px 1px 2px #000;
  font-size: 14px;
  color: #fff;
  //margin-left: 36%;
  text-align: center;
}

p {
  color: $COLOR-title;
}

/*--------------------------------------------------------------
# espacios del header Section
--------------------------------------------------------------*/
#mediodetransporte {
  margin-top: 5%;
}

.ConsumoElectricidad {
  margin-top: 8%;
  margin-bottom: 3%;
}

// .Resultados{
//   margin-top:5%;
//   margin-bottom:2%;
// }
#TransporteTerrestre {
  width: 50%;
}

.ConsumoAlimentos {
  margin-top: 8%;
  margin-bottom: 3%;
}

.ConsumotransporteAereo {
  margin-top: 8%;
  margin-bottom: 3%;
}

.ConsumoTransporteTerrestre {
  margin-top: 8%;
  margin-bottom: 3%;
}

/*--------------------------------------------------------------
# Change with device Section
--------------------------------------------------------------*/
@media (min-width: 1024px)and (max-width: 1350px) {
  #huella-btn {

    margin-left: 40%;
  }

  ion-checkbox {
    margin-left: 10%;
  }

  #si {
    margin-left: 34%;
  }

  #Nose {
    margin-left: 22%;
  }

  // .input {
  //   margin-left: 30%;
  //   width: 40%;
  //   margin-top: 3%;
  //   height: 55px;
  // }

  /*food*/
  .input-dieta {
    margin-left: 35%;
    width: 30%;
  }
  h4 {
    margin-top: 10%;
    margin-bottom: 2%;
  }

  #button {
    //width: 60%;
    margin-left: 39%;
  }

  #buttonAtras {
    width: 20%;
    margin-left: 28%;
  }

  #buttonNext {
    width: 20%;
  }

  #buttonAtras+#buttonNext {
    margin-left: 40px;
  }

  #Miconsumo {
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
  }

  /*movilidad*/
  #ChooseVehi {
    margin-left: 35%;
    width: 30%;

  }

  #horas {
    margin-left: 48%;
  }

  #km {
    margin-left: 48%;
  }

  #text-transporte {
    font-size: 15px;
  }

  .auth-time2 {

    margin-left: 30%;
    width: 40%;

  }

  .auth-time4 {
    margin-left: 30%;
    width: 40%;
  }

  /*avión*/
  #ViajoAvion {
    margin-left: 35%;
  }

  #viajesCheck {
    width: 80%;
    margin-left: 10%;
  }

 /*Fin*/
.auth-time3 {
  margin-left: 30%;
}

//progress bar
// #main-container {
//   width: 80%;
//   margin-left: 12%;
// }

// .progress-outer {
//   margin: 0px 0%;
//   margin-top: 0%;
// }

.Result-text2 {
  font-size: 22px;
  margin-top: 1%;
}

}

@media (min-width:806px)and (max-width: 1023px) {
  #huella-btn {

    margin-left: 30%;
  }

  ion-checkbox {
    margin-left: 10%;
  }

  #si {
    margin-left: 34%;
  }
  #contenedor {
    width: 80%;
    left: 7%;
  }

  #text2{
    font-size: 15px;
  }
  #Nose {
    margin-left: 22%;
  }

  .input {
    margin-left: 10%;
    width: 80%;
    margin-top: 3%;
    height: 55px;
  }

  /*food*/

  h4 {
    margin-top: 10%;
    margin-bottom: 2%;
  }
  .input-dieta {
    margin-left: 35%;
    width: 30%;
  }
  #button {
    //width: 60%;
    margin-left: 39%;
  }
  #buttonAtras {
    width: 20%;
    margin-left: 26%;
  }

  #buttonNext {
    width: 20%;
  }

  #buttonAtras+#buttonNext {
    margin-left: 40px;
  }

  #Miconsumo {
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
  }

  /*movilidad*/
  #ChooseVehi {
    margin-left: 35%;
    width: 30%;
  }

  #horas {
    margin-left: 48%;
  }

  #km {
    margin-left: 48%;
  }

  #text-transporte {
    font-size: 15px;
  }

  .auth-time2 {

    margin-left: 20%;
    width: 60%;


  }

  .auth-time4 {
    margin-left: 20%;
    width: 60%;

  }

  /*avión*/
  #ViajoAvion {
    margin-left: 35%;
  }

  #viajesCheck {
    width: 80%;
    margin-left: 10%;
  }

/*Fin*/
.auth-time3 {
  margin-left: 30%;
}

//progress bar
// #main-container {
//   width: 80%;
//   margin-left: 12%;
// }

// .progress-outer {
//   margin: 0px 0%;
//   margin-top: 0%;
// }

.Result-text2 {
  font-size: 22px;
  margin-top: 1%;
}
}

@media (min-width: 751px) and (max-width: 805px) {
  #huella-btn {
    margin-left: 30%;
  }

  ion-checkbox {
    margin-left: 10%;
  }
  #contenedor {
    width: 80%;
    left: 7%;
  }

  #text2{
    font-size: 15px;
  }
  #si {
    margin-left: 34%;
  }

  #Nose {
    margin-left: 22%;
  }

  .input {
    margin-left: 10%;
    width: 80%;
    margin-top: 3%;
    height: 55px;
  }

  /*food*/

  h4 {
    margin-top: 10%;
    margin-bottom: 2%;
  }

  #button {
    width: 20%;
    margin-left: 42%;
  }
  .input-dieta {
    margin-left: 35%;
    width: 30%;
  }
  #buttonAtras {
    width: 20%;
    margin-left: 26%;
  }

  #buttonNext {
    width: 20%;
  }

  #buttonAtras+#buttonNext {
    margin-left: 40px;
  }

  #Miconsumo {
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
  }

  /*movilidad*/
  #ChooseVehi {
    margin-left: 35%;
    width: 30%;

  }

  #horas {
    margin-left: 48%;
  }

  #km {
    margin-left: 48%;
  }

  #text-transporte {
    font-size: 15px;
  }

  .auth-time2 {

    margin-left: 20%;
    width: 60%;


  }

  .auth-time4 {
    margin-left: 20%;
    width: 60%;

  }

  /*avión*/
  #ViajoAvion {
    margin-left: 35%;
  }

  #viajesCheck {
    width: 100%;
    margin-left: 0%;
  }

/*Fin*/
.auth-time3 {
  margin-left: 30%;
}

//progress bar
// #main-container {
//   width: 80%;
//   margin-left: 12%;
// }

// .progress-outer {
//   margin: 0px 0%;
//   margin-top: 0%;
// }

.Result-text2 {
  font-size: 22px;
  margin-top: 1%;
}
}

@media (min-width: 678px) and (max-width: 750px) {
  #huella-btn {
    margin-left: 30%;
  }

  ion-checkbox {
    margin-left: 10%;
  }

  #si {
    margin-left: 30%;
  }

  #Nose {
    margin-left: 22%;
  }

  .input {
    margin-left: 30%;
    width: 40%;
    margin-top: 3%;
    height: 55px;
  }

  /*food*/

  h4 {
    margin-top: 10%;
    margin-bottom: 2%;
  }
  .input-dieta {
    margin-left: 35%;
    width: 30%;
  }

  #button {
    width: 20%;
    margin-left: 42%;
  }

  #buttonAtras {
    width: 20%;
    margin-left: 26%;
  }

  #buttonNext {
    width: 20%;
  }

  #buttonAtras+#buttonNext {
    margin-left: 40px;
  }

  #Miconsumo {
    margin-top: 5%;
    width: 100%;
    margin-left: 0%;
  }

  /*movilidad*/
  #ChooseVehi {
    margin-left: 35%;
    width: 30%;

  }

  #horas {
    margin-left: 48%;
  }

  #km {
    margin-left: 48%;
  }

  #text-transporte {
    font-size: 15px;
  }

  .auth-time2 {

    margin-left: 20%;
    width: 60%;

  }

  .auth-time4 {
    margin-left: 20%;
    width: 60%;
  }

  /*avión*/
  #ViajoAvion {
    margin-left: 35%;
  }

  #viajesCheck {
    width: 100%;
    margin-left: 0%;
  }

  /*Fin*/
  .auth-time3 {
    margin-left: 30%;
    //width: 60%;
  }

//progress bar
#main-container {
  width: 80%;
  margin-left: 12%;
}

.progress-outer {
  margin: 0px 0%;
  margin-top: 0%;
}

.Result-text2 {
  font-size: 18px;
  margin-top: 1%;
}
}

@media (min-width: 647px) and (max-width: 677px) {
  #huella-btn {
    margin-left: 30%;
  }

  ion-checkbox {
    margin-left: 10%;
  }

  #si {
    margin-left: 30%;
  }

  #Nose {
    margin-left: 22%;
  }

  .input {
    margin-left: 30%;
    width: 40%;
    margin-top: 3%;
    height: 55px;
  }

  /*food*/

  h4 {
    margin-top: 10%;
    margin-bottom: 2%;
  }

  #button {
    width: 20%;
    margin-left: 42%;
  }

  #buttonAtras {
    width: 20%;
    margin-left: 26%;
  }

  #buttonNext {
    width: 20%;
  }
  .input-dieta {
    margin-left: 30%;
    width: 40%;
  }
  #buttonAtras+#buttonNext {
    margin-left: 40px;
  }

  #Miconsumo {
    margin-top: 5%;
    width: 100%;
    margin-left: 0%;
  }

  /*movilidad*/
  #ChooseVehi {
    margin-left: 30%;
    width: 40%;

  }

  #horas {
    margin-left: 48%;
  }

  #km {
    margin-left: 48%;
  }

  #text-transporte {
    font-size: 15px;
  }

  .auth-time2 {

    margin-left: 20%;
    width: 60%;

  }

  .auth-time4 {
    margin-left: 20%;
    width: 60%;
  }

  /*avión*/
  #ViajoAvion {
    margin-left: 25%;
  }

  #viajesCheck {
    width: 80%;
    margin-left: 10%;
  }

  /*movilidad*/
  ion-select {
    margin-left: 20%;
    width: 60%;
  }

  /*avión*/
  #ViajoAvion {
    margin-left: 35%;
  }

  #viajesCheck {
    width: 100%;
    margin-left: 0%;
  }

  /*Fin*/
  .auth-time3 {
    margin-left: 30%;
  }

  //progress bar
  #main-container {
    width: 80%;
    margin-left: 12%;
  }

  .progress-outer {
    margin: 0px 0%;
    margin-top: 0%;
  }

  .Result-text2 {
    font-size: 16px;
    margin-top: 1%;
  }
}

@media (min-width: 576px) and (max-width: 646px) {
  #huella-btn {
    margin-left: 25%;
  }

  ion-checkbox {
    margin-left: 10%;
  }

  #si {
    margin-left: 30%;
  }
  #contenedor {
    width: 80%;
    left: 7%;
  }
  // #text2{
  //   font-size: 15px;
  // }
  #Nose {
    margin-left: 22%;
  }

  .input {
    margin-left: 20%;
    width: 60%;
    margin-top: 3%;
    height: 55px;
  }

  /*food*/
  #button {
    width: 25%;
    margin-top: 5%;
    margin-left: 38%;
  }
  .input-dieta {
    margin-left: 30%;
    width: 40%;
    margin-top: 3%;
    height: 55px;
  }
  h4 {
    margin-top: 10%;
    margin-bottom: 2%;
  }

  #buttonAtras {
    width: 25%;
    margin-left: 22%;
  }

  #buttonNext {
    width: 25%;
  }

  #buttonAtras+#buttonNext {
    margin-left: 40px;
  }

  #Miconsumo {
    margin-top: 5%;
    width: 100%;
    margin-left: 0%;
  }

  /*movilidad*/
  #ChooseVehi {
    margin-left: 30%;
    width: 40%;

  }

  #horas {
    margin-left: 48%;
  }

  #km {
    margin-left: 48%;
  }

  #text-transporte {
    font-size: 15px;
  }

  .auth-time2 {

    margin-left: 20%;
    width: 60%;

  }

  .auth-time4 {
    margin-left: 20%;
    width: 60%;
  }

  /*avión*/
  #ViajoAvion {
    margin-left: 35%;
  }

  #viajesCheck {
    width: 100%;
    margin-left: 0%;
  }

  /*Fin*/
  .auth-time3 {
    margin-left: 30%;
  }
  .Result-text {
    font-size: 16px;
    margin-top: 1%;
  }
  #buttonAtras2 {
    width: 40%;
    margin-left: 8%;
  }

  #buttonNext2 {
    width: 40%;
    margin-left: 7%;
  }
  //progress bar
  #main-container {
    width: 80%;
    margin-left: 12%;
  }

  .progress-outer {
    margin: 0px 0%;
    margin-top: 0%;
  }

  .Result-text2 {
    font-size: 16px;
    margin-top: 1%;
  }
}

@media (min-width: 480px) and (max-width: 575px) {
  #huella-btn {
    margin-left: 20%;
  }

  ion-checkbox {
    margin-left: 10%;
  }

  #header-tittle h3 {
    font-size: 18px;
    margin-top: 10%;
  }

  #si {
    font-size: 30px;
    margin-left: 30%;
  }

  #Nose {
    font-size: 30px;
    margin-left: 22%;
  }

  #text {
    font-size: 20px;
  }

  #text2 {
    font-size: 20px;
  }

  .input {
    margin-left: 20%;
    width: 60%;
    margin-top: 3%;
    height: 55px;
  }

  /*food*/
  .auth-time {
    width: 60%;
  }

  .input-dieta {
    margin-left: 30%;
    width: 40%;

  }
  #button {
    width: 30%;
    margin-top: 5%;
    margin-left: 38%;
  }

  h4 {
    margin-top: 10%;
    margin-bottom: 2%;
  }

  #buttonAtras {
    width: 40%;
    margin-left: 8%;
  }

  #buttonNext {
    width: 40%;
  }

  #buttonAtras+#buttonNext {
    margin-left: 20px;
  }

  #Miconsumo {
    margin-top: 5%;
    width: 100%;
    margin-left: 0%;
  }

  /*movilidad*/
  #ChooseVehi {
    margin-left: 30%;
    width: 40%;

  }

  #horas {
    margin-left: 48%;
  }

  #km {
    margin-left: 48%;
  }

  #text-transporte {
    font-size: 15px;
  }

  .auth-time2 {

    margin-left: 30%;
    width: 40%;

  }

  .auth-time4 {
    margin-left: 30%;
    width: 40%;
  }

  /*avión*/
  #ViajoAvion {
    margin-left: 30%;
  }
  .plane-text{
    text-align: center;
    font-size: 20px;
  color: $COLOR-title;
  }
  .input2 {
   width: 43%;
   margin-left: 30%
  }
  #viajesCheck {
    width: 80%;
    margin-left: 10%;
  }

  /*Fin*/
  .auth-time3 {
    margin-left: 20%;
    width: 60%;
  }
  #buttonAtras2 {
    width: 40%;
    margin-left: 8%;
  }

  #buttonNext2 {
    width: 40%;
    margin-left: 7%;
  }


  //progress bar
  #main-container {
    width: 80%;
    margin-left: 12%;
  }

  .progress-outer {
    margin: 0px 0%;
    margin-top: 0%;
  }

  .Result-text2 {
    font-size: 20px;
    margin-top: 1%;
  }

}

@media (min-width: 361px) and (max-width: 479px) {
  
  
  //progress bar
  #main-container {
    width: 80%;
    margin-left: 12%;
  }

  .progress-outer {
    margin: 0px 0%;
    margin-top: 0%;
  }

  .Result-text2 {
    font-size: 20px;
    margin-top: 1%;
  }

  #huella-btn {
    font-size: 20px;
    margin-left: 14%;
  }

  ion-checkbox {
    margin-left: 10%;
  }

  #img-huella {
    width: 40%;
    height: 40%;
  }

  #header-tittle h3 {
    font-size: 18px;
    //margin-top:10%;
  }

  #si {
    font-size: 30px;
    margin-left: 30%;
  }

  #Nose {
    font-size: 30px;
    margin-left: 22%;
  }

  #text {
    font-size: 18px;
  }

  #text2 {
    font-size: 18px;
  }

  .input {
    margin-left: 20%;
    width: 60%;
    margin-top: 3%;
    height: 55px;
  }

  /*food*/
  #button {
    width: 35%;
    margin-top: 5%;
    margin-left: 35%;
  }

  .input-dieta {
    margin-left: 20%;
    width: 60%;
  }

  h4 {
    margin-top: 10%;
    margin-bottom: 2%;
  }

  #buttonAtras {
    width: 40%;
    margin-left: 5%;
  }

  #buttonNext {
    width: 40%;
  }

  #buttonAtras+#buttonNext {
    margin-left: 20px;
  }

  #Miconsumo {
    margin-top: 5%;
    width: 100%;
    margin-left: 0%;
  }

  /*movilidad*/

  #ChooseVehi {
    margin-left: 20%;
    width: 60%;

  }

  #horas {
    margin-left: 46%;
  }

  #km {
    margin-left: 46%;
  }

  #text-transporte {
    font-size: 15px;
  }

  .auth-time2 {

    margin-left: 20%;
    width: 60%;

  }

  .auth-time4 {
    margin-left: 20%;
    width: 60%;

  }

  /*avión*/
  #ViajoAvion {
    margin-left: 25%;
  }
  .plane-text{
    text-align: center;
    font-size: 20px;
  color: $COLOR-title;
  }
  .input2 {
   width: 60%;
   margin-left: 20%
  }
  #viajesCheck {
    width: 80%;
    margin-left: 10%;
  }

  /*Fin*/
  .auth-time3 {
    margin-left: 20%;
    width: 60%;
  }
  #buttonAtras2 {
    width: 40%;
    margin-left: 8%;
  }

  #buttonNext2 {
    width: 40%;
    margin-left: 7%;
  }

}

@media (min-width: 240px) and (max-width: 360px) {

  //progress bar
  #main-container {
    width: 80%;
    margin-left: 12%;
  }

  .progress-outer {
    margin: 0px 0%;
    margin-top: 0%;
  }

  .Result-text2 {
    font-size: 20px;
    margin-top: 1%;
  }

  //electricidad
  #contenedor {
    width: 80%;
    left: 7%;
  }

  #header-tittle h3 {
    font-size: 18px;
    margin-top: 20%;
  }

  #answer {
    margin-top: 20%;
  }

  #si {
    font-size: 30px;
    margin-left: 25%;
  }

  #Nose {
    font-size: 30px;
  }

  #text {
    font-size: 15px;
  }

  #text2 {
    font-size: 15px;
  }

  .input {
    margin-left: 10%;
    width: 80%;
    margin-top: 3%;
    height: 55px;
  }

  //inicio-calcular
  #huella-btn {
    font-size: 20px;
    margin-left: 8%;
  }

  #img-huella {
    width: 30%;
    height: 30%;
  }

  //generales
  ion-checkbox {
    margin-left: 10%;
  }


  //comida
  #button {
    width: 60%;

    margin-left: 20%;
  }

  .input-dieta {
    margin-left: 10%;
    width: 80%;
    margin-top: 3%;
    height: 55px;
  }

  #buttonAtras {
    width: 40%;
    margin-left: 5%;
  }

  #buttonNext {
    width: 40%;
  }

  #buttonAtras+#buttonNext {
    margin-left: 20px;
  }

  h4 {
    margin-top: 10%;
    margin-bottom: 2%;
  }


  #Miconsumo {
    margin-top: 5%;
    width: 100%;
    margin-left: 0%;
  }

  /*movilidad terrestre*/

  #ChooseVehi {
    margin-left: 20%;
    width: 60%;

  }

  #text-transporte {
    font-size: 15px;
  }

  #horas {
    margin-left: 48%;
  }

  #km {
    margin-left: 48%;
  }

  .auth-time2 {
    margin: 5px 0;
    margin-left: 10%;
    width: 80%;

  }

  .auth-time4 {
    margin-left: 20%;
    width: 60%;
  }

  /*avión*/
  #ViajoAvion {
    margin-left: 22%;
  }

  #viajesCheck {
    width: 80%;
    margin-left: 10%;
  }

  /*Fin*/
  .auth-time3 {
    margin-left: 10%;
    width: 80%;
  }


  #buttonAtras2 {
    width: 40%;
    margin-left: 8%;
  }

  #buttonNext2 {
    width: 40%;
    margin-left: 7%;
  }

}