<ion-header>
    <section class="wrapper">
        <ion-menu-button></ion-menu-button>
    </section>
</ion-header>
<ion-content [ngClass]="cambiarFondo">
    <form [formGroup]="carbonFootprint" (ngSubmit)="calculateFootprint(carbonFootprint.value)">
        <section id="empezar" *ngIf="ocultarSectionCalcular">
            <div id="header-tittle-intro">
                <h2>¿CUÁL ES SU HUELLA DE CARBONO?</h2>
                <h3>Conozca cuantos árboles debería patrocinar para compensar la cantidad de C0<sub>2</sub> que
                    genera diariamente.</h3>
            </div>
            <ion-button style="background: transparent;" id="huella-btn" (click)="nextSlide1()"><img id="img-huella"
                    src="../assets/iconos/huella.png">Calcular</ion-button>
        </section>

        <!-- Formulario parte 1 -->
        <div id="elect" *ngIf="ocultarSectionElect">
            <div class="ConsumoElectricidad" style="background: transparent;">
                <div id="header-tittle">
                    <h2>HOGAR</h2>
                    <h3>¿Sabe su consumo de energía eléctrica?</h3>
                </div>
                <ion-row id="answer">
                    <div id="si">
                        <ion-label>SI</ion-label>
                        <ion-checkbox [attr.disabled]="disableElectric" (click)="activeElectric = !activeElectric"
                            formControlName="sabeConsumoElect"></ion-checkbox>
                    </div>
                    <div id="Nose">
                        <ion-label>NO</ion-label>
                        <ion-checkbox formControlName="noSabeConsumoElect" [attr.disabled]="activeElectric"
                            (click)="disableElectric = !disableElectric;"></ion-checkbox>
                    </div>
                </ion-row>
                <div id="ElectricidadDisabled" *ngIf="activeElectric">
                    <ion-card id="contenedor">
                        <ion-row>
                            <ion-col size-md="4" size-lg="4" size-sm="12" size-xs="12" size-xl="4">
                                <h2 id="text2">¿Cuál es su estrato socioeconómico?</h2>
                                <ion-select interface="popover" class="input" formControlName="estrato"
                                    placeholder="Seleccionar">
                                    <ion-select-option value="233.58">1</ion-select-option>
                                    <ion-select-option value="291.98">2</ion-select-option>
                                    <ion-select-option value="496.37">3</ion-select-option>
                                    <ion-select-option value="583.97">4</ion-select-option>
                                    <ion-select-option value="700.76">5</ion-select-option>
                                    <ion-select-option value="700.76">6</ion-select-option>
                                </ion-select>
                            </ion-col>
                            <ion-col size-md="4" size-lg="4" size-sm="12" size-xs="12" size-xl="4">
                                <h2 id="text2">¿Cuál es el valor promedio de la factura mensual?</h2>
                                <ion-select interface="popover" class="input" formControlName="valorElectrico"
                                    placeholder="Seleccionar">
                                    <ion-select-option value="20000">$0 - $20.000</ion-select-option>
                                    <ion-select-option value="30000">$20.000 - $30.000</ion-select-option>
                                    <ion-select-option value="50000">$30.000 - $50.000</ion-select-option>
                                    <ion-select-option value="100000">$50.000 - $100.000</ion-select-option>
                                    <ion-select-option value="150000">$100.000 - $150.000</ion-select-option>
                                    <ion-select-option value="300000">$150.000 - $300.000</ion-select-option>
                                    <ion-select-option value="500000">$300.000 - $500.000</ion-select-option>
                                    <ion-select-option value="700000">$500.000 - $700.000</ion-select-option>
                                    <ion-select-option value="900000">$700.000 - $900.000</ion-select-option>
                                    <ion-select-option value="1100000">$900.000 - $1.100.000</ion-select-option>
                                    <ion-select-option value="2000000">Superior a $1.100.000</ion-select-option>
                                </ion-select>
                            </ion-col>
                            <ion-col size-md="4" size-lg="4" size-sm="12" size-xs="12" size-xl="4">
                                <h2 id="text2">¿Cuántas personas viven en la casa?</h2>
                                <ion-input class="input" formControlName="Npersonas" placeholder="Ingrese una cantidad">
                                </ion-input>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.Npersonas">
                                        <div class="error-message"
                                            *ngIf="carbonFootprint.get('Npersonas').hasError(validation.type) && (carbonFootprint.get('Npersonas').dirty || carbonFootprint.get('Npersonas').touched) || carbonFootprint.get('Npersonas').hasError(validation.type) && inputUntouched">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </div>
                <ion-button shape="round" slot="end" (click)="nextSlideElecticidad()" id="button">
                    Continuar
                </ion-button>
            </div>
        </div>

        <!-- Formulario parte 2 -->
        <section id="food" *ngIf="ocultarSectionFood">
            <div class="ConsumoAlimentos">
                <div id="header-tittle">
                    <h2>ALIMENTACIÓN</h2>
                    <h3>¿Conoce su dieta o su consumo mensual en productos pecuarios?</h3>
                    <h4>(carne roja, cerdo, pollo, pescado, huevos, productos lácteos)</h4>
                </div>
                <ion-row id="answer">
                    <div id="si">
                        <h2 id="subtext">Dieta</h2>
                        <ion-checkbox formControlName="dietaAlimen" [attr.disabled]="disableAlimt"
                            (click)="activeAlimt = !activeAlimt"></ion-checkbox>
                    </div>
                    <div id="consumo">
                        <h2 id="subtext">Consumo</h2>
                        <ion-checkbox [attr.disabled]="activeAlimt" formControlName="consumoalimen"
                            (click)="disableAlimt = !disableAlimt">
                        </ion-checkbox>
                    </div>
                </ion-row>
                <div id="tipoDieta" *ngIf="activeAlimt">
                    <h2 id="text">¿Cuál es su dieta?</h2>
                    <ion-select interface="popover" class="input-dieta" formControlName="tuDieta"
                        placeholder="Seleccionar">
                        <ion-select-option value="0.01">Vegano</ion-select-option>
                        <ion-select-option value="0.1">Vegetariano</ion-select-option>
                        <ion-select-option value="0.7">Baja en carne</ion-select-option>
                        <ion-select-option value="1.5">Alta en carne</ion-select-option>
                    </ion-select>
                </div>
                <div id="Miconsumo" *ngIf="disableAlimt">
                    <h2 id="food-text">Consumo de alimentos mensual</h2>
                    <ion-row>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="6" size-xl="3">
                            <p>Cordero </p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="cordero" placeholder="0"></ion-input>
                                <ion-label>Kg</ion-label>
                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.cordero">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('cordero').hasError(validation.type) && (carbonFootprint.get('cordero').dirty || carbonFootprint.get('cordero').touched) || carbonFootprint.get('cordero').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>

                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="6" size-xl="3">
                            <p>Carne de res </p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="res" placeholder="0"></ion-input>
                                <ion-label>Kg</ion-label>

                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.res">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('res').hasError(validation.type) && (carbonFootprint.get('res').dirty || carbonFootprint.get('res').touched) || carbonFootprint.get('res').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>

                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="6" size-xl="3">
                            <p>Queso</p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="queso" placeholder="0"></ion-input>
                                <ion-label>Kg</ion-label>

                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.queso">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('queso').hasError(validation.type) && (carbonFootprint.get('queso').dirty || carbonFootprint.get('queso').touched) || carbonFootprint.get('queso').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="6" size-xl="3">
                            <p>Tocino</p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="tocino" placeholder="0"></ion-input>
                                <ion-label>Kg</ion-label>

                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.tocino">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('tocino').hasError(validation.type) && (carbonFootprint.get('tocino').dirty || carbonFootprint.get('tocino').touched) || carbonFootprint.get('tocino').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="6" size-xl="3">
                            <p>Cerdo </p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="cerdo" placeholder="0"></ion-input>
                                <ion-label>Kg</ion-label>

                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.cerdo">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('cerdo').hasError(validation.type) && (carbonFootprint.get('cerdo').dirty || carbonFootprint.get('cerdo').touched) || carbonFootprint.get('cerdo').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="6" size-xl="3">
                            <p>Camarones </p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="camarones" placeholder="0"></ion-input>
                                <ion-label>Kg</ion-label>

                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.camarones">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('camarones').hasError(validation.type) && (carbonFootprint.get('camarones').dirty || carbonFootprint.get('camarones').touched) || carbonFootprint.get('camarones').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="6" size-xl="3">
                            <p>Huevos</p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="huevos" placeholder="0"></ion-input>
                                <ion-label>Und</ion-label>

                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.huevos">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('huevos').hasError(validation.type) && (carbonFootprint.get('huevos').dirty || carbonFootprint.get('huevos').touched) || carbonFootprint.get('huevos').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="6" size-xl="3">
                            <p>Pollo</p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="pollo" placeholder="0"></ion-input>
                                <ion-label>Kg</ion-label>

                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.pollo">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('pollo').hasError(validation.type) && (carbonFootprint.get('pollo').dirty || carbonFootprint.get('pollo').touched) || carbonFootprint.get('pollo').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="6" size-xl="3">
                            <p>Arroz</p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="arroz" placeholder="0"></ion-input>
                                <ion-label>Kg</ion-label>

                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.pollo">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('arroz').hasError(validation.type) && (carbonFootprint.get('arroz').dirty || carbonFootprint.get('arroz').touched) || carbonFootprint.get('arroz').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                    <h2 id="food-text">Consumo de bebidas mensual</h2>
                    <ion-row>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="6" size-xl="3">
                            <p>Chocolate </p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="chocolate" placeholder="0"></ion-input>
                                <ion-label>Lt</ion-label>

                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.chocolate">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('chocolate').hasError(validation.type) && (carbonFootprint.get('chocolate').dirty || carbonFootprint.get('chocolate').touched) || carbonFootprint.get('chocolate').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="6" size-xl="3">
                            <p>Café</p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="cafe" placeholder="0"></ion-input>
                                <ion-label>Lt</ion-label>

                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.cafe">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('cafe').hasError(validation.type) && (carbonFootprint.get('cafe').dirty || carbonFootprint.get('cafe').touched) || carbonFootprint.get('cafe').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="6" size-xl="3">
                            <p>Vino</p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="vino" placeholder="0"></ion-input>
                                <ion-label>Lt</ion-label>

                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.vino">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('vino').hasError(validation.type) && (carbonFootprint.get('vino').dirty || carbonFootprint.get('vino').touched) || carbonFootprint.get('vino').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="6" size-xl="3">
                            <p>Leche</p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="leche" placeholder="0"></ion-input>
                                <ion-label>Lt</ion-label>

                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.leche">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('leche').hasError(validation.type) && (carbonFootprint.get('leche').dirty || carbonFootprint.get('leche').touched) || carbonFootprint.get('leche').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="6" size-xl="3">
                            <p>Cerveza</p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="cerveza" placeholder="0"></ion-input>
                                <ion-label>Lt</ion-label>

                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.cerveza">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('cerveza').hasError(validation.type) && (carbonFootprint.get('cerveza').dirty || carbonFootprint.get('cerveza').touched) || carbonFootprint.get('cerveza').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
                <ion-button id="buttonAtras" shape="round" (click)="behindSlide()" slot="end">
                    Atrás
                </ion-button>
                <ion-button id="buttonNext" shape="round" slot="end" (click)="nextSlideAlimento()">
                    Continuar
                </ion-button>
            </div>
        </section>

        <!-- Formulario parte  3-->
        <section id="movil" *ngIf="ocultarSectionTrans">
            <div class="ConsumoTransporteTerrestre">
                <div id="header-tittle">
                    <h2>MOVILIDAD</h2>
                    <h3>¿Cuál es el medio de transporte que más utiliza a diario?</h3>
                    <h4 id="movilidad">(como conductor o pasajero)</h4>
                </div>
                <div id="mediodetransporte">
                    <h2 id="subtext2">Vehículos</h2>
                    <ion-select id="ChooseVehi" interface="popover" formControlName="MedioDeTrasporte"
                        placeholder="Seleccionar">
                        <ion-select-option value="0">Bicicleta</ion-select-option>
                        <ion-select-option value="1">Moto</ion-select-option>
                        <ion-select-option value="2">Autobús</ion-select-option>
                        <ion-select-option value="4">Automóvil</ion-select-option>
                    </ion-select>
                    <!-- <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.ChooseVehi">
                            <div class="error-message"
                                *ngIf="carbonFootprint.get('ChooseVehi').hasError(validation.type) && (carbonFootprint.get('ChooseVehi').dirty || carbonFootprint.get('ChooseVehi').touched) || carbonFootprint.get('ChooseVehi').hasError(validation.type) && inputUntouched">
                                <ion-icon name="information-circle-outline"></ion-icon>
                                &nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div> -->
                    <ion-card id="contenedor">
                        <ion-row>
                            <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                <div id="Distancia">
                                    <h2 id="text-transporte">¿Conoce las horas diarias que viaja?</h2>
                                    <ion-checkbox id="horas" formControlName="distanciaHoras"
                                        [attr.disabled]="disableTransporeKM"
                                        (click)="disableTransporeHora = !disableTransporeHora">
                                    </ion-checkbox>
                                </div>
                                <div *ngIf="disableTransporeHora">
                                    <ion-item class="auth-time2">
                                        <ion-input formControlName="horasdeManejo" placeholder="0"></ion-input>
                                        <ion-label>Horas</ion-label>
                                    </ion-item>
                                    <div class="validation-errors">
                                        <ng-container *ngFor="let validation of validation_messages.horasdeManejo">
                                            <div class="error-message"
                                                *ngIf="carbonFootprint.get('horasdeManejo').hasError(validation.type) && (carbonFootprint.get('horasdeManejo').dirty || carbonFootprint.get('horasdeManejo').touched) || carbonFootprint.get('horasdeManejo').hasError(validation.type) && inputUntouched">
                                                <ion-icon name="information-circle-outline"></ion-icon>
                                                &nbsp;{{validation.message}}
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                            </ion-col>
                            <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                <div id="Manejo">
                                    <h2 id="text-transporte">¿Conoce los kms diarios que viaja?</h2>
                                    <ion-checkbox id="km" formControlName="distanciaKM"
                                        (click)="disableTransporeKM = !disableTransporeKM"
                                        [attr.disabled]="disableTransporeHora">
                                    </ion-checkbox>
                                </div>
                                <div *ngIf="disableTransporeKM">
                                    <ion-item class="auth-time4">
                                        <ion-input formControlName="distanciaDiaria" placeholder="0"></ion-input>
                                        <ion-label>Km</ion-label>
                                    </ion-item>
                                    <div class="validation-errors">
                                        <ng-container *ngFor="let validation of validation_messages.distanciaDiaria">
                                            <div class="error-message"
                                                *ngIf="carbonFootprint.get('distanciaDiaria').hasError(validation.type) && (carbonFootprint.get('distanciaDiaria').dirty || carbonFootprint.get('distanciaDiaria').touched) || carbonFootprint.get('distanciaDiaria').hasError(validation.type) && inputUntouched">
                                                <ion-icon name="information-circle-outline"></ion-icon>
                                                &nbsp;{{validation.message}}
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                            </ion-col>
                        </ion-row>
                    </ion-card>
                </div>
                <ion-button id="buttonAtras" shape="round" slot="end" (click)="behindSlide()">
                    Atrás
                </ion-button>
                <ion-button shape="round" id="buttonNext" slot="end" (click)="nextSlideTransporte()">
                    Continuar
                </ion-button>
            </div>
        </section>

        <!-- Formulario parte 4 -->
        <section id="plane" *ngIf="ocultarSectionPlane">
            <div class="ConsumotransporteAereo">
                <div id="header-tittle-plane">
                    <h2>MOVILIDAD AÉREA</h2>
                    <h3>¿Viaja con frequencia en avión?</h3>
                </div>
                <ion-row id="answer">
                    <div id="ViajoAvion">
                        <ion-label>SI</ion-label>
                        <ion-checkbox formControlName="avionSi" [attr.disabled]="disableAvion"
                            (click)="activeAvion = !activeAvion"></ion-checkbox>
                    </div>
                    <div id="NoviajoAvion">
                        <ion-label>NO</ion-label>
                        <ion-checkbox [attr.disabled]="activeAvion" formControlName="avionNo"
                            (click)="disableAvion = !disableAvion"></ion-checkbox>
                    </div>
                </ion-row>
                <div id="viajesCheck" *ngIf="activeAvion">
                    <h2 id="food-text">Número de viajes nacionales al año</h2>
                    <ion-row>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <ion-input class="input2" formControlName="nacional" placeholder="0">
                            </ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.nacional">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('nacional').hasError(validation.type) && (carbonFootprint.get('nacional').dirty || carbonFootprint.get('nacional').touched) || carbonFootprint.get('nacional').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                    <h2 id="food-text">Número de viajes internacionales al año</h2>
                    <ion-row>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p class="plane-text">Norteamérica </p>
                            <ion-input class="input2" formControlName="norteamerica" placeholder="0">
                            </ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.norteamerica">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('norteamerica').hasError(validation.type) && (carbonFootprint.get('norteamerica').dirty || carbonFootprint.get('norteamerica').touched) || carbonFootprint.get('norteamerica').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p class="plane-text">Suramérica</p>
                            <ion-input class="input2" formControlName="suramerica" placeholder="0">
                            </ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.suramerica">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('suramerica').hasError(validation.type) && (carbonFootprint.get('suramerica').dirty || carbonFootprint.get('suramerica').touched) || carbonFootprint.get('suramerica').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p class="plane-text">Europa</p>
                            <ion-input class="input2" formControlName="europa" placeholder="0">
                            </ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.europa">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('europa').hasError(validation.type) && (carbonFootprint.get('europa').dirty || carbonFootprint.get('europa').touched) || carbonFootprint.get('europa').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p class="plane-text">Asia</p>
                            <ion-input class="input2" formControlName="asia" placeholder="0">
                            </ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.asia">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('asia').hasError(validation.type) && (carbonFootprint.get('asia').dirty || carbonFootprint.get('asia').touched) || carbonFootprint.get('asia').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p class="plane-text">Oceanía</p>
                            <ion-input class="input2" formControlName="oceania" placeholder="0">
                            </ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.oceania">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('oceania').hasError(validation.type) && (carbonFootprint.get('oceania').dirty || carbonFootprint.get('oceania').touched) || carbonFootprint.get('oceania').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p class="plane-text">África</p>
                            <ion-input class="input2" formControlName="africa" placeholder="0">
                            </ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.africa">
                                    <div class="error-message"
                                        *ngIf="carbonFootprint.get('africa').hasError(validation.type) && (carbonFootprint.get('africa').dirty || carbonFootprint.get('africa').touched) || carbonFootprint.get('africa').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
                <ion-button id="buttonAtras" shape="round" slot="end" (click)="behindSlide()">
                    Atrás
                </ion-button>
                <ion-button type="submit" shape="round" slot="end" id="buttonNext">
                    Continuar
                </ion-button>
            </div>
        </section>
    </form>

    <!-- Resultados -->
    <section id="empezar" *ngIf="ocultarSectionResult">
        <div class="Resultados">
            <div id="header-tittle-plane">
                <h2>¡ESTA ES SU HUELLA DE CARBONO!</h2>

            </div> <br>
            <!-- Barras de porcentajes -->
            <div id="main-container">
                <ion-row>

                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <h3 class="Result-text2">Consumo eléctrico</h3>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <br>
                        <div class="progress-outer">
                            <div class="progress-electricidad" [style.width]="CalculodeElectricidad + '%'">
                            </div>
                        </div>

                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <h3 class="Result-text2">{{CalculodeElectricidad}}%</h3>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <h3 class="Result-text2">Alimentación</h3>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <br>
                        <div class="progress-outer">
                            <div class="progress-alimentos" [style.width]="CalculodeAlimentacion + '%'">
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <h3 class="Result-text2">{{CalculodeAlimentacion}}%</h3>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <h3 class="Result-text2">Transporte Terrestre</h3>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <br>
                        <div class="progress-outer">
                            <div class="progress-terrestre" [style.width]="CalculodeTransporteTerrestre + '%'">
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <h3 class="Result-text2">{{CalculodeTransporteTerrestre}}%</h3>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <h3 class="Result-text2">Transporte Aereo</h3>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <br>
                        <div class="progress-outer">
                            <div class="progress-aereo" [style.width]="CalculodeTransporteAereo + '%'">
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <h3 class="Result-text2">{{CalculodeTransporteAereo}}%</h3>
                    </ion-col>
                </ion-row>
            </div>
            <ion-row>
                <ion-col size-md="12" size-lg="6" size-sm="" size-xs="12" size-xl="6">
                    <h2 class="Result-text">Total huella de carbono</h2>
                    <ion-item class="auth-time3">
                        <ion-input disabled="true">{{CalculoHuellaCarbono}}</ion-input>
                        <ion-label>Ton CO2/año</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size-md="12" size-lg="6" size-sm="12" size-xs="12" size-xl="6">
                    <h2 class="Result-text">Árboles necesarios para compensar su huella</h2>
                    <ion-item class="auth-time3">
                        <ion-input disabled="true">{{CalculodeArboles}}</ion-input>
                        <ion-label>Árboles</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-button shape="round" id="buttonNext2" slot="end" (click)="restarForm()">Repetir</ion-button>
            <ion-button shape="round" id="buttonAtras2" slot="end" routerLink="/sponsorshipform">Patrocinar</ion-button>
        </div>
    </section>
</ion-content>