/*importa tipografias*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
a,h1,h2,h3,h4,h5,h6,p{
  font-family: "Poppins", sans-serif;
}
$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#97BF41;
$COLOR-title:#0e1b4d;

ion-header{
background: $COLOR-title;
}

#logo{
    cursor: pointer;
}
img{
    width: 70px;
    height: 50px;
   align-content: right;
}
.text-search{
    font-size: 12px;
    color: grey;
    font-weight: bold;
    text-align: center;
}
.saludo{
    text-align: right;
    color: #fff;
}
.header-grid{
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
}
.text-grid{
    color: grey;
}
.columnas{
    border-right: 2px solid grey;
    border-bottom: 1px solid grey;
}
ion-label{
color: $COLOR-title;
font-weight: 500;
}
#new-users{
    margin-top: 2%;
    margin-bottom: 2%;
}
.patrocinio-search{
    margin-top: 2%;
    margin-bottom: 2%; 
}
.Btt-new-users{
   background: $COLOR-title;
   color: #fff;
   border-radius: 10px;
}
.text-user{
    color: $COLOR-title;
    font-size: 20px;
}
ion-icon{
    color: $COLOR-title;
    font-size: 20px;
    }
    ion-searchbar{
        --box-shadow: 0px 2px 10px #0e1b4d;
    }
    ion-button{
        --border-radius: 10px;
       --background: transparent;
    }
.trash-bottom:hover{
background: rgb(253, 187, 187);
}
.discard-bottom:hover{
    background: rgb(253, 187, 187);
    }
.valid-bottom:hover{
        background: rgb(178, 252, 168);
        }
.edit-bottom:hover{
    background: rgb(243, 236, 177);
    }

    /*Toggle*/

h2{
    font-size: 14px;
}
.SinAprobar{
    font-size: 20px;
    font-weight: bold;
    color: grey;
    text-align: center;
}
.Aprobado{
    font-size: 20px;
    font-weight: bold;
    color: $COLOR-SECUNDARY;
    text-align: center;
}
.Desaprobado{
    font-size: 20px;
    font-weight: bold;
    color: rgb(250, 140, 140);
    text-align: center;
}

ion-toggle {
    --background: rgb(219, 80, 80);
    --background-checked:  rgb(219, 80, 80);
    --handle-background: red;
    --handle-background-checked: red;
}  