<ion-header>
  <ion-row>
    <ion-col>
      <img alt="Aire+Limpio" id="logo" routerLink="/home" src="../assets/images/logo-blanco.png">
    </ion-col>
    <ion-col *ngFor="let data of dataUser">
      <h4 class="saludo">{{data.name}} {{data.lastName}}</h4>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <!-- Html para actualizar -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content pullingIcon="arrow-down-outline" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <!-- Menu -->
  <ion-segment class="tabs" [(ngModel)]="selectTabs">
    <ion-segment-button value="Usuarios">
      <ion-label class="text-seg">Usuarios Registrados</ion-label>
      <ion-icon class="iconos" name="people-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="Pagos">
      <ion-label class="text-seg">Patrocinios</ion-label>
      <ion-icon class="iconos" name="card-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="Proyectos">
      <ion-label class="text-seg">Validar Proyectos</ion-label>
      <ion-icon class="iconos" name="create-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="pqr">
      <ion-label class="text-seg">PQRSD</ion-label>
      <ion-icon class="iconos" name="file-tray-full-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <div id="Usuarios" *ngIf="selectTabs == 'Usuarios'">
    <!-- Nuevos usuarios -->
    <ion-row id="new-users">
      <ion-col size="6">
        <ion-searchbar (ionChange)="searchUser($event)" placeholder="Buscar"></ion-searchbar>
        <p class="text-search">(Para filtrar la búsqueda ingrese el correo electrónico completo del usuario)</p>
      </ion-col>
    </ion-row>
    <!-- Fila principal de titulos -->
    <ion-row class="header-grid">
      <ion-col class="columnas" size="3">
        <h3 class="text-grid">Email</h3>
      </ion-col>
      <ion-col class="columnas" size="3">
        <h3 class="text-grid">Nombre</h3>
      </ion-col>
      <ion-col class="columnas" size="2">
        <h3 class="text-grid">Celular</h3>

      </ion-col>
      <ion-col class="columnas" size="1">
        <h3 class="text-grid">Rol</h3>

      </ion-col>
      <ion-col class="columnas" size="1">
        <h3 class="text-grid">Editar</h3>

      </ion-col>
      <ion-col class="columnas" size="2">
        <h3 class="text-grid">Recuperacion de contraseña</h3>

      </ion-col>
    </ion-row>
    <!-- Fin de fila principal -->
    <div *ngIf="usuarios.length > 0">
      <ion-row *ngFor="let searchuser of usuarios">
        <!-- Falta poner los demas campos que componen los datos del usuario -->
        <ion-col class="columnas" size="3">
          {{searchuser.email}}
        </ion-col>
        <ion-col class="columnas" size="3">
          {{searchuser.name}}
          {{searchuser.lastName}}
        </ion-col>
        <ion-col class="columnas" size="2">
          {{searchuser.cellPhone}}
        </ion-col>
        <ion-col class="columnas" size="1">
          {{searchuser.rol}}
        </ion-col>
        <ion-col class="columnas ion-text-center" size="1">
          <ion-button class="edit-bottom" (click)="detallesUser(searchuser)">
            <ion-icon name="pencil-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="columnas ion-text-center" size="2">
          <ion-button class="trash-bottom" (click)="sendLinkReset(searchuser.email)">
            <ion-icon name="mail-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="usuarios.length === 0">
      <ion-row *ngFor="let user of collectionUsers">
        <!-- Falta poner los demas campos que componen los datos del usuario -->
        <ion-col class="columnas" size="3">
          {{user.email}}
        </ion-col>
        <ion-col class="columnas" size="3">
          {{user.name}}
          {{user.lastName}}
        </ion-col>
        <ion-col class="columnas" size="2">
          {{user.cellPhone}}
        </ion-col>
        <ion-col class="columnas" size="1">
          {{user.rol}}
        </ion-col>
        <ion-col class="columnas ion-text-center" size="1">
          <ion-button class="edit-bottom" (click)="detallesUser(user)">
            <ion-icon name="pencil-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="columnas ion-text-center" size="2">
          <ion-button class="trash-bottom" (click)="sendLinkReset(user.email)">
            <ion-icon name="mail-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div id="Pagos" *ngIf="selectTabs== 'Pagos'">
    <ion-row class="patrocinio-search">
      <ion-col size="6">
        <ion-searchbar (ionChange)="searchSponsor($event)" placeholder="Buscar"></ion-searchbar>
        <p class="text-search">(Para filtrar la búsqueda ingrese el correo electrónico completo del usuario)</p>
      </ion-col>
    </ion-row>
    <!-- Fila principal de titulos -->
    <ion-row class="header-grid">
      <ion-col class="columnas" size="1">
        <h3 class="text-grid">ID</h3>
      </ion-col>
      <ion-col class="columnas" size="3">
        <h3 class="text-grid">Nombre</h3>
      </ion-col>
      <ion-col class="columnas" size="3">
        <h3 class="text-grid">Email</h3>
      </ion-col>
      <ion-col class="columnas" size="2">
        <h3 class="text-grid">Pago mensual</h3>

      </ion-col>
      <ion-col class="columnas" size="1">
        <h3 class="text-grid">Huella de carbono</h3>

      </ion-col>
      <ion-col class="columnas" size="1">
        <h3 class="text-grid">Detalles</h3>

      </ion-col>
      <ion-col class="columnas" size="1">
        <h3 class="text-grid">Eliminar</h3>
      </ion-col>
    </ion-row>
    <div *ngIf="Sponsor.length > 0">
      <ion-row *ngFor="let datasponsor of Sponsor">
        <!-- Falta poner los demas campos que componen los datos del usuario -->
        <ion-col class="columnas" size="1">
          {{datasponsor.id}}
        </ion-col>
        <ion-col class="columnas" size="3">
          {{datasponsor.name}}
          {{datasponsor.lastName}}
        </ion-col>
        <ion-col class="columnas" size="3">
          {{datasponsor.user.email}}
        </ion-col>
        <ion-col class="columnas" size="2">
          {{datasponsor.amountMoney}}
        </ion-col>
        <ion-col class="columnas" size="1">
          {{datasponsor.carbonfootprint}}
        </ion-col>
        <ion-col class="columnas ion-text-center" size="1">
          <ion-button class="edit-bottom" (click)="detallesSponsor(datasponsor)">
            <ion-icon name="eye-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="columnas ion-text-center" size="1">
          <ion-button class="trash-bottom" (click)="delete('sponsorship',datasponsor.id)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="Sponsor.length === 0">
      <ion-row *ngFor="let sponsor of collectionSponsorShip">
        <!-- Falta poner los demas campos que componen los datos del usuario -->
        <ion-col class="columnas" size="1">
          {{sponsor.id}}
        </ion-col>
        <ion-col class="columnas" size="3">
          {{sponsor.name}}
          {{sponsor.lastName}}
        </ion-col>
        <ion-col class="columnas" size="3">
          {{sponsor.user.email}}
        </ion-col>
        <ion-col class="columnas" size="2">
          {{sponsor.amountMoney}}
        </ion-col>
        <ion-col class="columnas" size="1">
          {{sponsor.carbonfootprint}}
        </ion-col>
        <ion-col class="columnas ion-text-center" size="1">
          <ion-button class="edit-bottom" (click)="detallesSponsor(sponsor)">
            <ion-icon name="eye-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="columnas ion-text-center" size="1">
          <ion-button class="trash-bottom" (click)="delete('sponsorship',sponsor.id)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div id="Proyectos" *ngIf="selectTabs=='Proyectos'">
    <!-- Nuevos proyectos -->
    <ion-row id="new-users">
      <ion-col size="6">
        <ion-searchbar (ionChange)="searchProyect($event)" placeholder="Buscar"></ion-searchbar>
        <p class="text-search">(Para filtrar la búsqueda ingrese el nombre completo del proyecto)</p>

      </ion-col>
    </ion-row>
    <!-- Fila principal de titulos -->
    <ion-row class="header-grid">
      <ion-col class="columnas" size="4">
        <h3 class="text-grid">Nombre del proyecto</h3>
      </ion-col>
      <ion-col class="columnas" size="2">
        <h3 class="text-grid">Registrado por:</h3>
      </ion-col>
      <ion-col class="columnas" size="3">
        <h3 class="text-grid">Aprobado/Rechazado</h3>

      </ion-col>
      <ion-col class="columnas" size="1">
        <h3 class="text-grid">Editar</h3>
      </ion-col>
      <ion-col class="columnas" size="1">
        <h3 class="text-grid">Estado</h3>
      </ion-col>
      <ion-col class="columnas" size="1">
        <h3 class="text-grid">Eliminar</h3>

      </ion-col>
    </ion-row>
    <!-- Fin de fila principal -->
    <div *ngIf="Proyectos.length > 0">
      <ion-row *ngFor="let proyect of Proyectos">
        <!-- Falta poner los demas campos que componen los datos del usuario -->
        <ion-col class="columnas" size="4">
          {{proyect.projectName}}
        </ion-col>
        <ion-col class="columnas" size="2">
          {{proyect.user.email}}
        </ion-col>
        <ion-col class="columnas ion-text-center" size="3">
          {{proyect.Validate}}
        </ion-col>

        <ion-col class="columnas ion-text-center" size="1">
          <ion-button class="edit-bottom" (click)="detallesRegisterProject(proyect)">
            <ion-icon name="pencil-outline"></ion-icon>
          </ion-button>

        </ion-col>
        <ion-col class="columnas ion-text-center" size="1">
          <ion-button class="edit-bottom" (click)="prueba(proyect)">
            <ion-icon name="toggle-outline"></ion-icon>
          </ion-button>

        </ion-col>
        <ion-col class="columnas ion-text-center" size="1">
          <ion-button class="trash-bottom" (click)="delete('registerProject',proyect.projectName)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="Proyectos.length === 0">
      <ion-row *ngFor="let proyect of collectionProject">
        <!-- Falta poner los demas campos que componen los datos del usuario -->
        <ion-col class="columnas" size="4">
          {{proyect.projectName}}
        </ion-col>
        <ion-col class="columnas" size="2">
          {{proyect.user.email}}
        </ion-col>
        <ion-col class="columnas ion-text-center" size="3">
          {{proyect.Validate}}
        </ion-col>

        <ion-col class="columnas ion-text-center" size="1">
          <ion-button class="edit-bottom" (click)="detallesRegisterProject(proyect)">
            <ion-icon name="pencil-outline"></ion-icon>
          </ion-button>

        </ion-col>
        <ion-col class="columnas ion-text-center" size="1">
          <ion-button class="edit-bottom" (click)="prueba(proyect)">
            <ion-icon name="toggle-outline"></ion-icon>
          </ion-button>

        </ion-col>
        <ion-col class="columnas ion-text-center" size="1">
          <ion-button class="trash-bottom" (click)="delete('registerProject',proyect.projectName)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

  </div>

  <div id="pqr" *ngIf="selectTabs== 'pqr'">
    <!-- Fila principal de titulos -->
    <ion-row id="new-users">
      <ion-col size="6">
        <ion-searchbar (ionChange)="searchPQR($event)" placeholder="Buscar"></ion-searchbar>
        <p class="text-search">(Para filtrar la búsqueda ingrese el correo electrónico completo del usuario)</p>

      </ion-col>
    </ion-row>
    <ion-row class="header-grid">
      <ion-col class="columnas" size="2">
        <h3 class="text-grid">Radicado</h3>
      </ion-col>
      <ion-col class="columnas" size="2">
        <h3 class="text-grid">Email</h3>
      </ion-col>
      <ion-col class="columnas" size="5">
        <h3 class="text-grid">Motivo</h3>

      </ion-col>
      <ion-col class="columnas" size="2">
        <h3 class="text-grid">Estado</h3>

      </ion-col>
      <ion-col class="columnas" size="1">
        <h3 class="text-grid">Eliminar</h3>

      </ion-col>
    </ion-row>
    <!-- Fin de fila principal  -->
    <div *ngIf="PQRs.length > 0">
      <ion-row *ngFor="let PQR of PQRs">
        <ion-col class="columnas" size="2">
          {{PQR.radicado}}
        </ion-col>
        <ion-col class="columnas" size="2">
          {{PQR.email}}
        </ion-col>
        <ion-col class="columnas" size="5">
          {{PQR.pqr}}
        </ion-col>
        <ion-col class="columnas " size="2">
          <ion-row>
            <ion-col size="6" class="  ion-text-center">
              <ion-toggle color="success" checked="{{PQR.estado}}" [(ngModel)]="PQR.estado"
                (ngModelChange)="changeEstadoPQR(PQR)">
              </ion-toggle>
            </ion-col>
            <ion-col size="6" class="  ion-text-center">
              <h2 *ngIf="PQR.estado" style="color: green;">Atendido</h2>
              <h2 *ngIf="!PQR.estado" style="color: red;">Sin atender</h2>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col class="columnas  ion-text-center" size="1">
          <ion-button class="trash-bottom" (click)="delete('PQR',PQR.radicado)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="PQRs.length === 0">
      <ion-row *ngFor="let PQR of collectionPqr">
        <ion-col class="columnas" size="2">
          {{PQR.radicado}}
        </ion-col>
        <ion-col class="columnas" size="2">
          {{PQR.email}}
        </ion-col>
        <ion-col class="columnas" size="5">
          {{PQR.pqr}}
        </ion-col>
        <ion-col class="columnas " size="2">
          <ion-row>
            <ion-col size="6" class="  ion-text-center">
              <ion-toggle color="success" checked="{{PQR.estado}}" [(ngModel)]="PQR.estado"
                (ngModelChange)="changeEstadoPQR(PQR)">
              </ion-toggle>
            </ion-col>
            <ion-col size="6" class="  ion-text-center">
              <h2 *ngIf="PQR.estado" style="color: green;">Atendido</h2>
              <h2 *ngIf="!PQR.estado" style="color: red;">Sin atender</h2>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col class="columnas  ion-text-center" size="1">
          <ion-button class="trash-bottom" (click)="delete('PQR',PQR.radicado)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

</ion-content>