<!-- <app-ion-header title="Banco de proyectos"></app-ion-header> -->
<ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <h2>Banco de proyectos</h2>
</ion-toolbar>
<ion-content>
    <!-- Html para actualizar -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="100" pullMax="200">
        <ion-refresher-content pullingIcon="arrow-down-outline" refreshingSpinner="circles"
            refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher>
    <section id="intro">
        <p>Conozca nuestros proyectos forestales y contribuya a la plantación de árboles en todo el territorio
            nacional.</p>
    </section>
    <section id="project">
        <ion-row class="main" *ngIf="collectionProject && collectionProject.length > 0">
            <ion-col size-md="6" size-lg="4" size-sm="6" size-xs="12" size-xl="4"
                *ngFor="let data of collectionProject">
                <ion-card *ngIf="data.Validate == 'Aprobado'">
                    <ion-card-header *ngFor="let valor of data.photos; first as isFirst">
                        <img src="{{valor}}" alt="Imagen del Proyecto" *ngIf="isFirst" style="width: 100%; height: 250px;">
                    </ion-card-header>
                    <ion-card-content>
                        <ion-card-title>{{data.projectName}}</ion-card-title>
                        <a (click)="detailsProject(data)" class="button">Detalles</a>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </section>
</ion-content>