<ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="center">
        <!-- <img id="logo" src="../assets/images/logo-blanco.png">  -->
    </ion-buttons>
    <h3>¿Olvidó su contraseña?</h3>
</ion-toolbar>
<!-- <ion-col>
    <img id="logo" src="../assets/images/logo-blanco.png">
  </ion-col> -->
<ion-content>
    <section id="card-recovery">
        <h2>¡No se preocupe! Ingrese su correo electrónico y nosotros le enviaremos un link de recuperación
        </h2>
        <form [formGroup]="forgotPassword" (ngSubmit)="sendLinkReset(forgotPassword.value)">
            <ion-row>
                <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                    <img alt="Aire+Limpio" src="../assets/images/forgotPass.svg">
                </ion-col>
                <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                    <ion-input placeholder="Correo electrónico" formControlName="email" type="email"></ion-input>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.email">
                            <div class="error-message"
                                *ngIf="forgotPassword.get('email').hasError(validation.type) && (forgotPassword.get('email').dirty || forgotPassword.get('email').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                    <ion-button id="send" shape="round" expand="full" type="submit" [disabled]="!forgotPassword.valid">
                        Enviar
                    </ion-button>
                </ion-col>
            </ion-row>

            <br>
        </form>

    </section>
</ion-content>