$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#97BF41;
$COLOR-title:#0e1b4d;
$COLOR-HOVER-GREEN: #c6dd93;
$red:rgb(245, 185, 185);
/*importa tipografias*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# toolbar Section
--------------------------------------------------------------*/
ion-menu-button {
  color: #fff;
  font-size: 30px;
}

ion-toolbar {
  --background: #0e1b4d;
}

/*--------------------------------------------------------------
# content Section
--------------------------------------------------------------*/

#send {
  --background: #97BF41;
  width: 150px;
  height: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: 0.5s;
  margin-top: 5%;
  margin-left: 25%;
}

#send:hover {
  --background: #c6dd93;

}

ion-input {
  --border-color: transparent !important;
  --highlight-height: 0;
  border: 2px solid #bebebe;
  width: 60%;
  background-color: #fff;
  height: 55px;
  margin-top: 5%;
  margin-left: 10%;
  border-radius: 5px;
}

h2 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 20px;
  color: $COLOR-title;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

img {
  width: 80%;
  height: 50%;
}

/*--------------------------------------------------------------
# valid
--------------------------------------------------------------*/
ion-input.ng-valid {
  border: 2px solid $COLOR-SECUNDARY;
  border-right: 2px solid $COLOR-SECUNDARY;
}

ion-input.ng-invalid.ng-touched {
  border: 2px solid $red;
  border-right: 2px solid $red;
}

.error-message {
  color: #eb4545;
  text-align: center;
}

/*--------------------------------------------------------------
# Change with device Section
--------------------------------------------------------------*/
@media (min-width:1023)and (max-width: 1350) {
    
}

@media (min-width:806px)and (max-width: 1023px) {
  h3 {
    font-size: 22px;
  }

  #send {
    margin-left: 30%;
  }

  ion-input {
    margin-top: 10%;
    width: 80%;
    margin-left: 5%;
  }

  img {
    margin-top: 5%;
    width: 90%;
    height: 90%;
  }

  h2 {
    margin-top: 8%;
    font-size: 20px;
  }
}

@media (min-width: 751px) and (max-width: 805px) {
  h3 {
    font-size: 22px;
  }

  #send {
    margin-left: 30%;
  }

  ion-input {
    margin-top: 10%;
    width: 100%;
    margin-left: 0%;
  }

  img {
    margin-top: 5%;
    width: 90%;
    height: 90%;
  }

  h2 {
    margin-top: 8%;
    font-size: 20px;
  }
}
@media (min-width: 678px) and (max-width: 750px) {
  h3 {
    font-size: 22px;
  }

  #send {
    margin-left: 30%;
  }

  ion-input {
    margin-top: 5%;
    width: 100%;
    margin-left: 0%;
  }

  img {
    margin-top: 5%;
    width: 90%;
    height: 90%;
  }

  h2 {
    margin-top: 8%;
    font-size: 20px;
  }
}

@media (min-width: 647px) and (max-width: 677px) {
  h3 {
    font-size: 22px;
  }

  #send {
    margin-left: 30%;
  }

  ion-input {
    margin-top: 5%;
    width: 100%;
    margin-left: 0%;
  }

  img {
    margin-top: 5%;
    width: 90%;
    height: 90%;
  }

  h2 {
    margin-top: 8%;
    font-size: 20px;
  }
}

@media (min-width: 576px) and (max-width: 646px) {
  h3 {
    font-size: 22px;
  }

  #send {
    margin-left: 30%;
  }

  ion-input {
    margin-top: 5%;
    width: 100%;
    margin-left: 0%;
  }

  img {
    margin-top: 5%;
    width: 90%;
    height: 90%;
  }

  h2 {
    margin-top: 8%;
    font-size: 20px;
  }
}

@media (min-width: 480px) and (max-width: 575px) {
  h3 {
    font-size: 18px;
  }

  #send {
    margin-left: 30%;
  }

  ion-input {
    margin-top: 0%;
    width: 80%;
    margin-left: 10%;
  }

  img {
    margin-top: 5%;
    width: 90%;
    height: 90%;
  }

  h2 {
    font-size: 18px;
  }
}

@media (min-width: 361px) and (max-width: 479px) {
  h3 {
    font-size: 18px;
  }

  #send {
    margin-left: 30%;
  }

  ion-input {
    margin-top: 0%;
    width: 80%;
    margin-left: 10%;
  }

  img {
    margin-top: 5%;
    width: 90%;
    height: 90%;
  }

  h2 {
    font-size: 18px;
  }
}

@media (min-width: 240px) and (max-width: 360px) {

  h3 {
    font-size: 18px;
  }


  #send {
    margin-left: 30%;
  }

  ion-input {
    margin-top: 0%;
    width: 100%;
    margin-left: 0%;
  }

  img {
    margin-top: 5%;
    width: 100%;
    height: 100%;
  }

  h2 {
    font-size: 18px;
  }
}