<ion-app>
  <ion-split-pane contentId="main-content" when="(min-width: 1922px)">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="menu-header-bg"> </div>
        <div class="header-content">
          <ion-avatar>
            <img alt="Aire+Limpio" id="userImage" src="{{Photo}}">
          </ion-avatar>
          <ion-menu-toggle auto-hide="false">
            <a routerLink="/account">{{Name}}</a>
            <div>
              <a class="text-panel-admin" *ngIf="activateDashboar" routerLink="/admin-dashboard">Panel de administración</a>
            </div>
          </ion-menu-toggle>
        </div>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
              detail="false" [class.selected]="selectedIndex == i" (click)="onLogout(p.title)">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>