<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <section id="intro">
    <div class="intro-container">
      <img src="../assets/images/logo-azul.png" class="logo">
      <h2>¡BIENVENIDOS!</h2>
      <p>¡Conozca nuestras iniciativas para la reducción de la huella de carbono!</p>
    </div>
  </section>
  <!-- 10R -->
  <section id="erres" class="erres">
    <ion-row>
      <ion-col size-md="3" size-lg="2.4" size-sm="3" size-xs="6" size-xl="2.4">
        <a (click)="scrollToBtt(0)">
          <div class="icon-box2">
            <div class="icon"><img src="../assets/iconos/recomensar.png" class="img-menu"></div>
            <h4 class="title">Recompensar</h4>
          </div>
        </a>
      </ion-col>
      <ion-col size-md="3" size-lg="2.4" size-sm="3" size-xs="6" size-xl="2.4">
        <a (click)="scrollToBtt(3)">
          <div class="icon-box">
            <div class="icon"><img src="../assets/iconos/revalorizar.png" class="img-menu"></div>
            <h4 class="title">Revalorizar</h4>
          </div>
        </a>
      </ion-col>
      <ion-col size-md="3" size-lg="2.4" size-sm="3" size-xs="6" size-xl="2.4">
        <a (click)="scrollToBtt(13)">
          <div class="icon-box">
            <div class="icon"><img src="../assets/iconos/rediseñar.png" class="img-menu"></div>
            <h4 class="title">Rediseñar</h4>
          </div>
        </a>
      </ion-col>
      <ion-col size-md="3" size-lg="2.4" size-sm="3" size-xs="6" size-xl="2.4">
        <a (click)="scrollToBtt(4)">
          <div class="icon-box">
            <div class="icon"><img src="../assets/iconos/reemplazar.png" class="img-menu"></div>
            <h4 class="title">Reemplazar</h4>
          </div>
        </a>
      </ion-col>
      <ion-col size-md="3" size-lg="2.4" size-sm="3" size-xs="6" size-xl="2.4">
        <a (click)="scrollToBtt(1)">
          <div class="icon-box">
            <div class="icon"><img src="../assets/iconos/reformular.png" class="img-menu"></div>
            <h4 class="title">Reformular</h4>
          </div>
        </a>
      </ion-col>
      <ion-col size-md="3" size-lg="2.4" size-sm="3" size-xs="6" size-xl="2.4">
        <a (click)="scrollToBtt(2)">
          <div class="icon-box">
            <div class="icon"><img src="../assets/iconos/reducir.png" class="img-menu"></div>
            <h4 class="title">Reducir</h4>
          </div>
        </a>
      </ion-col>
      <ion-col size-md="3" size-lg="2.4" size-sm="3" size-xs="6" size-xl="2.4">
        <a (click)="scrollToBtt(14)">
          <div class="icon-box">
            <div class="icon"><img src="../assets/iconos/renovar.png" class="img-menu"></div>
            <h4 class="title">Renovar</h4>
          </div>
        </a>
      </ion-col>
      <ion-col size-md="3" size-lg="2.4" size-sm="3" size-xs="6" size-xl="2.4">
        <a (click)="scrollToBtt(12)">
          <div class="icon-box">
            <div class="icon"><img src="../assets/iconos/refabricar.png" class="img-menu"></div>
            <h4 class="title">Refabricar</h4>
          </div>
        </a>
      </ion-col>
      <ion-col size-md="3" size-lg="2.4" size-sm="3" size-xs="6" size-xl="2.4">
        <a (click)="scrollToBtt(5)">
          <div class="icon-box">
            <div class="icon"><img src="../assets/iconos/respetar.png" class="img-menu"></div>
            <h4 class="title">Respetar</h4>
          </div>
        </a>
      </ion-col>
      <ion-col size-md="3" size-lg="2.4" size-sm="3" size-xs="6" size-xl="2.4">
        <a (click)="scrollToBtt(6)">
          <div class="icon-box">
            <div class="icon"><img src="../assets/iconos/reorientar.png" class="img-menu"></div>
            <h4 class="title">Reorientar</h4>
          </div>
        </a>
      </ion-col>
    </ion-row>
  </section>

</ion-content>