$COLOR-HOVER-GREEN: #c6dd93;
$red:rgb(245, 185, 185);
$COLOR-title:#0e1b4d;
/*importa tipografias*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif;
}
/*--------------------------------------------------------------
# menu Section
--------------------------------------------------------------*/
ion-menu-button{
  color: #0e1b4d;
  font-size: 30px;
}

/*--------------------------------------------------------------
# logo y enunciado Section
--------------------------------------------------------------*/
#intro .intro-container {
  //position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

// ion-content {
//   // --background: url(/assets/images/fondo3.jpg) no-repeat top center;
// }

#intro h2 {
  //color: #0e1b4d;
  color: $COLOR-title;
  font-weight: 700;
  font-size: 30px;
  font-weight: bold;
}

#intro p {
  color: $COLOR-title;
  //font-weight: 700;
  font-size: 20px;
}

.logo {
  width: 15%;
  height: 20%;
  align-content: center;
  margin-top: 1%;

}

/*--------------------------------------------------------------
# 10R Section
--------------------------------------------------------------*/
#erres .icon-box {
  //padding: 30px;
  //height: 100%;
  //border-radius: 80px;
  margin-top: 10%;
  position: relative;
  overflow: hidden;
  //background: rgba(255, 255, 255, 0.9);
  //background: transparent;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.3);
  transition: all 0.3s ease-in-out;
  z-index: 1;
  cursor: pointer;
}
#erres .icon-box2 {
  //padding: 30px;
  //height: 100%;
  //border-radius: 80px;
  margin-top: 10%;
  position: relative;
  overflow: hidden;
  //background: rgba(255, 255, 255, 0.9);
  background: rgba(198, 221, 147, 0.3);;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.3);
  // border-style: double;
  border-color: $COLOR-title;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  cursor: pointer;
}
.img-menu {
  height: 100px;
  width: 100px;
  align-content: center;

}

a {
  text-decoration: none;
}

#erres .icon {
  margin-bottom: 15px;
  text-align: center;
}

#erres .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
  color: $COLOR-title;
}



/*--------------------------------------------------------------
# Change with device Section
--------------------------------------------------------------*/

@media (min-width: 1024px) and (max-width: 1350px) {
  .logo {
    width: 30%;
    margin-top: 3%;
  }

  #intro h2 {
    font-size: 35px;
    margin-top: 2%;
  }
  #intro p {
    font-size: 28px;
    margin-top: 2%;
  }
  #erres .title {
    font-size: 28px;
  }
}

@media (min-width:806px)and (max-width: 1023px) {
  .logo {
    width: 30%;
    margin-top: 8%;
  }

  #intro p {
    font-size: 22px;
    margin-top: 2%;
  }
  #erres .title {
    font-size: 22px;
  }
}

@media (min-width: 751px) and (max-width: 805px) {

  .logo {
    width: 33%;
    margin-top: 8%;
  }

  #intro p {
    font-size: 22px;
    margin-top: 2%;
  }
  #erres .title {
    font-size: 22px;
  }
}

@media (min-width: 678px) and (max-width: 750px) {
  .logo {
    width: 30%;
    margin-top: 8%;
  }

  #intro p {
    font-size: 22px;
    margin-top: 2%;
  }


}

@media (min-width: 647px) and (max-width: 677px) {

  .logo {
    width: 30%;
    margin-top: 8%;
  }

  #intro p {
    margin-top: 2%;
    font-size: 22px;
  }

  #intro h2 {
    font-size: 28px;
  }

}

@media (min-width: 576px) and (max-width: 646px) {

  .logo {
    width: 30%;
    margin-top: 8%;
  }

  #intro p {
    font-size: 22px;
    margin-top: 2%;
  }

}

@media (min-width: 480px) and (max-width: 575px) {
  .logo {
    width: 50%;
    margin-top: 8%;
  }

  #intro p {
    margin-top: 2%;
    font-size: 22px;
  }

  #intro h2 {
    font-size: 28px;
  }
  #erres .title {
    font-size: 20px;
  }
}

@media (min-width: 361px) and (max-width: 479px) {
  .logo {
    width: 50%;
    margin-top: 8%;
  }

  #intro p {
    margin-top: 2%;
    font-size: 22px;
  }

  #intro h2 {
    font-size: 28px;
  }
  #erres .title {
    font-size: 20px;
  }
}

@media (min-width: 240px) and (max-width: 360px) {
  .logo {
    width: 50%;
    margin-top: 8%;
  }

  #intro p {
    margin-top: 2%;
    font-size: 20px;
  }

  #intro h2 {
    font-size: 22px;
  }
  #erres .title {
    font-size: 15px;
  }
}