<ion-header>
    <section class="wrapper">
        <ion-menu-button></ion-menu-button>
    </section>
</ion-header>
<ion-content>
    <ion-row>
        <ion-col size-md="6" size-lg="6" size-sm="12" size-xs="12" size-xl="6" class="ion-text-center">
            <div class="content">
                <img alt="Aire+Limpio" src="../assets/images/logo-blanco.png" class="image">
                <h3 class="register-text">¿Nuevo aquí?</h3>
                <p class="frase">
                    Sea parte de la iniciativa aire más limpio y contribuya a la mejora de la calidad del aire!
                </p>
                <a routerLink="/login/registry" class="download-btn"> Regístrese</a>
            </div>
        </ion-col>
        <ion-col size-md="6" size-lg="6" size-sm="12" size-xs="12" size-xl="6">
            <ion-card id="contenedor">
                <ion-card-content>
                    <form [formGroup]="loginFrom" (ngSubmit)="saveData(loginFrom.value)">
                        <h2 class="title">Iniciar sesión</h2>
                        <ion-input placeholder="Correo electrónico" formControlName="email" type="email"></ion-input>
                        <ng-container *ngFor="let validation of validation_messages.email">
                            <div class="error-message"
                                *ngIf="loginFrom.get('email').hasError(validation.type) && (loginFrom.get('email').dirty || loginFrom.get('email').touched) || loginFrom.get('email').hasError(validation.type) && inputUntouched">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                        <ion-input placeholder="Contraseña" (keypress)="eventHandler($event.keyCode)"
                            formControlName="password" [type]="hide ? 'password' : 'text'">
                            <ion-button (click)="hide = !hide" class="ion-text-end">
                                <ion-icon [name]="hide ? 'eye' : 'eye-off'"></ion-icon>
                            </ion-button>
                        </ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.password">
                                <div class="error-message"
                                    *ngIf="loginFrom.get('password').hasError(validation.type) && (loginFrom.get('password').dirty || loginFrom.get('password').touched) || loginFrom.get('password').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div><br>
                        <h2 class="link" routerLink="/login/recoverpassword">¿Olvidó su contraseña?</h2>
                        <div class="ion-text-center">
                            <ion-button id="fancy-button" shape="round" type="submit">Iniciar</ion-button>
                        </div><br>
                    </form>
                </ion-card-content>
            </ion-card>
        </ion-col>

    </ion-row>
</ion-content>