$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#97BF41;
$COLOR-title:#0e1b4d;
$COLOR-HOVER-GREEN: #c6dd93;
$red:rgb(245, 185, 185);
/*importa tipografias*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# toolbar Section
--------------------------------------------------------------*/
.wrapper {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ion-header {
  background: rgba($COLOR-title, 0.4);
  width: auto;
  position: fixed;
  z-index: 10;
}

ion-menu-button {
  color: #fff;
  font-size: 30px;
}
ion-content{
  --background: url(/assets/images/principal2.jpg) no-repeat center center / cover;
}

/*--------------------------------------------------------------
# content login Section
--------------------------------------------------------------*/
#contenedor {
  margin-top: 20%;
  width: 60%;
  left: 20%;
  background: rgba(230, 247, 255, 0.8);
  border-radius: 5px;
}

.title {
  font-size: 25px;
  text-align: center;
  color: $COLOR-title;
  font-weight: bold;
}

/*inputs*/
ion-input {
  --border-color: transparent !important;
  --highlight-height: 0;
  border: 2px solid #bebebe;
  border-radius: 4px;
  max-width: 380px;
  width: 100%;
  background-color: #fff;
  margin: 10px 0;
  height: 55px;
  border-radius: 5px;

  &.input-has-focus {
    border: 2px solid $COLOR-title;
  }
}

ion-button {
  --background: transparent;
  --box-shadow: none;
}

ion-icon {
  color: $COLOR-title;
}

.link{
  font-size: 16px;
  color: #0e1b4d;
  border: none;
  text-align: center;
  margin-bottom: 2%;
  cursor: pointer;
}
/*button send*/
  #fancy-button {
    display: inline-block;
    //margin-left: 33%;
    align-items: center;
    background: $COLOR-SECUNDARY;
    color: #fff;
    font-weight: bold;
    height: 49px;
     //padding: 10px 22px;
     border-radius: 50px;
     border: 2px solid $COLOR-SECUNDARY;
     transition: all ease-in-out 0.3s;
     font-weight: 500;
     font-size: 18px;
}

#fancy-button:hover {
  --background: #97BF41;
  width: 40%;
  height: 40px;

}

/*--------------------------------------------------------------
# content register Section
--------------------------------------------------------------*/
.register-text{
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin-top: 5%;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000;
}
.frase{
  color: #fff;
  text-align: center;
  font-size: 24px;
  text-shadow: 2px 2px 2px #000;
}
.image {
  width: 30%;
    height: 40%;
  margin: auto;
  display: block;
  margin-top: 20%;
}

.download-btn {
  display: inline-block;
//  margin-left: 40%;
align-items: center;
 background: $COLOR-SECUNDARY;
 color: #fff;
 font-weight: bold;
  padding: 10px 22px;
  border-radius: 50px;
  border: 2px solid $COLOR-SECUNDARY;
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.download-btn:hover {
  background: transparent;
  color: #fff;
  border: 2px solid $COLOR-SECUNDARY;
}


/*--------------------------------------------------------------
# valid
--------------------------------------------------------------*/
ion-input.ng-valid {
  border: 2px solid $COLOR-SECUNDARY;
  border-right: 2px solid $COLOR-SECUNDARY;
}

ion-input.ng-invalid.ng-touched {
  border: 2px solid $red;
  border-right: 2px solid $red;
}

.error-message {
  color: #eb4545;
  text-align: center;
  font-size: 14px;

  ion-icon {
    color: #eb4545;
    font-size: 14px;
  }
}


/*--------------------------------------------------------------
# Change with device Section
--------------------------------------------------------------*/

@media (min-width: 1024px)and (max-width: 1350px) {
  .register-text{
    font-size: 30px;
    margin-top: 5%;

  }
  .frase{
    font-size: 20px;
  }
  .image {
    width: 30%;
    height: 40%;
    margin-top: 20%;
  }

  #contenedor {
    width: 90%;
    left: 3%;
    margin-top: 20%;
  }
  ion-input {
    width: 80%;
    margin-left: 10%;
  }
 
  .link{
    font-size: 16px;
  }
}

@media (min-width:806px)and (max-width: 1023px) {
  .register-text{
    font-size: 30px;
    margin-top: 5%;

  }
  .frase{
    font-size: 20px;
  }
  .image {
    width: 30%;
    height: 40%;
    margin-top: 20%;
  }

  #contenedor {
    width: 90%;
    left: 3%;
    margin-top: 20%;
  }
  ion-input {
    width: 80%;
    margin-left: 10%;
  }
 
  .link{
    font-size: 16px;
  }
}

@media (min-width: 751px) and (max-width: 805px) {
  .register-text{
    font-size: 30px;
    margin-top: 5%;

  }
  .frase{
    font-size: 20px;
  }
  .image {
    width: 30%;
    height: 40%;
    margin-top: 20%;
  }

  #contenedor {
    width: 90%;
    left: 3%;
    margin-top: 20%;
  }
  ion-input {
    width: 80%;
    margin-left: 10%;
  }
 
  .link{
    font-size: 16px;
  }
}

@media (min-width: 678px) and (max-width: 750px) {
  .register-text{
    font-size: 30px;
    margin-top: 5%;

  }
  .frase{
    font-size: 20px;
  }
  .image {
    width: 30%;
    height: 40%;
    margin-top: 4%;
  }

  #contenedor {
    width: 90%;
    left: 3%;
    margin-top: 10%;
  }
  ion-input {
    width: 50%;
    margin-left: 25%;
  }
 
  .link{
    font-size: 16px;
  }
}

@media (min-width: 647px) and (max-width: 677px) {
  .register-text{
    font-size: 30px;
    margin-top: 5%;

  }
  .frase{
    font-size: 20px;
  }
  .image {
    width: 30%;
    height: 40%;
    margin-top: 4%;
  }

  #contenedor {
    width: 90%;
    left: 3%;
    margin-top: 10%;
  }
  ion-input {
    width: 50%;
    margin-left: 25%;
  }
 
  .link{
    font-size: 16px;
  }
}

@media (min-width: 576px) and (max-width: 646px) {
  .register-text{
    font-size: 30px;
    margin-top: 5%;

  }
  .frase{
    font-size: 18px;
  }
  .image {
    width: 30%;
    height: 40%;
    margin-top: 4%;
  }

  #contenedor {
    width: 90%;
    left: 3%;
    margin-top: 10%;
  }
  ion-input {
    width: 60%;
    margin-left: 20%;
  }
 
  .link{
    font-size: 16px;
  }
}

@media (min-width: 480px) and (max-width: 575px) {
  .register-text{
    font-size: 30px;
    margin-top: 5%;

  }
  .frase{
    font-size: 18px;
  }
  .image {
    width: 30%;
    height: 40%;
    margin-top: 4%;
  }

  #contenedor {
    width: 90%;
    left: 3%;
    margin-top: 10%;
  }
  ion-input {
    width: 60%;
    margin-left: 20%;
  }
 
  .link{
    font-size: 16px;
  }
}

@media (min-width: 361px) and (max-width: 479px) {
  .register-text{
    font-size: 30px;
    margin-top: 5%;

  }
  .frase{
    font-size: 16px;
  }
  .image {
    width: 30%;
    height: 40%;
    margin-top: 4%;
  }

  #contenedor {
    width: 90%;
    left: 2%;
    margin-top: 10%;
  }
  ion-input {
    width: 80%;
    margin-left: 10%;
  }

  .link{
    font-size: 16px;
  }
}

@media (min-width: 240px) and (max-width: 360px) {
  .register-text{
    font-size: 30px;
    margin-top: 5%;

  }
  .frase{
    font-size: 16px;
  }
  .image {
    width: 30%;
    height: 40%;
    margin-top: 4%;
  }

  #contenedor {
    width: 90%;
    left: 2%;
  }
  ion-input {
    width: 80%;
    margin-left: 10%;
  }
  .link{
    font-size: 16px;
  }
}
