<ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">¡Registre un proyecto!</ion-title>
</ion-toolbar>
<ion-content>
    <section id="register-project">
        <ion-card id="contenedor">
            <form [formGroup]="RegisterProject" (ngSubmit)="saveData(RegisterProject.value)">
                <h3>Información General</h3>
                <ion-row>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Nombre del proyecto</p>
                        <ion-input class="input-field" formControlName="projectName" placeholder="Ingrese nombre ">
                        </ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.projectName">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('projectName').hasError(validation.type) && (RegisterProject.get('projectName').dirty || RegisterProject.get('projectName').touched) || RegisterProject.get('projectName').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Tipo de proyecto</p>

                        <ion-select class="input-field" formControlName="projectType" placeholder="Seleccionar"
                            interface="popover">
                            <ion-select-option *ngFor="let projectType of typepfprojects" [value]="projectType">
                                {{projectType}}</ion-select-option>
                        </ion-select>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.projectType">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('projectType').hasError(validation.type) && (RegisterProject.get('projectType').dirty || RegisterProject.get('projectType').touched) || RegisterProject.get('projectType').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>

                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Tipo de bosque</p>

                        <ion-select class="input-field" formControlName="forestType" placeholder="Seleccionar"
                            interface="popover">
                            <ion-select-option *ngFor="let forestType of foresttype" [value]="forestType">{{forestType}}
                            </ion-select-option>
                        </ion-select>

                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.forestType">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('forestType').hasError(validation.type) && (RegisterProject.get('forestType').dirty || RegisterProject.get('forestType').touched) || RegisterProject.get('forestType').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>

                    </ion-col>

                </ion-row>

                <ion-row>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Área del bosque en hectáreas(Ha)</p>
                        <ion-input class="input-field" formControlName="forestArea" placeholder="Ingrese hectáreas(Ha)">
                        </ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.forestArea">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('forestArea').hasError(validation.type) && (RegisterProject.get('forestArea').dirty || RegisterProject.get('forestArea').touched) || RegisterProject.get('forestArea').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Especie predominante de árboles&nbsp;</p>
                        <ion-select class="input-field" formControlName="treeSpecies" placeholder="Seleccionar"
                            cancelText="Cancelar" okText="Aceptar" multiple="true">
                            <ion-select-option *ngFor="let treespecies of treespecies" [value]="treespecies">
                                {{treespecies}}
                            </ion-select-option>
                        </ion-select>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.treeSpecies">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('treeSpecies').hasError(validation.type) && (RegisterProject.get('treeSpecies').dirty || RegisterProject.get('treeSpecies').touched) || RegisterProject.get('treeSpecies').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>

                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Altura promedio de los árboles&nbsp; &nbsp; &nbsp; &nbsp; </p>
                        <ion-select class="input-field" formControlName="treeSize" placeholder="Seleccionar"
                            interface="popover">
                            <ion-select-option *ngFor="let treeSize of treesize" [value]="treeSize">{{treeSize}}
                            </ion-select-option>
                        </ion-select>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.treeSize">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('treeSize').hasError(validation.type) && (RegisterProject.get('treeSize').dirty || RegisterProject.get('treeSize').touched) || RegisterProject.get('treeSize').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>

                </ion-row>

                <ion-row>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Diámetro de los árboles</p>

                        <ion-select class="input-field" formControlName="treeDiameter" placeholder="Seleccionar"
                            interface="popover">
                            <ion-select-option *ngFor="let treeSize of treediameter" [value]="treeSize">{{treeSize}}
                            </ion-select-option>
                        </ion-select>

                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.treeDiameter">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('treeDiameter').hasError(validation.type) && (RegisterProject.get('treeDiameter').dirty || RegisterProject.get('treeDiameter').touched) || RegisterProject.get('treeDiameter').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Edad del bosque</p>

                        <ion-select class="input-field" formControlName="treeAge" placeholder="Seleccionar"
                            interface="popover">
                            <ion-select-option *ngFor="let treeAge of ageoftree" [value]="treeAge">{{treeAge}}
                            </ion-select-option>
                        </ion-select>

                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.treeAge">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('treeAge').hasError(validation.type) && (RegisterProject.get('treeAge').dirty || RegisterProject.get('treeAge').touched) || RegisterProject.get('treeAge').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Temperatura </p>

                        <ion-item class="auth-time">
                            <ion-input formControlName="temperature" placeholder="Ingrese"></ion-input>
                            <ion-select formControlName="typeTemperature" interface="popover" placeholder="NN">
                                <ion-select-option *ngFor="let typeTemperature of temperaturetype"
                                    [value]="typeTemperature">
                                    {{typeTemperature}}</ion-select-option>
                            </ion-select>
                        </ion-item>

                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.temperature">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('temperature').hasError(validation.type) && (RegisterProject.get('temperature').dirty || RegisterProject.get('temperature').touched) || RegisterProject.get('temperature').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>

                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.typeTemperature">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('typeTemperature').hasError(validation.type) && (RegisterProject.get('typeTemperature').dirty || RegisterProject.get('typeTemperature').touched) || RegisterProject.get('typeTemperature').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                </ion-row>

                <h3>Ubicación</h3>

                <ion-row>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>País</p>
                        <ion-select class="input-field" formControlName="country" placeholder="Seleccionar"
                            (ionChange)="oncountryChange()" interface="popover">
                            <ion-select-option *ngFor="let country of countries" [value]="country">{{country}}
                            </ion-select-option>
                        </ion-select>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.country">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('country').hasError(validation.type) && (RegisterProject.get('country').dirty || RegisterProject.get('country').touched) || RegisterProject.get('country').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col id="department" size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Departamento</p>
                        <ion-select class="input-field" formControlName="department" placeholder="Seleccionar"
                            (ionChange)="departmentChange()" interface="popover">
                            <ion-select-option *ngFor="let department of Departmentchoose" [value]="department">
                                {{department}}</ion-select-option>
                        </ion-select>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.department">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('department').hasError(validation.type) && (RegisterProject.get('department').dirty || RegisterProject.get('department').touched) || RegisterProject.get('department').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col id="municipality" size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Municipio</p>
                        <ion-select class="input-field" formControlName="municipality" placeholder="Seleccionar"
                            interface="popover">
                            <ion-select-option *ngFor="let municipality of Municipalitychoose" [value]="municipality">
                                {{municipality}}</ion-select-option>
                        </ion-select>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.municipality">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('municipality').hasError(validation.type) && (RegisterProject.get('municipality').dirty || RegisterProject.get('municipality').touched) || RegisterProject.get('municipality').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>

                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Zona</p>
                        <ion-select class="input-field" formControlName="zone" placeholder="Seleccionar"
                            interface="popover">
                            <ion-select-option *ngFor="let zone of zone" [value]="zone">{{zone}}</ion-select-option>
                        </ion-select>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.zone">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('zone').hasError(validation.type) && (RegisterProject.get('zone').dirty || RegisterProject.get('zone').touched) || RegisterProject.get('zone').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Altura sobre el nivel del mar</p>

                        <ion-select class="input-field" formControlName="msnm" placeholder="Seleccionar"
                            interface="popover">
                            <ion-select-option *ngFor="let msnm of heightsealevel" [value]="msnm">{{msnm}}
                            </ion-select-option>
                        </ion-select>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.msnm">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('msnm').hasError(validation.type) && (RegisterProject.get('msnm').dirty || RegisterProject.get('msnm').touched) || RegisterProject.get('msnm').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                </ion-row>

                <h3>Legalidad</h3>

                <ion-row>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Nombre del predio</p>
                        <ion-input class="input-field" formControlName="propertyName"
                            placeholder="Ingrese nombre de predio"></ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.propertyName">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('propertyName').hasError(validation.type) && (RegisterProject.get('propertyName').dirty || RegisterProject.get('propertyName').touched) || RegisterProject.get('propertyName').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Cédula catastral</p>
                        <ion-input class="input-field" formControlName="cadastralCertificate"
                            placeholder="Ingrese cédula catastral"></ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.cadastralCertificate">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('cadastralCertificate').hasError(validation.type) && (RegisterProject.get('cadastralCertificate').dirty || RegisterProject.get('cadastralCertificate').touched) || RegisterProject.get('cadastralCertificate').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Matrícula inmobiliaria</p>
                        <ion-input class="input-field" (keypress)="eventHandler($event.keyCode)"
                            formControlName="enrollment" placeholder="Ingrese matrícula"></ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.enrollment">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('enrollment').hasError(validation.type) && (RegisterProject.get('enrollment').dirty || RegisterProject.get('enrollment').touched) || RegisterProject.get('enrollment').hasError(validation.type) && inputUntouched">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                </ion-row>
                <h3>Agregar fotografías</h3>
                <div class="image-upload">
                    <ion-grid>
                        <ion-row>
                            <ion-col size-md="0.5" size-lg="0.5" size-sm="0.5" size-xs="0.5" size-xl="0.5">
                                <span class="slider-nav arrow-prev" (click)="slidePrev(sliderTwo,slideWithNav2)">
                                    <div class="prev-icon-custom custon-nav"
                                        [class.disabled]="sliderTwo.isBeginningSlide"></div>
                                </span>
                            </ion-col>
                            <ion-col size="11">
                                <ion-slides pager="false" [options]="slideOptsTwo" #slideWithNav2
                                    (ionSlideDidChange)="SlideDidChange(sliderTwo,slideWithNav2)">
                                    <ion-slide *ngFor="let data of imagePreview">
                                        <ion-buttons>
                                            <ion-button (click)="deleteImagen()">
                                                <ion-icon slot="icon-only" name="close-circle-outline"
                                                    class="img-icon-camera"></ion-icon>
                                            </ion-button>
                                        </ion-buttons>
                                        <ion-card id="img-cargar">
                                            <img alt="Aire+Limpio" [src]="data" class="imagePreview">
                                        </ion-card>
                                    </ion-slide>

                                </ion-slides>

                            </ion-col>
                            <ion-col size-md="0.5" size-lg="0.5" size-sm="0.5" size-xs="0.5" size-xl="0.5">
                                <span class="slider-nav arrow-next" (click)="slideNext(sliderTwo,slideWithNav2)">
                                    <div class="next-icon-custom custon-nav" [class.disabled]="sliderTwo.isEndSlide">
                                    </div>
                                </span>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <input formControlName="uploadImage" type="file" name="file" id="file" class="fileInput" accept="image/*"
                        (change)="handleImage($event)" />
                    <label for="file">
                        <ion-icon name="camera-outline" id="icon-camera"></ion-icon>
                    </label>
                </div>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.uploadImage">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('uploadImage').hasError(validation.type) && (RegisterProject.get('uploadImage').dirty || RegisterProject.get('uploadImage').touched) || RegisterProject.get('uploadImage').hasError(validation.type) && inputUntouched">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <ion-button id="send" shape="round" expand="full" type="submit" expand="full">Registrar</ion-button>
            </form>
        </ion-card>
    </section>

</ion-content>