$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#97BF41;
$COLOR-title:#0e1b4d;
$COLOR-HOVER-GREEN: #c6dd93;
$red:rgb(245, 185, 185);
/*importa tipografias*/
  @import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
  a,h1,h2,h3,h4,h5,h6,p{
    font-family: "Poppins", sans-serif;
  }
  /*--------------------------------------------------------------
# hide departments Section
--------------------------------------------------------------*/
#department{
    display: none;
}
#municipality{
    display: none;
}

/*--------------------------------------------------------------
# toolbar Section
--------------------------------------------------------------*/
ion-menu-button {
  color: #fff;
}

ion-toolbar {
  --background: #0e1b4d;
}

.title {
  text-align: center;
  font-size: 28px;
  color: #fff;
  font-weight: bold;
}
ion-content{
  --background: url(/assets/images/back2.jpg) no-repeat top center;
}
/*--------------------------------------------------------------
# images upload Section
--------------------------------------------------------------*/
.uploadImage{
    //background: whitesmoke;
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    // position: absolute;
}
// #files{

//   margin-left: 50%;
// }
.fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#icon-camera{
    height: 30px;
    width: 30px; 
    margin-left: 48%;
    margin-bottom: 15px;
    color: $COLOR-title;
    cursor: pointer;
}
.img-icon-camera{
  color: red;
  font-size: 20px;
}
img{
    width: 100%;
    height: 100%;
}

//slides de servicios
#img-cargar{
  //width:350px;
  width: 80%;
	height:150px;
  border: 1px solid #ebe8e8;
	border-bottom-left-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
	background-color: #fff;
}

#delete-btn{
  position: absolute;
}
.custon-nav{
  height: 48px;
  width: 20px;
  cursor: pointer;

  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.prev-icon-custom{
  background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll 0px 0px;
}
.prev-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.next-icon-custom{
  background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll -32px 0px;
}
.next-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.slider-nav{
  ion-icon{
      height: 100%;
  }
}
#contenedor{
    width: 60%;
    left: 20%;
    background: rgba(230, 247, 255, 0.8);
  }
  
  form {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    
  }
  /*--------------------------------------------------------------
# Inputs Section
--------------------------------------------------------------*/
  .input-field {
    --border-color: transparent!important;
    --highlight-height: 0;
    border: 2px solid #bebebe;
    border-radius: 4px;
    max-width: 380px;
    width: 100%;
    background-color: #fff;
    margin: 10px 0;
    height: 55px;
    border-radius: 5px;
  }
//   ion-select {
//     --border-color: transparent!important;
//     --highlight-height: 0;
//     border: 2px solid #bebebe;
//     border-radius: 4px;
//     max-width: 380px;
//     width: 100%;
//     background-color: #fff;
//     margin: 10px 0;
//     height: 55px;
//     border-radius: 55px;
//   }

/*--------------------------------------------------------------
# buttons Section
--------------------------------------------------------------*/
#send {
  --background: #97BF41;
  width: 40%;
  height: 49px;
  margin-left: 30%;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;

  transition: 0.5s;
}
#send:hover {
  --background: #c6dd93;
 
}

/*--------------------------------------------------------------
# title Section
--------------------------------------------------------------*/
h3{
  font-size: 20px;
  font-weight: bold;
   text-align: center;
   color: $COLOR-title;
   margin-top: 2%;
   margin-bottom: 5%;
}


ion-label{
  font-size: 18px;
  //font-weight: bold;
   text-align: center;
   color: $COLOR-title;
}

p{
  color: $COLOR-title;
}

  .auth-time {
    --border-color: transparent!important;
        --highlight-height: 0;
        border: 2px solid #bebebe;
        border-radius: 4px;
        max-width: 380px;
        width: 100%;
        background-color: #fff;
        margin: 10px 0;
        height: 55px;
        border-radius: 5px;
    div.item-inner {
      border-top: none;
      ion-input {
        width: 100px;
        input {
          text-align: right;
        }
      }
    }
    ion-select {
      width: 300px;
    }
  }

  #register-project h2 {
    //color: #0e1b4d;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }
  
  #register-project h5 {
    color: #fff;
    //font-weight: 700;
    font-size: 20px;
    text-align: center;
  }
  
/*--------------------------------------------------------------
# valid
--------------------------------------------------------------*/
ion-input.ng-valid {
  border: 2px solid $COLOR-SECUNDARY;
  border-right: 2px solid $COLOR-SECUNDARY;
}

ion-input.ng-invalid.ng-touched {
  border: 2px solid $red;
  border-right: 2px solid $red;
}

ion-select.ng-invalid.ng-touched {
  border: 0.2px solid $red;
  border-right: 0.2px solid $red;
}

.error-message {
  color: #eb4545;
  text-align: center;
  font-size: 14px;

  ion-icon {
    color: #eb4545;
    font-size: 14px;
  }
}
  
    /*--------------------------------------------------------------
# Change with device Section
--------------------------------------------------------------*/
@media (min-width:806px )and (max-width: 1023px) {
    #contenedor{
      width: 80%;
       left: 8%;
    }
    .title{
      font-size: 20px;
    }
    p{
        font-size: 12px;
    }
    h3{
      font-size: 15px;
       margin-top: 2%;
       margin-bottom: 5%;
       text-align: center;
    }
    ion-label{
      font-size: 14px;
      text-align: center;
    }
  }
  @media (min-width: 751px) and (max-width: 805px){
    #contenedor{
      width: 100%;
       left: 0%;
       margin-left: 0;
    }
    .title{
      font-size: 20px;
    }
    p{
        font-size: 12px;
    }
    h3{
      font-size: 15px;
       margin-top: 2%;
       margin-bottom: 5%;
       text-align: center;
    }
    ion-label{
      font-size: 14px;
      text-align: center;
    }
  }
  @media (min-width: 678px) and (max-width: 750px){
    #contenedor{
      width: 100%;
       left: 0%;
       margin-left: 0;
    }
    .title{
      font-size: 20px;
    }
    p{
        font-size: 12px;
    }
    h3{
      font-size: 15px;
       margin-top: 2%;
       margin-bottom: 5%;
       text-align: center;
    }
    ion-label{
      font-size: 14px;
      text-align: center;
    }
  }
  @media (min-width: 647px) and (max-width: 677px){
    #contenedor{
      width: 100%;
       left: 0%;
       margin-left: 0;
    }
    .title{
      font-size: 20px;
    }
    h3{
      font-size: 15px;
       margin-top: 2%;
       margin-bottom: 5%;
       text-align: center;
    }
    ion-label{
      font-size: 14px;
      text-align: center;
    }
  }
  @media (min-width: 576px) and (max-width: 646px){
    #contenedor{
      width: 100%;
       left: 0%;
       margin-left: 0;
    }
    .title{
      font-size: 20px;
    }
    p{
        font-size: 12px;
    }
    h3{
      font-size: 15px;
       margin-top: 2%;
       margin-bottom: 5%;
       text-align: center;
    }
    ion-label{
      font-size: 14px;
      text-align: center;
    }
  }
  @media (min-width: 480px) and (max-width: 575px){
    #contenedor{
      width: 80%;
       left: 8%;
       //margin-left: 0;
    }
    .title{
      font-size: 20px;
    }
    h3{
      font-size: 15px;
       margin-top: 2%;
       margin-bottom: 5%;
       text-align: center;
    }
    ion-label{
      font-size: 14px;
      text-align: center;
    }
  }
  @media (min-width: 361px) and (max-width: 479px){
    #contenedor{
      width: 100%;
       left: 0%;
       margin-left: 0;
    }
    .title{
      font-size: 18px;
    }
    h3{
      font-size: 15px;
       margin-top: 2%;
       margin-bottom: 5%;
       text-align: center;
    }
    ion-label{
      font-size: 14px;
      text-align: center;
    }
  }
  @media (min-width: 240px) and (max-width: 360px){
    #contenedor{
      width: 100%;
       left: 0%;
       margin-left: 0;
    }
    .title{
      font-size: 15px;
    }

    h3{
      font-size: 15px;
       margin-top: 2%;
       margin-bottom: 5%;
       text-align: center;
    }
    ion-label{
      font-size: 14px;
      text-align: center;
    }
  }