<ion-content>
    <ion-row>
        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4" class="  ion-text-center">
            <h3 class="text-toggle">Editar</h3>
        </ion-col>
        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4" class="  ion-text-center">
            <ion-toggle color="success" checked="{{activateEdit}}" [(ngModel)]="activateEdit">
            </ion-toggle>
        </ion-col>
        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4" class="  ion-text-center">
            <h3 class="text-toggle">No editar</h3>
        </ion-col>
    </ion-row>
    
    <div *ngFor="let data of detailsDoc">
        <section id="register-project">
            <ion-card id="contenedor">
                <form [formGroup]="RegisterProject" (ngSubmit)="saveData(RegisterProject.value)">
                    <h3>Información General</h3>
                        <div *ngIf="activateEdit">
                            <ion-row>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Nombre del proyecto</p>
                            <ion-input readonly class="input-field"> 
                                {{data.projectName}}
                            </ion-input>
                        </ion-col>
                            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>Tipo de proyecto</p>
                                <ion-input   class="input-field" readonly>{{data.projectType}}</ion-input>
                            </ion-col>
                            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>Tipo de bosque</p>
                                <ion-input class="input-field" readonly>{{data.forestType}}</ion-input>
                            </ion-col>
                            </ion-row>
                        </div>
                        <div *ngIf="!activateEdit">
                            <ion-row>
                                <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                    <p>Nombre del proyecto</p>
                                    <ion-input class="input-field" formControlName="projectName" placeholder="Ingrese nombre ">
                                    </ion-input>
                                    <div class="validation-errors">
                                        <ng-container *ngFor="let validation of validation_messages.projectName">
                                            <div class="error-message"
                                                *ngIf="RegisterProject.get('projectName').hasError(validation.type) && (RegisterProject.get('projectName').dirty || RegisterProject.get('projectName').touched) || RegisterProject.get('projectName').hasError(validation.type) && inputUntouched">
                                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                            </div>
                                        </ng-container>
                                    </div>
                                </ion-col>
                                <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                    <p>Tipo de proyecto</p>
                                    <ion-select class="input-field" formControlName="projectType" placeholder="Seleccionar"
                                        interface="popover">
                                        <ion-select-option *ngFor="let projectType of typepfprojects" [value]="projectType">
                                            {{projectType}}</ion-select-option>
                                    </ion-select>
                                    <div class="validation-errors">
                                        <ng-container *ngFor="let validation of validation_messages.projectType">
                                            <div class="error-message"
                                                *ngIf="RegisterProject.get('projectType').hasError(validation.type) && (RegisterProject.get('projectType').dirty || RegisterProject.get('projectType').touched) || RegisterProject.get('projectType').hasError(validation.type) && inputUntouched">
                                                <ion-icon name="information-circle-outline"></ion-icon>
                                                &nbsp;{{validation.message}}
                                            </div>
                                        </ng-container>
                                    </div>
                                </ion-col>
                                <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                    <p>Tipo de bosque</p>
                                    <ion-select class="input-field" formControlName="forestType" placeholder="Seleccionar"
                                        interface="popover">
                                        <ion-select-option *ngFor="let forestType of foresttype" [value]="forestType">
                                            {{forestType}}
                                        </ion-select-option>
                                    </ion-select>
                                    <div class="validation-errors">
                                        <ng-container *ngFor="let validation of validation_messages.forestType">
                                            <div class="error-message"
                                                *ngIf="RegisterProject.get('forestType').hasError(validation.type) && (RegisterProject.get('forestType').dirty || RegisterProject.get('forestType').touched) || RegisterProject.get('forestType').hasError(validation.type) && inputUntouched">
                                                <ion-icon name="information-circle-outline"></ion-icon>
                                                &nbsp;{{validation.message}}
                                            </div>
                                        </ng-container>
                                    </div>
                                </ion-col>
                            </ion-row>
                            </div>

                        <div *ngIf="activateEdit">
                            <ion-row>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Área del bosque en hectáreas(Ha)</p>
                            <ion-input [readonly]="activateEdit" class="input-field" formControlName="forestArea"
                                placeholder="Ingrese hectáreas(Ha)">
                            </ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.forestArea">
                                    <div class="error-message"
                                        *ngIf="RegisterProject.get('forestArea').hasError(validation.type) && (RegisterProject.get('forestArea').dirty || RegisterProject.get('forestArea').touched) || RegisterProject.get('forestArea').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>Especie predominante de árboles&nbsp;</p>
                                <ion-input class="input-field" readonly>{{data.treeSpecies}}</ion-input>
                            </ion-col>
                            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>Altura promedio de los árboles&nbsp; &nbsp; &nbsp; &nbsp; </p>
                                <ion-input class="input-field" readonly>{{data.treeSize}}</ion-input>
                            </ion-col>
                        </ion-row>
                        </div>
                        <div *ngIf="!activateEdit">
                        <ion-row>
                            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>Especie predominante de árboles&nbsp;</p>
                                <ion-select class="input-field" formControlName="treeSpecies" placeholder="Seleccionar"
                                    cancelText="Cancelar" okText="Aceptar" multiple="true">
                                    <ion-select-option *ngFor="let treespecies of treespecies" [value]="treespecies">
                                        {{treespecies}}
                                    </ion-select-option>
                                </ion-select>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.treeSpecies">
                                        <div class="error-message"
                                            *ngIf="RegisterProject.get('treeSpecies').hasError(validation.type) && (RegisterProject.get('treeSpecies').dirty || RegisterProject.get('treeSpecies').touched) || RegisterProject.get('treeSpecies').hasError(validation.type) && inputUntouched">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>Altura promedio de los árboles&nbsp; &nbsp; &nbsp; &nbsp; </p>
                                <ion-select class="input-field" formControlName="treeSize" placeholder="Seleccionar"
                                    interface="popover">
                                    <ion-select-option *ngFor="let treeSize of treesize" [value]="treeSize">{{treeSize}}
                                    </ion-select-option>
                                </ion-select>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.treeSize">
                                        <div class="error-message"
                                            *ngIf="RegisterProject.get('treeSize').hasError(validation.type) && (RegisterProject.get('treeSize').dirty || RegisterProject.get('treeSize').touched) || RegisterProject.get('treeSize').hasError(validation.type) && inputUntouched">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                        </ion-row>
                        </div>

                        <div *ngIf="activateEdit">
                        <ion-row>
                            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>Diámetro de los árboles</p>
                                <ion-input class="input-field" readonly>{{data.treeDiameter}}</ion-input>
                            </ion-col>
                            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>Edad del bosque</p>
                                <ion-input class="input-field" readonly>{{data.treeAge}}</ion-input>
                            </ion-col>
                            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>Temperatura </p>
                                <ion-item class="auth-time">
                                    {{data.temperature}} {{data.typeTemperature}}
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        </div>
                        <div *ngIf="!activateEdit">
                        <ion-row>
                            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>Diámetro de los árboles</p>
                                <ion-select class="input-field" formControlName="treeDiameter" placeholder="Seleccionar"
                                    interface="popover">
                                    <ion-select-option *ngFor="let treeSize of treediameter" [value]="treeSize">{{treeSize}}
                                    </ion-select-option>
                                </ion-select>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.treeDiameter">
                                        <div class="error-message"
                                            *ngIf="RegisterProject.get('treeDiameter').hasError(validation.type) && (RegisterProject.get('treeDiameter').dirty || RegisterProject.get('treeDiameter').touched) || RegisterProject.get('treeDiameter').hasError(validation.type) && inputUntouched">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>Edad del bosque</p>
                                <ion-select class="input-field" formControlName="treeAge" placeholder="Seleccionar"
                                    interface="popover">
                                    <ion-select-option *ngFor="let treeAge of ageoftree" [value]="treeAge">{{treeAge}}
                                    </ion-select-option>
                                </ion-select>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.treeAge">
                                        <div class="error-message"
                                            *ngIf="RegisterProject.get('treeAge').hasError(validation.type) && (RegisterProject.get('treeAge').dirty || RegisterProject.get('treeAge').touched) || RegisterProject.get('treeAge').hasError(validation.type) && inputUntouched">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>Temperatura </p>
        
                                <ion-item class="auth-time">
                                    <ion-input formControlName="temperature" placeholder="Ingrese"></ion-input>
                                    <ion-select formControlName="typeTemperature" interface="popover" placeholder="NN">
                                        <ion-select-option *ngFor="let typeTemperature of temperaturetype"
                                            [value]="typeTemperature">
                                            {{typeTemperature}}</ion-select-option>
                                    </ion-select>
                                </ion-item>
        
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.temperature">
                                        <div class="error-message"
                                            *ngIf="RegisterProject.get('temperature').hasError(validation.type) && (RegisterProject.get('temperature').dirty || RegisterProject.get('temperature').touched) || RegisterProject.get('temperature').hasError(validation.type) && inputUntouched">
                                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
        
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.typeTemperature">
                                        <div class="error-message"
                                            *ngIf="RegisterProject.get('typeTemperature').hasError(validation.type) && (RegisterProject.get('typeTemperature').dirty || RegisterProject.get('typeTemperature').touched) || RegisterProject.get('typeTemperature').hasError(validation.type) && inputUntouched">
                                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                        </ion-row>
                        </div>

                    <h3>Ubicación</h3>
                        <div *ngIf="activateEdit">
                            <ion-row>
                                <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                    <p>País</p>
                                    <ion-input class="input-field" readonly>{{data.country}}</ion-input>
                                </ion-col>
                                <ion-col id="department" size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                    <p>Departamento</p>
                                    <ion-input class="input-field" readonly>{{data.department}}</ion-input>
                                </ion-col>
                                <ion-col id="municipality" size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                    <p>Municipio</p>
                                    <ion-input class="input-field" readonly>{{data.municipality}}</ion-input>
                                </ion-col>
                            </ion-row>
                            </div>
                        <div *ngIf="!activateEdit">
                        <ion-row>
                            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>País</p>
                                <ion-select class="input-field" formControlName="country" placeholder="Seleccionar"
                                    (ionChange)="oncountryChange()" interface="popover">
                                    <ion-select-option *ngFor="let country of countries" [value]="country">{{country}}
                                    </ion-select-option>
                                </ion-select>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.country">
                                        <div class="error-message"
                                            *ngIf="RegisterProject.get('country').hasError(validation.type) && (RegisterProject.get('country').dirty || RegisterProject.get('country').touched) || RegisterProject.get('country').hasError(validation.type) && inputUntouched">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                            <ion-col id="department" size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>Departamento</p>
                                <ion-select class="input-field" formControlName="department" placeholder="Seleccionar"
                                    (ionChange)="departmentChange()" interface="popover">
                                    <ion-select-option *ngFor="let department of Departmentchoose" [value]="department">
                                        {{department}}</ion-select-option>
                                </ion-select>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.department">
                                        <div class="error-message"
                                            *ngIf="RegisterProject.get('department').hasError(validation.type) && (RegisterProject.get('department').dirty || RegisterProject.get('department').touched) || RegisterProject.get('department').hasError(validation.type) && inputUntouched">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                            <ion-col id="municipality" size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>Municipio</p>
                                <ion-select class="input-field" formControlName="municipality" placeholder="Seleccionar"
                                    interface="popover">
                                    <ion-select-option *ngFor="let municipality of Municipalitychoose"
                                        [value]="municipality">
                                        {{municipality}}</ion-select-option>
                                </ion-select>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.municipality">
                                        <div class="error-message"
                                            *ngIf="RegisterProject.get('municipality').hasError(validation.type) && (RegisterProject.get('municipality').dirty || RegisterProject.get('municipality').touched) || RegisterProject.get('municipality').hasError(validation.type) && inputUntouched">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                        </ion-row>
                        </div>

                        <div *ngIf="activateEdit">
                        <ion-row>
                            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>Zona</p>
                                <ion-input class="input-field" readonly>{{data.zone}}</ion-input>
                            </ion-col>
                            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>Altura sobre el nivel del mar</p>
                                <ion-input class="input-field" readonly>{{data.msnm}}</ion-input>
                            </ion-col>
                        </ion-row>
                        </div>
                        <div *ngIf="!activateEdit">
                        <ion-row>
                            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>Zona</p>
                                <ion-select class="input-field" formControlName="zone" placeholder="Seleccionar"
                                    interface="popover">
                                    <ion-select-option *ngFor="let zone of zone" [value]="zone">{{zone}}</ion-select-option>
                                </ion-select>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.zone">
                                        <div class="error-message"
                                            *ngIf="RegisterProject.get('zone').hasError(validation.type) && (RegisterProject.get('zone').dirty || RegisterProject.get('zone').touched) || RegisterProject.get('zone').hasError(validation.type) && inputUntouched">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                            <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                                <p>Altura sobre el nivel del mar</p>
                                <ion-select class="input-field" formControlName="msnm" placeholder="Seleccionar"
                                    interface="popover">
                                    <ion-select-option *ngFor="let msnm of heightsealevel" [value]="msnm">{{msnm}}
                                    </ion-select-option>
                                </ion-select>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.msnm">
                                        <div class="error-message"
                                            *ngIf="RegisterProject.get('msnm').hasError(validation.type) && (RegisterProject.get('msnm').dirty || RegisterProject.get('msnm').touched) || RegisterProject.get('msnm').hasError(validation.type) && inputUntouched">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            &nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </ion-col>
                        </ion-row>
                    </div>

                    <h3>Legalidad</h3>
                        <div *ngIf="activateEdit">
                        <ion-row>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Nombre del predio</p>
                            <ion-input [readonly]="activateEdit" class="input-field" formControlName="propertyName"
                                placeholder="Ingrese nombre de predio"></ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.propertyName">
                                    <div class="error-message"
                                        *ngIf="RegisterProject.get('propertyName').hasError(validation.type) && (RegisterProject.get('propertyName').dirty || RegisterProject.get('propertyName').touched) || RegisterProject.get('propertyName').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Cédula catastral</p>
                            <ion-input [readonly]="activateEdit" class="input-field"
                                formControlName="cadastralCertificate" placeholder="Ingrese cédula catastral">
                            </ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.cadastralCertificate">
                                    <div class="error-message"
                                        *ngIf="RegisterProject.get('cadastralCertificate').hasError(validation.type) && (RegisterProject.get('cadastralCertificate').dirty || RegisterProject.get('cadastralCertificate').touched) || RegisterProject.get('cadastralCertificate').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Matrícula inmobiliaria</p>
                            <ion-input [readonly]="activateEdit" class="input-field"
                                (keypress)="eventHandler($event.keyCode)" formControlName="enrollment"
                                placeholder="Ingrese matrícula"></ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.enrollment">
                                    <div class="error-message"
                                        *ngIf="RegisterProject.get('enrollment').hasError(validation.type) && (RegisterProject.get('enrollment').dirty || RegisterProject.get('enrollment').touched) || RegisterProject.get('enrollment').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                    </div>
                    <div *ngIf="!activateEdit">
                    <ion-row>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Nombre del predio</p>
                            <ion-input class="input-field" formControlName="propertyName"
                                placeholder="Ingrese nombre de predio"></ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.propertyName">
                                    <div class="error-message"
                                        *ngIf="RegisterProject.get('propertyName').hasError(validation.type) && (RegisterProject.get('propertyName').dirty || RegisterProject.get('propertyName').touched) || RegisterProject.get('propertyName').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Cédula catastral</p>
                            <ion-input class="input-field"
                                formControlName="cadastralCertificate" placeholder="Ingrese cédula catastral">
                            </ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.cadastralCertificate">
                                    <div class="error-message"
                                        *ngIf="RegisterProject.get('cadastralCertificate').hasError(validation.type) && (RegisterProject.get('cadastralCertificate').dirty || RegisterProject.get('cadastralCertificate').touched) || RegisterProject.get('cadastralCertificate').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Matrícula inmobiliaria</p>
                            <ion-input class="input-field"
                                (keypress)="eventHandler($event.keyCode)" formControlName="enrollment"
                                placeholder="Ingrese matrícula"></ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.enrollment">
                                    <div class="error-message"
                                        *ngIf="RegisterProject.get('enrollment').hasError(validation.type) && (RegisterProject.get('enrollment').dirty || RegisterProject.get('enrollment').touched) || RegisterProject.get('enrollment').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        
                    </ion-row>
                    </div>
                   <ion-row>
                    <ion-col *ngIf="!activateEdit" class="ion-text-center" size="6">
                        <ion-button type="submit" class="Btt-cancelar">
                            Actualizar
                        </ion-button>
                    </ion-col>

                    <ion-col class="ion-text-center" size="6">
                        <ion-button class="Btt-cancelar" (click)="cerrarModal()">
                            Cancelar
                        </ion-button>
                    </ion-col>
                   </ion-row>
                </form>
            </ion-card>
        </section>
    </div>
</ion-content>




<!-- Codigo del nuevo modal
<ion-card>
    <p>Llene el siguiente formulario con su aprobación o declinación del proyecto y rellene el espacio de
        comentarios.</p>
    <form [formGroup]="FormEvaluacion" (ngSubmit)="projectValidation(FormEvaluacion.value,details.projectName)">
        <ion-row>
            <ion-col size-md="6" size-lg="6" size-sm="12" size-xs="12" size-xl="6" class="ion-padding">
                <h4>Seleccione el estado del proyecto.</h4>
                <ion-select interface="popover" formControlName="validate" placeholder="Seleccionar">
                    <ion-select-option value="Aprobado">Aprobado</ion-select-option>
                    <ion-select-option value="Rechazado">Rechazado</ion-select-option>
                </ion-select>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages1.validate">
                        <div class="error-message"
                            *ngIf="FormEvaluacion.get('validate').hasError(validation.type) && (FormEvaluacion.get('validate').dirty || FormEvaluacion.get('validate').touched) || FormEvaluacion.get('validate').hasError(validation.type) && inputUntouched">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
            </ion-col>
            <ion-col size-md="6" size-lg="6" size-sm="12" size-xs="12" size-xl="6" class="ion-padding">
                <h4>Comentarios del estado del proyecto *.</h4>
                <ion-textarea (keypress)="eventHandler($event.keyCode)" formControlName="bodymessage" rows="4"
                    cols="40" placeholder="Comentarios del estado del proyecto"></ion-textarea>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages1.bodymessage">
                        <div class="error-message"
                            *ngIf="FormEvaluacion.get('bodymessage').hasError(validation.type) && (FormEvaluacion.get('bodymessage').dirty || FormEvaluacion.get('bodymessage').touched) || FormEvaluacion.get('bodymessage').hasError(validation.type) && inputUntouched">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
            </ion-col>
        </ion-row>
        <ion-row id="Botones-admin">
            <ion-col class="ion-text-center" size="6">
                <ion-button class="Btt-cancelar" type="submit">
                    Guardar
                </ion-button>
            </ion-col>
            <ion-col class="ion-text-center" size="6">
                <ion-button class="Btt-cancelar" (click)="cerrarModal()">
                    Cancelar
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-card> -->