<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="end">
      <ion-button class="skip" color='primary' (click)="startApp()" [hidden]="!showSkip">SALTAR</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="true">
    <ion-slide>
      <div class="caja">
        <img src="/assets/video/paso1.gif">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="caja">
        <img src="/assets/video/paso3.gif">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="caja">
        <img src="/assets/video/paso2.gif">
      </div>
    </ion-slide>
    <ion-slide class="final">
      <div class="caja">
        <h2 class="slide-title">¿LISTO?</h2>
        <ion-button fill="clear" (click)="startApp()">Empezamos
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>