$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#97BF41;
$COLOR-title:#0e1b4d;

ion-toolbar {
  --background: transparent;
  --border-color: transparent;
}
.skip{
  background: white;
  border-radius: 50px;
  color: #0e1b4d;
  font-weight: bold;
}
img{
  width: auto;
  height: 100%;
}

.caja{
  background: url(/assets/video/background.svg)center center no-repeat;
background-size:cover;

  width: 100%;
  height: 550px;
  border: none;
}

.swiper-slide {
  display: block;
}

.slide-title{
  margin-top: 3.8rem;
  color: $COLOR-title;
  font-size: 60px;
}
b {
  font-weight: 500;
}
.final{
background: url(/assets/video/background.svg)center center no-repeat;
background-size:cover;

}
p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);

  b {
    color: var(--ion-text-color, #000000);
  }
}


@media (min-width: 806px) and (max-width: 1023px) {
  
  img{
    width: 90%;
margin-top: 50px;
height: 90%;
  }

  .caja{
    width: 100%;
    height: 450px;
  }
}
@media (min-width: 751px) and (max-width: 805px) {
  
  img{
    width: 90%;
margin-top: 50px;
height: 90%;
  }

  .caja{
    width: 100%;
    height: 450px;
  }
}
@media (min-width: 678px) and (max-width: 750px) {
  
  img{
    width: 90%;
margin-top: 50px;
height: 90%;
  }

  .caja{
    width: 100%;
    height: 450px;
  }
}
@media (min-width: 647px) and (max-width: 677px) {
  
  img{
    width: 90%;
margin-top: 50px;
height: 90%;
  }

  .caja{
    width: 100%;
    height: 450px;
  }
}
@media (min-width: 576px) and (max-width: 646px) {
  
  img{
    width: auto;
margin-top: 50px;
height: 90%;
  }

  .caja{
    width: 100%;
    height: 450px;
  }
}
@media (min-width: 480px) and (max-width: 575px) {
  
  img{
    width: auto;
margin-top: 50px;
height: 80%;
  }

  .caja{
    width: 100%;
    height: 450px;
  }
}
@media (min-width: 361px) and (max-width: 479px) {
  
  img{
    width: auto;
margin-top: 50px;
height: 80%;
  }

  .caja{
    width: 100%;
    height: 450px;
  }
}
@media (min-width: 240px) and (max-width: 360px) {

  img{
    width: auto;
margin-top: 50px;
height: 70%;
  }

  .caja{
    width: 100%;
    height: 450px;
  }
}
