<!-- <app-ion-header title="Acerca de nosotros"></app-ion-header> -->
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <h2>Acerca de nosotros</h2>
</ion-toolbar>
<ion-content>
  <!-- <section id="intro">
    <div class="intro-container">

      <h2 >ACERCA DE NOSOTROS</h2>  
      <p>¡Queremos inspirar a las personas a plantar, cultivar y cuidar los árboles!</p>
    </div>
  </section>End Intro Section -->
  <section id="us">
    <div class="blog-card">
      <div class="meta">
        <div class="photo" style="background-image: url(../assets/images/who.png)"></div>
      </div>
      <div class="description">
        <p> Somos un equipo de profesionales innovadores, que a través de la interdisciplinariedad de sus
          integrantes, buscamos generar propuestas de gran impacto social, económico y ambiental; mediante
          negocios innovadores en el mercado de proyectos de generación y conservación de aire más limpio,
          con el fomento de patrocinio de diversos proyectos sumideros de CO<sub>2</sub> a nivel regional y a nivel
          nacional.</p>
      </div>
    </div>
    <div class="blog-card alt">
      <div class="meta">
        <div class="photo" style="background-image: url(../assets/images/mision.png)"></div>
      </div>
      <div class="description">
        <p> Aire + Limpio = 10R, es una empresa innovadora que propende por la generación de aire limpio a
          partir del fomento de patrocinio de proyectos sumideros de CO<sub>2</sub>. </p>
      </div>
    </div>
    <div class="blog-card">
      <div class="meta">
        <div class="photo" style="background-image: url(../assets/images/vision.png)"></div>
      </div>
      <div class="description">
        <p> Aire + Limpio = 10R, para el año 2025 será una empresa líder en el mercado de negocios
          generadores de aire más limpio, mediante un banco de proyectos sumideros de CO<sub>2</sub>, con las
          caracteristicas de innovación, sostenibilidad e interdisciplinariedad de sus integrantes.</p>
      </div>
    </div>
  </section>

</ion-content>