$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#8CBF3F;
$COLOR-title:#0e1b4d;
/*importa tipografias*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# toolbar Section
--------------------------------------------------------------*/
ion-menu-button {
  color: #fff;
  font-size: 30px;
}

ion-toolbar {
  --background: #0e1b4d;
}

h2 {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

/*--------------------------------------------------------------
# content Section
--------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  margin: 2rem;
}

$color_white: #fff;

.blog-card {
  display: flex;
  //height: 200px;
  flex-direction: column;
  margin: 1rem 1rem;
  box-shadow: 0 3px 7px -1px rgba(#000, .2);
  margin-bottom: 1.6%;
  background: $color_white;
  //line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;

  &:hover {
    .photo {
      transform: scale(1.3) rotate(3deg);
    }
  }

  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }

  .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform .2s;
  }

  .description {
    padding: 2rem;
    font-size: 18PX;
    background: $color_white;
    position: relative;
    z-index: 1;

    h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
      color: $COLOR-PRIMARY;
    }

  }

  p {
    position: relative;
    color: grey;
    margin: 1rem 0 0;

    &:first-of-type {
      margin-top: 1.25rem;

      &:before {
        content: "";
        position: relative;
        height: 5px;
        background: $COLOR-SECUNDARY;
        width: 55px;
        top: -0.75rem;
        border-radius: 3px;
      }
    }
  }

  /*--------------------------------------------------------------
# devices size change Section
--------------------------------------------------------------*/
  @media (min-width: 640px) {
    flex-direction: row;

    // max-width: 700px;
    .meta {
      flex-basis: 40%;
      height: auto;
    }

    .description {
      flex-basis: 80%;

      &:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }

    &.alt {
      flex-direction: row-reverse;

      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg)
        }
      }

    }
  }
}

@media (min-width: 361px) and (max-width: 479px) {
  h2 {
    font-size: 25px;
  }
}

@media (min-width: 240px) and (max-width: 360px) {
  h2 {
    font-size: 18px;
  }

}