<ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <h2 class="title">Perfil de usuario</h2>
</ion-toolbar>
<ion-content>

    <div *ngFor="let data of dataUser">
        <!-- container de proyectos y puntos -->
        <ion-row>
            <ion-col class="userData" size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                <img alt="Aire+Limpio" id="userImage" src="{{data.photoProfile.photoURL}}">
                <div class="image-upload">
                    <input type="file" name="file" id="file" class="fileInput" accept="image/*"
                        (change)="handleImage($event)" />
                    <label for="file">
                        <ion-icon name="camera-outline" id="icon-camera"></ion-icon>
                    </label>
                </div>
            </ion-col>
            <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                <div class="containers">
                    <div class="ion-text-uppercase">
                        <h4 class="name">{{data.name}} {{data.lastName}}</h4>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-card>
            <ion-segment class="tabs" [(ngModel)]="selectTabs">
                <ion-segment-button value="EditarPerfil">
                    <ion-label class="text-seg">Editar perfil</ion-label>
                    <ion-icon class="iconos" name="settings-outline"></ion-icon>
                </ion-segment-button>
                <ion-segment-button value="cambiar-password">
                    <ion-label class="text-seg">Cambiar contraseña</ion-label>
                    <ion-icon class="iconos" name="key-outline"></ion-icon>
                </ion-segment-button>
            </ion-segment>
        </ion-card>

        <div id="perfiles" *ngIf="selectTabs== 'EditarPerfil'">
            <!-- Formulario para Empresa (Solo carga cuando hizo login Empresa) -->
            <div *ngIf="data.rol == 'Empresa'">
                <h3>Datos de la empresa</h3>
                <form [formGroup]="RegistryBusiness" (ngSubmit)="saveDataBusiness(RegistryBusiness.value)">
                    <ion-row>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Nit de la empresa</p>
                            <ion-input formControlName="nit"></ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.nit">
                                    <div class="error-message"
                                        *ngIf="RegistryBusiness.get('nit').hasError(validation.type) && (RegistryBusiness.get('nit').dirty || RegistryBusiness.get('nit').touched) || RegistryBusiness.get('nit').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Nombre de la empresa</p>
                            <ion-input formControlName="companyName"></ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.companyName">
                                    <div class="error-message"
                                        *ngIf="RegistryBusiness.get('companyName').hasError(validation.type) && (RegistryBusiness.get('companyName').dirty || RegistryBusiness.get('companyName').touched) || RegistryBusiness.get('companyName').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Actividad de la empresa</p>
                            <ion-select formControlName="companyActivity" placeholder="Seleccionar" interface="popover">
                                <ion-select-option *ngFor="let actividad of Actividad">
                                    <h2>{{ actividad }}</h2>
                                </ion-select-option>
                            </ion-select>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.companyActivity">
                                    <div class="error-message"
                                        *ngIf="RegistryBusiness.get('companyActivity').hasError(validation.type) && (RegistryBusiness.get('companyActivity').dirty || RegistryBusiness.get('companyActivity').touched) || RegistryBusiness.get('companyActivity').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-button id="bttSubmit" shape="round" type="submit" expand="full">Actualizar datos</ion-button>
                </form>
                <h3>Datos de la persona encargada</h3>
            </div>
            <!-- Formulario General -->
            <div class="P.Natural">

                <form [formGroup]="UpdatePNatural" (ngSubmit)="saveDataPNatural(UpdatePNatural.value)">
                    <ion-row>
                        <ion-col size-md="6" size-lg="3" size-sm="6" size-xs="12" size-xl="3">
                            <p>Nombres</p>
                            <ion-input formControlName="name"></ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.name">
                                    <div class="error-message"
                                        *ngIf="UpdatePNatural.get('name').hasError(validation.type) && (UpdatePNatural.get('name').dirty || UpdatePNatural.get('name').touched) || UpdatePNatural.get('name').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="6" size-lg="3" size-sm="6" size-xs="12" size-xl="3">
                            <p>Apellidos</p>
                            <ion-input formControlName="lastName"></ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.lastName">
                                    <div class="error-message"
                                        *ngIf="UpdatePNatural.get('lastName').hasError(validation.type) && (UpdatePNatural.get('lastName').dirty || UpdatePNatural.get('lastName').touched) || UpdatePNatural.get('lastName').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="6" size-lg="3" size-sm="6" size-xs="12" size-xl="3">
                            <p>Tipo de documento</p>
                            <ion-select formControlName="documentType" placeholder="Seleccionar" interface="popover">
                                <ion-select-option *ngFor="let option of options">
                                    <h2>{{ option }}</h2>
                                </ion-select-option>
                            </ion-select>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.documentType">
                                    <div class="error-message"
                                        *ngIf="UpdatePNatural.get('documentType').hasError(validation.type) && (UpdatePNatural.get('documentType').dirty || UpdatePNatural.get('documentType').touched) || UpdatePNatural.get('documentType').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="6" size-lg="3" size-sm="6" size-xs="12" size-xl="3">
                            <p>N° Documento</p>
                            <ion-input formControlName="document"></ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.document">
                                    <div class="error-message"
                                        *ngIf="UpdatePNatural.get('document').hasError(validation.type) && (UpdatePNatural.get('document').dirty || UpdatePNatural.get('document').touched) || UpdatePNatural.get('document').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>País</p>
                            <ion-select class="input-field" formControlName="country" placeholder="Seleccionar"
                                (ionChange)="oncountryChange()" interface="popover">
                                <ion-select-option *ngFor="let country of countries" [value]="country">
                                    {{country}}
                                </ion-select-option>
                            </ion-select>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.country">
                                    <div class="error-message"
                                        *ngIf="UpdatePNatural.get('country').hasError(validation.type) && (UpdatePNatural.get('country').dirty || UpdatePNatural.get('country').touched) || UpdatePNatural.get('country').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col id="department" size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Departamento</p>
                            <ion-select class="input-field" formControlName="department" placeholder="Seleccionar"
                                (ionChange)="departmentChange()" interface="popover">
                                <ion-select-option *ngFor="let department of Departmentchoose" [value]="department">
                                    {{department}}</ion-select-option>
                            </ion-select>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.department">
                                    <div class="error-message"
                                        *ngIf="UpdatePNatural.get('department').hasError(validation.type) && (UpdatePNatural.get('department').dirty || UpdatePNatural.get('department').touched) || UpdatePNatural.get('department').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col id="municipality" size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Municipio</p>
                            <ion-select class="input-field" formControlName="municipality" placeholder="Seleccionar"
                                interface="popover">
                                <ion-select-option *ngFor="let municipality of Municipalitychoose"
                                    [value]="municipality">
                                    {{municipality}}</ion-select-option>
                            </ion-select>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.municipality">
                                    <div class="error-message"
                                        *ngIf="UpdatePNatural.get('municipality').hasError(validation.type) && (UpdatePNatural.get('municipality').dirty || UpdatePNatural.get('municipality').touched) || UpdatePNatural.get('municipality').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Celular</p>
                            <ion-input formControlName="cellPhone"></ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.cellPhone">
                                    <div class="error-message"
                                        *ngIf="UpdatePNatural.get('cellPhone').hasError(validation.type) && (UpdatePNatural.get('cellPhone').dirty || UpdatePNatural.get('cellPhone').touched) || UpdatePNatural.get('cellPhone').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Teléfono</p>
                            <ion-input formControlName="telephone"></ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.telephone">
                                    <div class="error-message"
                                        *ngIf="UpdatePNatural.get('telephone').hasError(validation.type) && (UpdatePNatural.get('telephone').dirty || UpdatePNatural.get('telephone').touched) || UpdatePNatural.get('telephone').hasError(validation.type) && inputUntouched">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Dirección</p>

                            <ion-input (keypress)="eventHandler($event.keyCode)" formControlName="direction">
                            </ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.direction">
                                    <div class="error-message"
                                        *ngIf="UpdatePNatural.get('direction').hasError(validation.type) && (UpdatePNatural.get('direction').dirty || UpdatePNatural.get('direction').touched) || UpdatePNatural.get('direction').hasError(validation.type) && inputUntouched ">
                                        <ion-icon name="information-circle-outline"></ion-icon>
                                        &nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>

                    <ion-button id="bttSubmit" shape="round" type="submit" expand="full">Actualizar datos</ion-button>
                </form>

            </div>
        </div>
        <!-- Bttn Cambiar password  -->
        <div *ngIf="selectTabs == 'cambiar-password'">
            <h5>Perdio su contraseña, ¡No se preocupe! Nosotros le enviaremos un link de recuperación.</h5>
            <ion-button shape="round" id="change-password" (click)="sendLinkReset()">
                Restablecer contraseña
            </ion-button>

            <h5>Si no desea seguir siendo parte de nuestro equipo puede eliminar su cuenta aquí.</h5>
            <ion-button shape="round" id="change-password" (click)="deleteUserCurrent()">
                Borrar cuenta de usuario
            </ion-button>
        </div>
    </div>
</ion-content>