/*importa tipografias*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
a,h1,h2,h3,h4,h5,h6,p{
  font-family: "Poppins", sans-serif;
}
$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#97BF41;
$COLOR-title:#0e1b4d;

/*--------------------------------------------------------------
# toolbar 
--------------------------------------------------------------*/
ion-toolbar{
  --background:#0e1b4d;
 
}

  ion-menu-button{
    color: #fff;
    font-size: 30px;
}
.title {
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
/*--------------------------------------------------------------
# header 
--------------------------------------------------------------*/
#userImage{
    width: 150px;
    height: 150px;
    background-size: auto;
    border-radius: 100%;
    margin-left: 50%;
    opacity: 1;
    border: 2px solid #fff;
}
.name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    color: $COLOR-title;
}
.containers{
    // display: flex;
    margin-top: 8%;
}
#displayCounters{
    display: flex;
    -moz-box-align: center;
    // align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
}
#container{
    font-size: 22px;   
    color: $COLOR-title;
    margin-left: 12%;
}
h4{
    font-size: 22px;   
    color: grey;  
}
.userData{
    display: flex;
    // -moz-box-pack: center;
    // justify-content: center;
    padding: 24px;
    // border-bottom: 1px solid rgb(212, 227, 235);    
    // text-align: center;
}
h3{
    font-size: 20px;
    font-weight: bold;
     text-align: center;
     color: $COLOR-title;
     margin-top: 2%;
     margin-bottom: 5%;
  }
  p{
    color: $COLOR-title;
  }
// ---------------- image-upload ----------------------
.fileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  #icon-camera{
      height: 30px;
      width: 30px; 
      margin-top: 380%;
      margin-left: -110%;
      margin-bottom: 15px;
      color: $COLOR-title;
      cursor: pointer;
  }
.updateImage{
    bottom: 40px;
    position: absolute;
    left: 70px;
    transform: translate(50%, 50%);
    background: #fff;
    height: 32px;
    width: 32px;
    margin-left: 48%;
    cursor: pointer;
}
// .updateImage #icon-camera{
//     height: 30px;
//     width: 30px;
//     color: grey;
// }
// .image-upload > input {
//     visibility:hidden;
//     width:0;
//     height:0
// }

/*--------------------------------------------------------------
# inputs 
--------------------------------------------------------------*/
ion-input {
    --border-color: transparent!important;
    --highlight-height: 0;
    border: 2px solid #bebebe;
    border-radius: 4px;
    max-width: 380px;
    width: 100%;
    background-color: #fff;
    margin: 10px 0;
    height: 55px;
    border-radius: 5px;
  }
  ion-select {
    --border-color: transparent!important;
    --highlight-height: 0;
    border: 2px solid #bebebe;
    border-radius: 4px;
    max-width: 380px;
    width: 100%;
    background-color: #fff;
    margin: 10px 0;
    height: 55px;
    border-radius: 5px;
  }
.iconos{
    font-size: 20px;
}

#columnCounters{
    border-right: 1px solid #22c7fb; 
}

#department{
    display: none;
}
#municipality{
    display: none;
}
ion-label{
    color: $COLOR-title;
    font-weight: 500;
    }
    ion-icon{
        color: $COLOR-title;
        
        }
        form {
            padding: 0.2rem 0.2rem 0.2rem 0.2rem;
        }        
/*--------------------------------------------------------------
# botones 
--------------------------------------------------------------*/
#bttSubmit{
    --background: #97BF41;
    width: 18%;
    height: 49px;
    margin-left: 40%;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
  
    transition: 0.5s;
}
#bttSubmit:hover {
    --background: #c6dd93;
   
  }
  #change-password{
    --background: #97BF41;
    width: 21%;
    height: 49px;
    margin-left: 39%;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 2%;
    transition: 0.5s;
}
#change-password:hover {
    --background: #c6dd93;
   
  }

  /*--------------------------------------------------------------
# opciones cargar y contraseña 
--------------------------------------------------------------*/
  .text-evidencia{
text-align: center;
font-size: 22px;
color: $COLOR-title;
  }
  h5{
    text-align: center;
    font-size: 22px;
    color: grey;   
  }
  .cargar-file{
    margin-left: 35%;
    margin-top: 5%;
  }

// ---------------- card ----------------------

ion-card{
    --background: transparent;
    
}
// /*--------------------------------------------------------------
// # valid
// --------------------------------------------------------------*/
ion-input.ng-valid{
    border: 0.2px solid green;
    border-right: 0.2px solid green;
    }
    ion-input.ng-invalid.ng-touched{
    border: 0.2px solid red;
    border-right: 0.2px solid red;
    }
  
    ion-select.ng-valid{
      border: 0.2px solid green;
      border-right: 0.2px solid green;
      }
      ion-select.ng-invalid.ng-touched{
      border: 0.2px solid red;
      border-right: 0.2px solid red;
      }
    .error-message{
      color: #FF0000;
      font-size: 14px;
      ion-icon{
        color: #FF0000;
      font-size: 14px;
      }
    }
  /*--------------------------------------------------------------
# Change with device Section
--------------------------------------------------------------*/
@media (min-width:1024px)and (max-width: 1350px) {
    #change-password{
        width: 25%;
        margin-left: 36%;
    }
    
    
}
@media (min-width:806px )and (max-width: 1023px) {
    #userImage{
        margin-left: 13%;
    }
    #bttSubmit{     
        width: 25%;
        margin-left: 38%;
        
    }
    #change-password{
        width: 32%;
        margin-left: 32%;
    }
    .containers{
        margin-top: 15%;
    }
    
    // ---------------- image-upload ----------------------
    .updateImage{
        left: -55px;  
    }
  }
  @media (min-width: 751px) and (max-width: 805px){
    #userImage{
        margin-left: 13%;
    }
    #bttSubmit{     
        width: 25%;
        margin-left: 38%;
        
    }
    #change-password{
        width: 32%;
        margin-left: 32%;
    }
    
    .containers{
        margin-top: 15%;
    }
    
    // ---------------- image-upload ----------------------
    .updateImage{
        left: -55px;  
    }

  }
  @media (min-width: 678px) and (max-width: 750px){
    #userImage{
        margin-left: 13%;
    }
        #bttSubmit{     
            width: 40%;
            margin-left: 30%;
            
        }
        #change-password{
            width: 40%;
            margin-left: 28%;
        }
        
    .containers{
        margin-top: 15%;
    }
    
    // ---------------- image-upload ----------------------
    .updateImage{
        left: -55px;  
    }

          .cargar-file{
            margin-left: 25%;
            margin-top: 5%;
          }
  }
  @media (min-width: 647px) and (max-width: 677px){
    #userImage{
        margin-left: 33%;
    }
    .name {
        font-size: 20px;
       text-align: center;
    }
    .containers{
        margin-top: 20%;
    }
    #container{
        font-size: 20px;
       text-align: center;
       margin-left: 0%;
    }
    h4{
        font-size: 20px;
       text-align: center;
    }
    
    // .text-seg{
    //     display: none;
    // }
    // .iconos{
    //     display: inline;
    // }
    // ---------------- image-upload ----------------------
    .updateImage{
        left: -10px;  
    }
// ---------------- botones----------------------
#bttSubmit{     
    width: 40%;
    margin-left: 30%;
    
}
#change-password{
    width: 40%;
    margin-left: 28%;
}



    .text-evidencia{
        font-size: 18px;

          }
          h5{
            text-align: justify;
            font-size: 16px;
          }
          .cargar-file{
            margin-left: 20%;
            margin-top: 5%;
          }
  }
  @media (min-width: 576px) and (max-width: 646px){
    #userImage{
        margin-left: 33%;
    }
    .name {
        font-size: 20px;
       text-align: center;
    }
    .containers{
        margin-top: 20%;
    }
    #container{
        font-size: 20px;
       text-align: center;
       margin-left: 0%;
    }
    h4{
        font-size: 20px;
       text-align: center;
    }
    
    .text-seg{
        display: none;
    }
    .iconos{
        display: inline;
    }
    // ---------------- image-upload ----------------------
    .updateImage{
        left: -10px;  
    }
// ---------------- botones----------------------
#bttSubmit{     
    width: 40%;
    margin-left: 30%;
    
}
#change-password{
    width: 50%;
    margin-left: 25%;
}

    .text-evidencia{
        font-size: 18px;

          }
          h5{
            text-align: justify;
            font-size: 16px;
          }
          .cargar-file{
            margin-left: 20%;
            margin-top: 5%;
          }
  }
  @media (min-width: 480px) and (max-width: 575px){
    #userImage{
        margin-left: 33%;
    }
    .name {
        font-size: 20px;
       text-align: center;
    }
    
    #container{
        font-size: 20px;
       text-align: center;
       margin-left: 0%;
    }
    h4{
        font-size: 20px;
       text-align: center;
    }
    
    .text-seg{
        display: none;
    }
    .iconos{
        display: inline;
    }
    // ---------------- image-upload ----------------------
    .updateImage{
        left: -10px;  
    }
// ---------------- botones----------------------
#bttSubmit{     
    width: 40%;
    margin-left: 28%;
    
}
#change-password{
    width: 60%;
    margin-left: 20%;
}


    .text-evidencia{
        font-size: 18px;

          }
          h5{
            text-align: justify;
            font-size: 16px;
          }
          .cargar-file{
            margin-left: 0%;
            margin-top: 5%;
          }
        
  }
  @media (min-width: 361px) and (max-width: 479px){
    #userImage{
        margin-left: 30%;
    }
    .name {
        font-size: 20px;
       text-align: center;
    }
    
    #container{
        font-size: 20px;
       text-align: center;
       margin-left: 0%;
    }
    h4{
        font-size: 20px;
       text-align: center;
    }
    
    .text-seg{
        display: none;
    }
    .iconos{
        display: inline;
    }
    // ---------------- image-upload ----------------------
    .updateImage{
        left: -10px;  
    }
// ---------------- botones----------------------
#bttSubmit{     
    width: 48%;
    margin-left: 28%;
    
}
#change-password{
    width: 66%;
    margin-left: 18%;
}

    .text-evidencia{
        text-align: justify;
        font-size: 18px;

          }
          h5{
            text-align: justify;
            font-size: 16px;
          }
          .cargar-file{
            margin-left: 0%;
            margin-top: 5%;
          }
        
  }
  @media (min-width: 240px) and (max-width: 360px){
    #userImage{
        margin-left: 20%;
    }
    .name {
        font-size: 20px;
       text-align: center;
    }
    .title {
        font-size: 20px;
      }
    #container{
        font-size: 20px;
       text-align: center;
       margin-left: 0%;
    }
    h4{
        font-size: 20px;
       text-align: center;
    }
    
    .text-seg{
        display: none;
    }
    .iconos{
        display: inline;
    }
    // ---------------- image-upload ----------------------
    .updateImage{
        left: -10px;  
    }
// ---------------- botones----------------------
    #bttSubmit{     
        width: 60%;
        margin-left: 18%;
        
    }
    #change-password{
        width: 80%;
        margin-left: 10%;
    }

    .text-evidencia{
        text-align: justify;
        font-size: 18px;

          }
          h5{
            text-align: justify;
            font-size: 16px;
          }
          .cargar-file{
            margin-left: 0%;
            margin-top: 5%;
          }
        
  }