<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <h2>Nuestros patrocinadores</h2>
</ion-toolbar>

<ion-content>
  <section id="project">
    <ion-row class="main">
      <ion-col size-md="3" size-lg="3" size-sm="4" size-xs="6" size-xl="3">
        <ion-card>
          <ion-card-header style="align-items: center">
            <img src="../assets/sponsor/paula.jpeg">
          </ion-card-header>
          <ion-card-content>
            <h3>Paula Andrea Mendoza</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="3" size-lg="3" size-sm="4" size-xs="6" size-xl="3">
        <ion-card>
          <ion-card-header>
            <img src="../assets/sponsor/jahir.jpeg">
          </ion-card-header>
          <ion-card-content>
            <h3>Jahir Augusto Saavedra</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="3" size-lg="3" size-sm="4" size-xs="6" size-xl="3">
        <ion-card>
          <ion-card-header>
            <img src="../assets/sponsor/luis.jpeg">
          </ion-card-header>
          <ion-card-content>
            <h3>Luis Reina Villamizar</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="3" size-lg="3" size-sm="4" size-xs="6" size-xl="3">
        <ion-card>
          <ion-card-header>
            <img src="../assets/sponsor/walter.jpg">
          </ion-card-header>
          <ion-card-content>
            <h3>Walter Pardavé Livia</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="3" size-lg="3" size-sm="4" size-xs="6" size-xl="3">
        <ion-card>
          <ion-card-header>
            <img src="../assets/sponsor/oscar.jpeg">
          </ion-card-header>
          <ion-card-content>
            <h3>Oscar Mauricio Casas</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="3" size-lg="3" size-sm="4" size-xs="6" size-xl="3">
        <ion-card>
          <ion-card-header>
            <img src="../assets/sponsor/tatiana.jpg">
          </ion-card-header>
          <ion-card-content>
            <h3>Slendy Tatiana Pabón</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="3" size-lg="3" size-sm="4" size-xs="6" size-xl="3">
        <ion-card>
          <ion-card-header>
            <img src="../assets/sponsor/brian.jpeg">
          </ion-card-header>
          <ion-card-content>
            <h3>Brian Ardila Aparicio</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="3" size-lg="3" size-sm="4" size-xs="6" size-xl="3">
        <ion-card>
          <ion-card-header>
            <img src="../assets/sponsor/nuevo.jpg">
          </ion-card-header>
          <ion-card-content>
            <h3 class="reservado" routerLink="/carbonfootprintform">Reservado para usted</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </section>
</ion-content>