$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#97BF41;
$COLOR-title:#0e1b4d;
$COLOR-HOVER-GREEN: #c6dd93;
$red:rgb(245, 185, 185);
/*importa tipografias*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# toolbar Section
--------------------------------------------------------------*/
ion-menu-button {
  color: #fff;
  font-size: 30px;
}

ion-toolbar {
  --background: #0e1b4d;
}

h2 {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

/*--------------------------------------------------------------
# content Section
--------------------------------------------------------------*/
.main {
  width: 100%;
  //margin: 0 auto;
}
img{
  height: 150px;
  width: 50%;
  margin: auto;
  display: block;
  border-radius: 5px;
  margin-top: 4%;
}

ion-card-header {
  height: 60%;
  width: 100%;
  padding: 0 0 0 0;
  vertical-align: middle;
}

ion-card {
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.5);
}

ion-card-content {
  //padding: 1rem;
  width: 100%;
  height: 100%;
  //background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
  // background: $COLOR-SECUNDARY;
  background: #fff;
}
.reservado{
  font-size: 20px;
  color: $COLOR-title;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}
h3 {
  font-size: 20px;
  color: $COLOR-title;
  font-weight: bold;
  text-align: center;
}

/*--------------------------------------------------------------
# responsive Section
--------------------------------------------------------------*/
@media (min-width:1023)and (max-width: 1350) {
  img{
    height: 150px;
    width: 90%;

  }
}

@media (min-width:806px)and (max-width: 1023px) {
  ion-card-content {

    height: 80px;
  }
  img{
    height: 180px;
    width: 90%;

  }
}

@media (min-width: 751px) and (max-width: 805px) {
  ion-card-content {

    height: 80px;
  }
  img{
    height: 150px;
    width: 80%;

  }
}

@media (min-width: 678px) and (max-width: 750px) {
  img{
    height: 200px;
    width: 80%;

  }
}

@media (min-width: 647px) and (max-width: 677px) { 
  img{
  height: 200px;
  width: 80%;

}}

@media (min-width: 576px) and (max-width: 646px) {
  ion-card-content {

    height: 80px;

  }
  img{
    height: 170px;
    width: 80%;

  }
}

@media (min-width: 480px) and (max-width: 575px) {
  ion-card-content {

    height: 60px;
  }
  img{
    height: 200px;
    width: 80%;

  }
  
}

@media (min-width: 361px) and (max-width: 479px) {
  h3 , .reservado{
    font-size: 15px;
  }
  img{
    height: 150px;
    width: 80%;
  }
  
  h2 {
    font-size: 22px;
  }
}

@media (min-width: 240px) and (max-width: 360px) {
  h2 {
    font-size: 18px;
  }
  img{
    height: 150px;
    width: 80%;

  }
  
  ion-card-content {
    height: 80px;
  }

  h3 , .reservado {
    font-size: 15px;
  }

}