/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.my-modal-css .modal-wrapper{
    height: 80%;
    width: 95%;
    position: absolute;
    top: 10%;
}
.my-modal2-css .modal-wrapper{
    height: 60%;
    width: 65%;
    position: absolute;
    top: 10%;
    left: 15%;
}
.my-modal-admin-css .modal-wrapper{
    height: 75%;
    width: 65%;
    position: absolute;
    top: 10%;
    left: 15%;
}
.my-emailv-css .modal-wrapper{
    height: 50%;
    width: 60%;
    position: absolute;
    top: 10%;
    //left: 15%;
}
.my-modal-galery-css .modal-wrapper{
    height: 100%;
    width: 80%;
    position: absolute;
    top: 2%;
    //left: 15%;
}
.my-custom-class{
    --color:#fff;
    border-radius: 5px;
    font-size: 18px;
}
:root {
    .popover-content {
        //left: 0 !important;
        width: 50%;
    }
}
.alert-checkbox-label.sc-ion-alert-md,
.alert-checkbox-label.sc-ion-alert-ios {
   white-space: normal;
}
.alert-tappable.alert-checkbox {
   height: auto;
   contain: content;
}
@media (min-width: 1024px) and (max-width: 1350px) {
:root {
    .popover-content {
        //left: 0 !important;
        width: 50%;
    }
}
.my-emailv-css .modal-wrapper{
    height: 55%;
    width: 80%;
    position: absolute;
    top: 10%;
    //left: 15%;
}
.my-custom-class{
    --color:#fff;
    border-radius: 5px;
    font-size: 18px;
}
}

@media (min-width:806px )and (max-width: 1023px) {
    :root {
        .popover-content {
            left: 10% !important;
            width: 50%;
        }
        .popover-content ion-list ion-label
    {
    font-size:16px !important;
    } 
    }
    .my-emailv-css .modal-wrapper{
        height: 50%;
        width: 80%;
        position: absolute;
        top: 10%;
        //left: 15%;
    }
    .my-modal-galery-css .modal-wrapper{
        height: 100%;
        width: 100%;
        position: absolute;
        // top: 10%;
        left: 0%;
    }
    .my-custom-class{
        --color:#fff;
        border-radius: 5px;
        font-size: 18px;
    }
    .my-emailv-css .modal-wrapper{
        height: 55%;
        width: 80%;
        position: absolute;
        top: 10%;
        //left: 15%;
    }
}
@media (min-width: 751px) and (max-width: 805px){
    :root {
        .popover-content {
            left: 10% !important;
            width: 60%;
        }
        .popover-content ion-list ion-label
    {
    font-size:16px !important;
    } 
    }
    .my-emailv-css .modal-wrapper{
        height: 55%;
        width: 80%;
        position: absolute;
        top: 10%;
        //left: 15%;
    }
    .my-custom-class{
        --color:#fff;
        border-radius: 5px;
        font-size: 18px;
    }
}
@media (min-width: 678px) and (max-width: 750px){
    :root {
        .popover-content {
            left: 10% !important;
            width: 60%;
        }
        .popover-content ion-list ion-label
    {
    font-size:16px !important;
    } 
    }
    .my-modal-galery-css .modal-wrapper{
        height: 100%;
        width: 100%;
        position: absolute;
        // top: 10%;
        left: 0%;
    }
    .my-emailv-css .modal-wrapper{
        height: 55%;
        width: 80%;
        position: absolute;
        top: 10%;
        //left: 15%;
    }
    .my-custom-class{
        --color:#fff;
        border-radius: 5px;
        font-size: 18px;
    }
}
@media (min-width: 647px) and (max-width: 677px){
    :root {
        .popover-content {
            left: 10% !important;
            width: 60%;
        }
        .popover-content ion-list ion-label
    {
    font-size:16px !important;
    } 
    }
    .my-modal-galery-css .modal-wrapper{
        height: 100%;
        width: 100%;
        position: absolute;
        // top: 10%;
        left: 0%;
    }
    .my-emailv-css .modal-wrapper{
        height: 55%;
        width: 80%;
        position: absolute;
        top: 10%;
        //left: 15%;
    }
    .my-custom-class{
        --color:#fff;
        border-radius: 5px;
        font-size: 18px;
    }
}
@media (min-width: 576px) and (max-width: 646px){
    :root {
        .popover-content {
            left: 10% !important;
            width: 80%;
        }
        .popover-content ion-list ion-label
    {
    font-size:16px !important;
    } 
    }
    .my-modal2-css .modal-wrapper{
        height: 50%;
        width: 100%;
        position: absolute;
        top: 5%;
        left: 0%;
    }
    .my-modal-galery-css .modal-wrapper{
        height: 100%;
        width: 100%;
        position: absolute;
        // top: 10%;
        left: 0%;
    }
    .my-emailv-css .modal-wrapper{
        height: 60%;
        width: 80%;
        position: absolute;
        top: 10%;
        //left: 15%;
    }
    .my-custom-class{
        --color:#fff;
        border-radius: 5px;
        font-size: 18px;
    }
}
@media (min-width: 480px) and (max-width: 575px){
    :root {
        .popover-content {
            left: 10% !important;
            width: 80%;
        }
        .popover-content ion-list ion-label
    {
    font-size:14px !important;
    } 
    }
    .my-modal2-css .modal-wrapper{
        height: 50%;
        width: 100%;
        position: absolute;
        top: 5%;
        left: 0%;
    }
    .my-modal-galery-css .modal-wrapper{
        height: 100%;
        width: 100%;
        position: absolute;
        // top: 10%;
        left: 0%;
    }
    .my-emailv-css .modal-wrapper{
        height: 70%;
        width: 80%;
        position: absolute;
        top: 10%;
        //left: 15%;
    }
    .my-custom-class{
        --color:#fff;
        border-radius: 5px;
        font-size: 18px;
    }
}
@media (min-width: 361px) and (max-width: 479px){
    :root {
        .popover-content {
            left: 0 !important;
            width: 100%;
        }
        .popover-content ion-list ion-label
    {
    font-size:14px !important;
    } 
    }
    .my-modal2-css .modal-wrapper{
        height: 50%;
        width: 100%;
        position: absolute;
        top: 5%;
        left: 0%;
    }
    .my-modal-galery-css .modal-wrapper{
        height: 100%;
        width: 100%;
        position: absolute;
        // top: 10%;
        left: 0%;
    }
    .my-emailv-css .modal-wrapper{
        height: 70%;
        width: 80%;
        position: absolute;
        top: 10%;
        //left: 15%;
    }
    .my-custom-class{
        --color:#fff;
        border-radius: 5px;
        font-size: 18px;
    }
}
@media (min-width: 240px) and (max-width: 360px){
    :root {
        .popover-content {
            left: 0 !important;
            width: 100%;
        }
        .popover-content ion-list ion-label
    {
    font-size:12px !important;
    } 
    }
    .my-modal2-css .modal-wrapper{
        height: 40%;
        width: 100%;
        position: absolute;
        top: 5%;
        left: 0%;
    }
    .my-emailv-css .modal-wrapper{
        height: 80%;
        width: 100%;
        position: absolute;
        top: 10%;
        //left: 15%;
    }
    .my-modal-galery-css .modal-wrapper{
        height: 100%;
        width: 100%;
        position: absolute;
        // top: 10%;
        left: 0%;
    }
    .my-custom-class{
        --color:#fff;
        border-radius: 5px;
        font-size: 18px;
    }
}