$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#8CBF3F;
$COLOR-title:#0e1b4d;
/*importa tipografias*/
  @import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
  a,h1,h2,h3,h4,h5,h6,p{
    font-family: "Poppins", sans-serif;
  }

// .galeria{
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
  
//   .galeria:hover{
//     transform: scale(1.1);
//   }
  /*--------------------------------------------------------------
  # buttons Section
  --------------------------------------------------------------*/
  .botones{

    ion-icon{
        font-size: 30px;
        color: $COLOR-title
    }
    --background: transparent;
}
ion-button{
  font-size: 15px;
  color: $COLOR-title;
  }
  /*--------------------------------------------------------------
  # toolbar Section
  --------------------------------------------------------------*/
.toolbar {
  --ion-toolbar-background: white;
  --ion-toolbar-color: var(--ion-color-primary-contrast);
}
 /*--------------------------------------------------------------
  # content Section
  --------------------------------------------------------------*/
.image {
  // height: 40%;
  // width: 65%;
  height: 100%;
  //   width: 49%;
  width: 101%;
  cursor: zoom-in;
}

@media screen and (max-width: 600px) {
  .image {
    height: 100%;
    width: 95%;
    cursor: zoom-in;
  }
  ion-button{
    font-size: 10px;
    }
}

.thumb-avatar-slide {
  width: 38px;
  height: 50px;
  // opacity: 0.4;
  border: 1px solid #f1f8fe;
  margin: 10px;
}

.thumb-avatar-slide:hover {
  opacity: 1;
  box-shadow: 1px solid black;
  border: 2px solid #21277b;
}

.fullscreen {
  max-width: none !important;
}