<ion-content fullscreen>
  <!-- <ion-item id="item" class="botones">
    <ion-button (click)="cerrarModal()" fill="clear">
      <ion-icon name="close"></ion-icon>
    </ion-button>

    <ion-button (click)="zoom(true)" fill="clear">
      <ion-icon name="add">in</ion-icon>
    </ion-button>
    <ion-button (click)="zoom(false)" fill="clear">
      <ion-icon name="remove">out</ion-icon>
    </ion-button>
  </ion-item>  -->

  <!-- <ion-slides [options]="slideOpts" #slider>
<ion-slide>
  <div class="swiper-zoom-container" > 
    <img src="../assets/images/{{img}}" >
  </div>
</ion-slide>
  </ion-slides> -->
  <!-- <ion-grid>
    <ion-row>
        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="6" size-xl="4">
            <img class="galeria" src="../assets/images/fondo.jpg" alt=""  >
        </ion-col>
    </ion-row>
</ion-grid> -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item id="item" class="botones">
          <ion-button (click)="cerrarModal()" fill="clear">
            <ion-icon name="close"></ion-icon>
          </ion-button>

          <ion-button (click)="zoom(true)" fill="clear">
            <ion-icon name="add">in</ion-icon> Acercar
          </ion-button>
          <ion-button (click)="zoom(false)" fill="clear">
            <ion-icon name="remove">out</ion-icon> Alejar
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="8" size-xl="8">
            <ion-slides loop="true" [options]="sliderOpts" #slider #slideWithNav>
              <ion-slide *ngFor="let img of imagenes">
                <div class="swiper-zoom-container">
                  <img class="image" src="{{ img }}" />
                </div>
              </ion-slide>
            </ion-slides>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="4" size-xl="4">
            <ion-row>
              <ion-col size="3" (click)="slideTo(i)" *ngFor="let img of imagenes; let i = index">
                <img style="padding-left: 0px; padding-right: 0px;" class="thumb-avatar-slide " src="{{ img }}" />
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>